Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

use browser locale as locale
  apps/web/src/app/layout.tsx
Labels: web

remove UserLocaleSetter
  apps/web/src/app/layout.tsx
  apps/web/src/app/user-locale-setter.tsx
Labels: web

removed getLocale
  apps/web/src/app/layout.tsx
Labels: web

Update apps/web/src/app/user-locale-setter.tsx
  apps/web/src/app/user-locale-setter.tsx
Labels: web

ad accounts button replace
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

172 locale and language split (#433)
  apps/web/src/app/layout.tsx
Labels: web

order spend by euro
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240828121014_spend_eur/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/cacheable.ts
Labels: infrastructure, server, web

order spend by euro (#449)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240828121014_spend_eur/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/cacheable.ts
Labels: infrastructure, server, web

center iframes on insight card
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

minor fixes on meta iframe sizes
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

searchable dropdowns
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: web

searchable dropdowns (#455)
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: web

center iframes on insight card (#452)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

ad accounts button replace (#448)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

spend and impressions are now bigint in db
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240828155349_datapoints_bigint/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

spend and impressions are now bigint in db (#457)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240828155349_datapoints_bigint/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Use raw query for back populate spend_eur
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

Use raw query for back populate spend_eur (#458)
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

Use raw query unsafe for back populate spend_eur
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

Use raw query unsafe for back populate spend_eur (#459)
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

use icon for device in insights card
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/util/insights-utils.ts
Labels: web

device on insight card
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

insight card visual improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

ux improvement for search in ad accounts to include in integration
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: web

remove historic spend Eur population
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240829072304_remove_currency_convertion/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

remove historic spend Eur population (#464)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240829072304_remove_currency_convertion/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

insight card visual improvements (#461)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

don't show adAccounts with 0 ads
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

don't show adAccounts with 0 ads (#472)
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

ux improvement for search in ad accounts to include in integration (#463)
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: web

disable org creation for non-root org
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

fix disabled state for the case of having no org
  apps/web/src/components/buttons/create-organization-button.tsx
Labels: web

don't allow in the backend the creation of sub-sub organizations
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

disabled instead of hidden
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/buttons/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

444-sub-organizations-should-not-be-able-to-create-new-sub-sub-organizations (#474)
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/buttons/create-organization-button.tsx
Labels: server, web

on filtering & grouping changes, return results from the 1st page
  apps/web/src/util/url-query-utils.ts
Labels: web

Add instagram explore iFrame dimensions
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

on filtering & grouping changes, return results from the 1st page (#475)
  apps/web/src/util/url-query-utils.ts
Labels: web

mobile web unique icon
  apps/web/src/util/insights-utils.ts
Labels: web

device on insight card (#456)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/util/insights-utils.ts
Labels: web
