Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

invite users disable button & members counter based on current tier plan
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  packages/mappings/src/name-mapping.ts
Labels: web

446 sub organization include existing organization users (#497)
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

action fixes
  apps/web/src/app/(authenticated)/organization/actions.ts
Labels: web

remove comment
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

action fixes
  apps/web/src/app/(authenticated)/organization/actions.ts
Labels: web

remove comment
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

warning fix
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

Pr fixes 1 (#508)
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

sub-organizations have the tier of their parent
  apps/server/src/contexts/organization.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240908065953_not_default_tier/migration.sql
  packages/database/prisma/schema.prisma
  packages/mappings/src/tier-mapping.ts
Labels: server

sub-organizations have the tier of their parent (#510)
  apps/server/src/contexts/organization.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240908065953_not_default_tier/migration.sql
  packages/database/prisma/schema.prisma
  packages/mappings/src/tier-mapping.ts
Labels: server

minor fixes
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  packages/mappings/src/tier-mapping.ts
Labels: web

invite users disable button & members counter based on current tier plan (#507)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

setup bimi
  apps/web/public/logo.svg
  apps/web/src/middleware.ts
  infrastructure/modules/environment/route53.tf
Labels: infrastructure, web

setup bimi
  apps/landing-page/public/images/logo/logo.svg
  apps/web/public/logo.svg
  apps/web/src/middleware.ts
Labels: web

setup bimi
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

setup bimi
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

fix dark mode in logo.svg
  apps/landing-page/public/images/logo/logo.svg
Labels: none

bimi does not support dark mode
  apps/landing-page/public/images/logo/bimi-logo.svg
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

log the iframe with a ref
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

disconnect linkedIn integration on error
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

disconnect linkedIn integration on error (#515)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

new charts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

chart improvements to show different metrics against each other
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

disconnect linkedIn integration on error
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

disconnect linkedIn integration on error (#519)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

max depth fix in edit profile form
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

framer motion install & basic usage in add-users-modal
  apps/web/package.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Labels: web

max depth fix in edit profile form (#521)
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

fix auto-update action
  .github/workflows/auto-update.yml
Labels: automation

ui improvements
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

500 chart improvement (#518)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

add Iresha
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

framer motion install & basic usage in add-users-modal (#522)
  apps/web/package.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Labels: web

add Vlad
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

lint fix
  packages/organization/src/organization.ts
Labels: none

limit integration and added switchTier endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  pnpm-lock.yaml
Labels: server, web

refactoring/updates in user removal logic
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  packages/organization/package.json
  packages/organization/src/organization.ts
Labels: server, web

refactoring
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/organization/.eslintrc.cjs
  packages/organization/package.json
  packages/organization/src/index.ts
  packages/organization/src/organization.ts
  packages/organization/tsconfig.json
  pnpm-lock.yaml
Labels: server

refactoring
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

refactoring
  packages/organization/src/organization.ts
Labels: none

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
