Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

authenticated translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

ad iframe popover & loader customization via props
  apps/web2/src/app/(authenticated)/insights/components/ad-popover.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/components/misc/loader-centered.tsx
Labels: none

root url redirect
  apps/web2/src/middleware.ts
Labels: none

Update apps/web2/package.json
  apps/web2/package.json
Labels: none

garbage
  apps/web2/package-lock.json
Labels: none

replaced pngs with svgs
  apps/web2/public/integrations/facebook-logo-icon.svg
  apps/web2/public/integrations/linkedin-logo-icon.svg
  apps/web2/public/integrations/meta-logo-icon.svg
  apps/web2/public/integrations/tiktok-logo-icon.svg
  apps/web2/public/wide-logo.svg
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/assets/images/linkedin-logo.png
  apps/web2/src/assets/images/meta-logo.png
  apps/web2/src/assets/images/tiktok-logo.png
Labels: none

insight card layout changes & auth improvements
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

minor translation fix (no results found)
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

cpm in charts
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: none

favicon
  apps/web/src/app/favicon.ico
  apps/web2/src/app/favicon.ico
Labels: web

language options & cookie server actions
  apps/web2/src/app/actions.ts
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

update language & base page controls
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
Labels: none

settings fixes & fr + nl translations
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/i18n.ts
Labels: none

ci/cd fix for prod
  apps/web2/.env.production
Labels: none

initial group filters
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/atoms/user-atoms.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

chart contain fix
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: none

page load suspense in main layout & multifilter pending state
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
Labels: none

currency util & chart translations
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/util/generic-utils.ts
Labels: none

minor translation
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: none

aws
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  aws/README.md
  aws/THIRD_PARTY_LICENSES
  aws/install
Labels: none

page controls utilizing hasNext
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
Labels: none

google login
  apps/web2/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web2/src/app/(unauthenticated)/sign-in/components/google-login-icon.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
Labels: none

datapoints fixes for new interval response handling
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
Labels: none

smooth transitions
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: none

Update apps/web2/package.json
  apps/web2/package.json
Labels: none

zod form validation in sign in & sign up
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

insight card layout fix & grid key fix
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

forgot password flow
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web2/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/api/auth/forgot-password/route.ts
  apps/web2/src/app/api/auth/reset-password/route.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/schemas/login-schemas.ts
Labels: none

page param handling for grouping update
  apps/web2/src/util/url-query-utils.ts
Labels: none

default loading.tsx
  apps/web2/src/app/(authenticated)/loading.tsx
Labels: none

cleaner js
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: none

use turbo pack
  apps/web2/package.json
Labels: none

currency type fixes & removed deprecated entities
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/graphql/login.graphql
  apps/web2/src/util/generic-utils.ts
Labels: none

basic charts
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

middleware matcher change to use recommended setting
  apps/web2/src/middleware.ts
Labels: none

removed iframe from insights.graphql
  apps/web2/src/graphql/insights.graphql
Labels: none

Update apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
Labels: none

google login refactor & config changes
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/web2/src/app/(unauthenticated)/actions.ts
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/api/auth/reset-password/route.ts
  apps/web2/src/app/api/auth/sign-in/route.ts
  apps/web2/src/app/api/auth/sign-up/route.ts
  apps/web2/src/env.mjs
  apps/web2/src/lib/urql/urql-client.ts
  apps/web2/src/middleware.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Labels: server

removed old libraries
  apps/web2/package.json
Labels: none

cleaner js
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: none
