Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

bring back sentry in the BE (#258)
  .github/workflows/ci.yml
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Labels: automation, server

sourcemaps
  apps/server/package.json
  pnpm-lock.yaml
Labels: server

weird staff
  .github/workflows/ci.yml
Labels: automation

add repo/utils to channel-ingress lambda
  apps/channel-ingress/package.json
  pnpm-lock.yaml
Labels: none

echo printenv from pnpm
  .github/workflows/ci.yml
  apps/server/package.json
Labels: automation, server

echo printenv from pnpm build
  .github/workflows/ci.yml
  apps/server/package.json
Labels: automation, server

echo printenv from pnpm build outer
  apps/server/package.json
  package.json
Labels: server

echo printenv from pnpm build outer
  package.json
Labels: none

add sentry to turbo.json
  apps/server/package.json
  package.json
  turbo.json
Labels: server

add server sourcemaps
  apps/server/package.json
  turbo.json
Labels: server

add channel-ingress sourcemaps
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
Labels: server

capture error in sentry in web
  apps/web/src/app/error.tsx
Labels: web

add sourcemaps in sentry (#256)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/web/src/app/error.tsx
  turbo.json
Labels: server, web

add SENTRY_AUTH_TOKEN in Dockerfile
  Lambda.Dockerfile
  apps/server/Dockerfile
Labels: server

add SENTRY_AUTH_TOKEN in Dockerfile (#261)
  Lambda.Dockerfile
  apps/server/Dockerfile
Labels: server

log all express calls
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  pnpm-lock.yaml
Labels: server, web

remove sentry from web and server
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/next.config.mjs
Labels: server, web

Revert "remove sentry from web and server"
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/next.config.mjs
Labels: server, web

Revert "log all express calls"
  apps/server/package.json
  apps/server/src/index.ts
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  pnpm-lock.yaml
Labels: server, web

typo
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
Labels: web

add heartbeat endpoint
  apps/server/src/index.ts
Labels: server

add heartbeat endpoint (#263)
  apps/server/src/index.ts
Labels: server

remove health check configuration
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

remove health check configuration (#264)
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

add tracePropagationTargets in server sentry
  apps/server/src/instrument.ts
Labels: server

test tracePropagationTargets
  apps/server/src/index.ts
  apps/server/src/instrument.ts
Labels: server

Revert "remove health check configuration (#264)"
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

remove old heartbeat endpoint
  apps/server/src/index.ts
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, server

remove tracePropagationTargets
  apps/server/src/instrument.ts
Labels: server

improve profile form error handling for server side errors
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

improve profile form error handling for server side errors (#265)
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

turbo pack is not compatible with sentry
  apps/web/package.json
Labels: web

turbo pack is not compatible with sentry (#267)
  apps/web/package.json
Labels: web

Revert "turbo pack is not compatible with sentry (#267)"
  apps/web/package.json
Labels: web

log MODE environment variable
  apps/web/next.config.mjs
  package.json
  pnpm-lock.yaml
Labels: web

log MODE environment variable (#268)
  apps/web/next.config.mjs
  apps/web/package.json
  package.json
  pnpm-lock.yaml
Labels: web

jotai for insights & better responsiveness of filters
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Labels: web

has next page atom for insights
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Labels: web

Update README.md
  README.md
Labels: documentation

add environments in sentry
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  apps/server/src/utils/lambda-utils.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/database/src/client.ts
  packages/mode/.eslintrc.cjs
  packages/mode/package.json
  packages/mode/src/index.ts
  packages/mode/tsconfig.json
  packages/utils/src/env-helper.ts
  pnpm-lock.yaml
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
