Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

redacted images
  apps/landing-page/public/images/features/features-dark-01.avif
  apps/landing-page/public/images/features/features-light-01.avif
  apps/landing-page/public/images/hero/hero-dark.avif
  apps/landing-page/public/images/hero/hero-light.avif
Labels: none

redacted images (#492)
  apps/landing-page/public/images/features/features-dark-01.avif
  apps/landing-page/public/images/features/features-light-01.avif
  apps/landing-page/public/images/hero/hero-dark.avif
  apps/landing-page/public/images/hero/hero-light.avif
Labels: none

add Dennis to developers in aws
  .idea/dataSources.xml
  infrastructure/environments/local/local_variables.tf
Labels: infrastructure

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

update commit/pr guidelines
  .github/commit_guidelines.md
Labels: automation

add backoffice in the pre-commit
  .husky/pre-commit
Labels: none

remove ecr.dkr vpc endpoint
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

feat: create tiers in organizations
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/schema.prisma
Labels: server, web

fix: udpated the suggested changes
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

capitalization
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/invite-operations.ts
Labels: server

generated sql
  packages/database/prisma/migrations/20240903172348_tier/migration.sql
Labels: server

add sign in button
  apps/landing-page/src/components/Header/index.tsx
Labels: none

text changes in translations + pricing
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

Landing page add signin button (#498)
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

feat: allow specific max users per Tier
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/user/invite-operations.ts
  packages/utils/src/index.ts
  packages/utils/src/tier-rules.ts
Labels: server

review: addressed review comments
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/user/invite-operations.ts
  packages/mappings/src/index.ts
  packages/mappings/src/tier-mapping.ts
  packages/utils/src/index.ts
  packages/utils/src/tier-rules.ts
Labels: server

refactoring
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/mappings/src/tier-mapping.ts
Labels: server

feat: allow specific max users per Tier (#496)
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/mappings/src/index.ts
  packages/mappings/src/tier-mapping.ts
Labels: server

add enable meta integration in README.md
  .idea/.gitignore
  README.md
Labels: documentation

remove ecr.api vpc endpoint
  .idea/dataSources.xml
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

remove the excess www route53 entry
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

Update apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

available users logic
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

improved error handling
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

add users handling improved
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

invite users disabled button
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

urql result signature
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

remove useless error logs
  apps/web/src/app/(authenticated)/organization/actions.ts
Labels: web

entire of flow of adding users to new org
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

add users with roles when creating an organization
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

improvement for initial users
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

reset users
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

add users to org presentation logic
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

warning remove
  apps/web/src/components/create-organization/add-users-modal.tsx
Labels: web

use only types from package/database
  packages/mappings/package.json
  packages/mappings/src/name-mapping.ts
  pnpm-lock.yaml
  turbo.json
Labels: none

use only types from package/database (#504)
  packages/mappings/package.json
  packages/mappings/src/name-mapping.ts
  pnpm-lock.yaml
  turbo.json
Labels: none

search ad account and ad by name - back end
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240907124231_index_names/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

search ad account and ad by name - back end (#505)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240907124231_index_names/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
