Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

introduce channel ingress lambda
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  infrastructure/environments/management/groups.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/service/service.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/data-refresh.ts
  packages/lambda-types/.eslintrc.cjs
  packages/lambda-types/package.json
  packages/lambda-types/src/index.ts
  packages/lambda-types/tsconfig.json
  packages/logger/package.json
  packages/logger/src/index.ts
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Labels: automation, infrastructure, server, web

delete insights before saving
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/utils/src/date-utils.ts
Labels: none

inline pinoLambdaDestination
  packages/logger/src/index.ts
Labels: server, web

inline pinoLambdaDestination (#65)
  packages/logger/src/index.ts
Labels: server, web

add mode env variable
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

add mode env variable (#66)
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

add lambda invoke permission to app runner
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

add lambda invoke permission to app runner (#67)
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

remove pid, hostname
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/logger/src/index.ts
Labels: infrastructure, server, web

remove pid, hostname (#68)
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/logger/src/index.ts
Labels: infrastructure, server, web

create error metrics
  .github/workflows/deploy-channel-ingress-production.yml
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

create slack notification
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/service/service_outputs.tf
Labels: infrastructure

add sns topic
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

create ses source identity
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/ses/ses.tf
Labels: infrastructure, server, web

use redis for forget password functionality
  apps/server/src/email.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240519100218_delete_forget_passwords_table/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: server

keep only ioredis client
  package.json
  packages/channel/src/integration-helper.ts
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/index.ts
  pnpm-lock.yaml
Labels: none

create insights id
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

create insights id (#71)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

fix logger in nextjs
  apps/web/next.config.mjs
  apps/web/package.json
  packages/logger/src/index.ts
  pnpm-lock.yaml
Labels: server, web

fix logger in nextjs (#72)
  apps/web/next.config.mjs
  apps/web/package.json
  packages/logger/src/index.ts
  pnpm-lock.yaml
Labels: server, web

revoke fb connection when token is expired
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
Labels: server, web

create fb call wrapper
  packages/channel-meta/src/channel-meta.ts
Labels: none

ingress from day of the last insight
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Labels: none

apply new last insight logic to deletion as well
  packages/channel-utils/src/insights-utils.ts
  packages/utils/src/date-utils.ts
Labels: none

date partitioning
  .github/workflows/ghcr-retention.yml
  apps/server/.eslintrc.cjs
  apps/server/eslint.tsconfig.json
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  package.json
  packages/channel-utils/src/iframe-meta-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: automation, server, web

add insightDatapoints
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/src/config.ts
Labels: automation, server, web

add insightDatapoints (#76)
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/src/config.ts
Labels: automation, server, web

implement forget password flow
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email-btn.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-no-params.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-with-params.tsx
  apps/web/src/app/[locale]/api/login/forgot-password/route.ts
  apps/web/src/app/[locale]/api/login/reset-password/route.ts
  apps/web/src/components/login/forgot-password.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/reset-password.tsx
  apps/web/src/components/login/sign-up.tsx
Labels: web

implement forget password flow (#77)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email-btn.tsx
  apps/web/src/app/[locale]/(login)/(forget)/forgot-password/success/reset-email.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/page.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-no-params.tsx
  apps/web/src/app/[locale]/(login)/(forget)/reset-password/reset-password-with-params.tsx
  apps/web/src/app/[locale]/api/login/forgot-password/route.ts
  apps/web/src/app/[locale]/api/login/reset-password/route.ts
  apps/web/src/components/login/forgot-password.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/reset-password.tsx
  apps/web/src/components/login/sign-up.tsx
Labels: web

clean up database
  apps/server/src/schema/integrations/insights-operations.ts
  package.json
  packages/database/prisma/migrations/20240528082354_make_columns_mandatory/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

enforce dateFrom filtering in insights
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Labels: server

introduce google login
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/user/google-login-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/toaster.tsx
  apps/web/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/[locale]/api/login/sign-in/route.ts
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240529090528_login_provider/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server, web

add rate limiter
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  packages/redis/src/ioredis.ts
Labels: server

allow channel de authentication on error
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
  turbo.json
Labels: infrastructure, web

allow channel de authentication on error (#81)
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
  turbo.json
Labels: infrastructure, web

fix google env vars
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: server

fix google env vars (#82)
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: server

add hasPrevious in insights call
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

add hasPrevious in insights call (#83)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

put .env in s3 and update readme
  README.md
Labels: documentation
