Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

add comments
  packages/channel/src/insights-query-builder.ts
Labels: none

TikTok and LinkedIn now save creatives (#684)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: server, web

678: don't join on tables that we don't need (#679)
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

fix google channel verification
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

validate linkedIn format as string
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

remove useless stuff
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

Update packages/channel/src/integration-helper.ts
  packages/channel/src/integration-helper.ts
Labels: none

641 graphql subscriptions + implementation on onboarding (#681)
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/subscriptions.tsx
  apps/web/src/app/urql-provider.tsx
  apps/web/src/lib/urql/urql-client-side-client.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/lib/urql/urql-options.ts
  apps/web/src/middleware.ts
  packages/channel/src/integration-helper.ts
  packages/pubsub/src/index.ts
Labels: server, web

refactored dbAccount logic for channel-google
  packages/channel-google/src/channel-google.ts
Labels: none

Implemented pagination
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

refactored
  packages/channel-google/src/channel-google.ts
  pnpm-lock.yaml
Labels: none

build fix
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

lint fix
  packages/channel/src/integration-helper.ts
Labels: none

initial setup
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
Labels: none

schema
  packages/channel-google/src/channel-google.ts
Labels: none

creatives channel-google
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
Labels: none

updated lock
  packages/channel-google/package.json
  pnpm-lock.yaml
Labels: none

Save creatives fix
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

refactoring
  packages/channel-google/src/channel-google.ts
Labels: none

manager account finder function/ refactoring
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/schema.ts
  packages/channel/src/integration-helper.ts
  turbo.json
Labels: none

removed unnecessary query values
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

authentication completed, added google-ads-api
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: server

enabled google
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

updated env
  turbo.json
Labels: none

removed duplicated schemas
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

added youtube ads fetch
  packages/channel-google/src/channel-google.ts
Labels: none

getAdPreview for google
  packages/channel-google/src/channel-google.ts
Labels: none

updated lock
  pnpm-lock.yaml
Labels: none

Added insights for google
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
Labels: server, web

handle expired or revoked token
  packages/channel-google/src/channel-google.ts
Labels: none

Added status
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

551 google data ingress (#628)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

add google in PublisherEnum
  packages/database/prisma/migrations/20241122142947_publiser_enm_google/migration.sql
Labels: server

add google chanel env vars
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

add google chanel env vars
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

add google chanel env vars
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

add google chanel env vars
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

Revert "add google chanel env vars"
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

Revert "Revert "add google chanel env vars""
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

Revert "551 google data ingress (#628)"
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
