Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

Updated test
  packages/channel/test/insights-query-builder.test.ts
Labels: none

updated logic for the insights
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Labels: server

updated logic
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

datapoints
  packages/channel/src/insights-query-builder.ts
Labels: none

updated tests/refactoring
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

expose spendUsd in insights
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: none

expose spendUsd in insights (#613)
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: none

Update README.md
  README.md
Labels: documentation

579 fix dateto and from in getinsights (#586)
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Labels: server

error linkedIn integration on revoke access token
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

error linkedIn integration on revoke access token (#616)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

changed summary chart to show insights per publisher at the same time + added color utils and color generator for generating unique colors + cleanup
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/color-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

chart filtering fixes
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Labels: web

loading state
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

get chart filters values refactor
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/util/insights-utils.ts
Labels: web

top ads per publisher instead of integration
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
Labels: web

search functionality on summary chart
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/search/types-and-utils.ts
Labels: web

Update apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Labels: web

fixed cpm ordering
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

improved top ads loading state
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

spendUsd implement
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

added publishers to summary chart & fixed filters layout alignment
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/types.ts
Labels: web

revert accidental middleware change
  apps/web/src/middleware.ts
Labels: web

Update apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Labels: web

naming improvement
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insights-grid.tsx
Labels: web

layout fix
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
Labels: web

naming fixes
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
Labels: web

chart metrics fix
  apps/web/src/util/url-query-utils.ts
Labels: web

insights query fix
  packages/channel/src/insights-query-builder.ts
Labels: none

598 fix summary view minor issues (#599)
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/search/types-and-utils.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/color-utils.ts
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/types.ts
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/insights-query-builder.ts
Labels: server, web

summary date & search now affects top ads too
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

use search and dateFrom in top ads
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

reduce computational load & requests
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

summary date & search now affects top ads too (#618)
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

fixed fetchPreviews param being removed in summary
  apps/web/src/util/url-query-utils.ts
Labels: web

Update README.md (#614)
  README.md
Labels: documentation

cache top ads and summary
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/middleware.ts
  packages/channel/src/data-refresh.ts
  packages/utils/src/date-utils.ts
Labels: web

fixed fetchPreviews param being removed in summary (#623)
  apps/web/src/util/url-query-utils.ts
Labels: web

cache top ads and summary (#606)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/middleware.ts
  packages/channel/src/data-refresh.ts
  packages/utils/src/date-utils.ts
Labels: web

capitalCase on the feedback type
  apps/server/src/schema/feedback/feedback-helper.ts
Labels: server

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
