Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

update prisma to v6 (migrations)
  packages/database/prisma/migrations/20241204123506_upgrade_to_v6/migration.sql
Labels: server

install dependencies on pnpm dev
  package.json
Labels: none

modals provider fix
  apps/web/src/app/layout.tsx
Labels: web

modals provider fix (#714)
  apps/web/src/app/layout.tsx
Labels: web

db stuff
  packages/database/package.json
  packages/database/prisma/migrations/20241124140716_notifications/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

optional comment mention creative id
  packages/database/prisma/migrations/20241124141432_notification_mention_optional/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

endpoints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

notifications
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241124141432_notification_mention_optional/migration.sql
  packages/database/prisma/migrations/20241124150120_receiving_user_id_rename/migration.sql
  packages/database/prisma/migrations/20241125171253_notifications/migration.sql
  packages/database/prisma/migrations/20241125171444_rename_user_ids/migration.sql
Labels: server, web

subscription implementation
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/schema.prisma
  packages/shared-types/src/index.ts
Labels: server, web

receivingUserId rename
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  packages/database/prisma/migrations/20241124150120_receiving_user_id_rename/migration.sql
  packages/database/prisma/migrations/20241124150256_rename_fix/migration.sql
  packages/database/prisma/schema.prisma
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
Labels: server

missing packages fixes
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

style select fix
  apps/web/src/components/notifications/notification-entry.module.scss
  apps/web/src/components/notifications/notifications-list.tsx
Labels: web

main notification to mention comments flow and view
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

new integration notification handle
  apps/web/src/components/notifications/notification-entry.tsx
Labels: web

main notifications flow without subscription implementation on FE
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/notifications-atom.ts
  apps/web/src/components/notifications/notification-entry.module.scss
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/util/color-utils.ts
  packages/database/prisma/schema.prisma
  packages/shared-types/src/index.ts
Labels: server, web

more type fixes
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
Labels: web

mention org users
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: server, web

translations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

notification extra data type
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241203151706_extra_data_type/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  packages/database/src/types.ts
Labels: server, web

mark notifications as read on hover individually
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/subscriptions.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/subscriptions.graphql
Labels: server, web

comment for later
  packages/channel/src/integration-helper.ts
Labels: none

lint fix
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
Labels: web

improvements
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  packages/database/prisma/migrations/20241203104310_notification_type_map_remove/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

insight util for headings and titles
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/util/insights-utils.ts
Labels: web

comment created at index
  apps/server/src/schema/builder.ts
  packages/database/prisma/migrations/20241203103012_comment_created_at_index/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

Update packages/database/package.json
  packages/database/package.json
Labels: server

prims json types
  packages/database/src/prisma/types.ts
Labels: server

remove useless endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
Labels: server, web

more lint fixes
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
Labels: web

extra data handling for comment mention redirect
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/subscriptions.graphql
Labels: web

insight cards same height improvement & added control of rendering individual components of instight card
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/components/insights/insight-card.tsx
Labels: web

tiptap editor for comments, implemented with mantine custom styles
  apps/web/src/components/insights/comments/comment-input/comment-input.tsx
  apps/web/src/components/insights/comments/comment-input/editor.scss
  apps/web/src/components/insights/comments/comment-input/mention-list.scss
  apps/web/src/components/insights/comments/comment-input/mention-list.tsx
  apps/web/src/components/insights/comments/comment-input/suggestion.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.module.scss
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/util/format-utils.ts
  packages/utils/src/shared-schemas.ts
  pnpm-lock.yaml
Labels: web

allow iframe fetching with creative id
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/(authenticated)/analytical/page.tsx
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

improvement
  packages/channel/src/integration-helper.ts
Labels: none

update notification dto
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

fix packages
  packages/channel/package.json
  pnpm-lock.yaml
Labels: none

extra data in notification
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241125171253_notifications/migration.sql
  packages/database/prisma/migrations/20241125171444_rename_user_ids/migration.sql
  packages/database/prisma/migrations/20241125201534_notifications/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/prisma/types.ts
  packages/database/tsconfig.json
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: server, web

fragments improvements and org request improvement
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/fragments.graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/graphql/user.graphql
Labels: web

remove migrations & fix organization types
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  packages/database/prisma/migrations/20241125201534_notifications/migration.sql
  packages/database/prisma/migrations/20241203103012_comment_created_at_index/migration.sql
  packages/database/prisma/migrations/20241203104310_notification_type_map_remove/migration.sql
  packages/database/prisma/migrations/20241203151706_extra_data_type/migration.sql
  packages/database/prisma/migrations/20241204102810_comment_indices_update/migration.sql
Labels: server, web

subscriptions component moved to auth routes only
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/layout.tsx
Labels: web
