Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

fix order by cpm
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

fix order by cpm (#94)
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

oauth completed
  apps/server/src/schema/integrations/integration-operations.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/.eslintrc.cjs
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-linkedin/src/index.ts
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, server

oauth completed (#95)
  apps/server/src/schema/integrations/integration-operations.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/.eslintrc.cjs
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-linkedin/src/index.ts
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, server

project init + sign in & sign up main layout
  apps/server/src/schema/codegen.ts
  apps/web2/.eslintrc.cjs
  apps/web2/.gitignore
  apps/web2/README.md
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/next.config.mjs
  apps/web2/package-lock.json
  apps/web2/package.json
  apps/web2/public/next.svg
  apps/web2/public/vercel.svg
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(authenticated)/settings/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/favicon.ico
  apps/web2/src/app/layout.tsx
  apps/web2/src/app/page.tsx
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/env.mjs
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/graphql/integration.graphql
  apps/web2/src/graphql/login.graphql
  apps/web2/src/i18n.ts
  apps/web2/src/lib/urql/urql-auth.ts
  apps/web2/src/lib/urql/urql-client.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/create-urql-requester.ts
  apps/web2/src/util/handle-urql-request.ts
  apps/web2/src/util/schemas/login-schemas.ts
  apps/web2/src/util/types.ts
  apps/web2/tsconfig.json
Labels: server

improved unauthenticated layout
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/components/misc/logo-full.tsx
Labels: none

insight card component + top filters layout
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

authentication & rerouting sign in
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
  apps/web2/src/app/api/auth/sign-up/route.ts
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/middleware.ts
  apps/web2/src/util/schemas/login-schemas.ts
Labels: none

user details & sign out logic
  apps/web2/src/app/(unauthenticated)/actions.ts
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.module.scss
  apps/web2/src/components/user-button/user-button.tsx
Labels: none

nav links behaviour
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

terms and conditions link
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

dark theme toggle & language picker layout
  apps/web2/package.json
  apps/web2/src/components/buttons/color-scheme-toggle.tsx
  apps/web2/src/components/buttons/language-picker/images/english.png
  apps/web2/src/components/buttons/language-picker/images/french.png
  apps/web2/src/components/buttons/language-picker/images/german.png
  apps/web2/src/components/buttons/language-picker/images/greek.png
  apps/web2/src/components/buttons/language-picker/images/index.ts
  apps/web2/src/components/buttons/language-picker/images/italian.png
  apps/web2/src/components/buttons/language-picker/images/polish.png
  apps/web2/src/components/buttons/language-picker/language-picker.module.scss
  apps/web2/src/components/buttons/language-picker/language-picker.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  pnpm-lock.yaml
Labels: none

insights filtering layout
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

responsive order filters
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
Labels: none

integrations
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/actions.ts
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/assets/images/linkedin-logo.png
  apps/web2/src/assets/images/meta-logo.png
  apps/web2/src/assets/images/tiktok-logo.png
  apps/web2/tsconfig.json
Labels: none

settings renamed to integrations & user-select: none for the entire app
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/app/global.scss
  apps/web2/src/app/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

integration grid & card
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
Labels: none

insights request
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/insights/query-string-util.ts
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: none

scrollable group by filters
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

integrations connect/revoke
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Labels: none

account filtering with server action + multi-key params checking refactored
  apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

page size handle
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: none

mad url utils refactor & filter checkboxes fix
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

initial group by filter logic with refactored utils
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

jotai for generic global state
  apps/web2/package.json
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/atoms/user-atoms.ts
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.tsx
  pnpm-lock.yaml
Labels: none

url query utils base
  apps/web2/src/app/(authenticated)/insights/query-string-util.ts
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/middleware.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

pino setup
  apps/web2/next.config.mjs
  apps/web2/package.json
  pnpm-lock.yaml
Labels: none

get user details via server action
  apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/components/misc/loader-centered.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.tsx
Labels: none

codegen fix + type fixes + insight card key id implement
  apps/server/src/schema/codegen.ts
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/util/url-query-utils.ts
Labels: server

url query params utils updated + order filters
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

multi filters (except accounts)
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

next-intl setup & version fix
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web2/messages/en.json
  apps/web2/package.json
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/globals.scss
  apps/web2/src/app/layout.tsx
  apps/web2/src/app/page.tsx
  apps/web2/src/i18n.ts
  apps/web2/src/util/url-query-utils.ts
Labels: web

new navigation button component
  apps/web2/src/components/buttons/navlink-button/navlink-button.module.scss
  apps/web2/src/components/buttons/navlink-button/navlink-button.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

date format & conditional rendering
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

amount spend fix
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

more translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: none

cleanup
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

settings modal & contents
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/components/buttons/settings-button.tsx
  apps/web2/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/dropdowns/language-picker/images/english.png
  apps/web2/src/components/dropdowns/language-picker/images/french.png
  apps/web2/src/components/dropdowns/language-picker/images/german.png
  apps/web2/src/components/dropdowns/language-picker/images/greek.png
  apps/web2/src/components/dropdowns/language-picker/images/index.ts
  apps/web2/src/components/dropdowns/language-picker/images/italian.png
  apps/web2/src/components/dropdowns/language-picker/images/polish.png
  apps/web2/src/components/dropdowns/language-picker/language-picker.module.scss
  apps/web2/src/components/dropdowns/language-picker/language-picker.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

more translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

routing fix
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
