Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

remove temporarily logger error webhook
  packages/logger/src/index.ts
Labels: server, web

remove temporarily logger error webhook (#416)
  packages/logger/src/index.ts
Labels: server, web

improve refresh data flow
  apps/channel-report/src/index.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
Labels: none

improve refresh data flow (#418)
  apps/channel-report/src/index.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
Labels: none

ad report status to redis sequentially
  packages/channel-utils/src/report-async-start.ts
  packages/database/prisma/migrations/20240825095644_composite_idx_insights/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

ad report status to redis sequentially (#419)
  packages/channel-utils/src/report-async-start.ts
  packages/database/prisma/migrations/20240825095644_composite_idx_insights/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

376 introduce errored integration (#409)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

404-emulate-organization-admins (#414)
  apps/backoffice/package.json
  apps/backoffice/public/wide-logo.svg
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/components/misc/logo-full.tsx
  apps/backoffice/src/components/misc/logo-simple.tsx
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/middleware.ts
  apps/channel-report/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.ts
  pnpm-lock.yaml
  turbo.json
Labels: web

save tokens to web app when emulate
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/middleware.ts
Labels: web

keep datapoints as bigints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards-call.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/object-helper.ts
Labels: server, web

Use embed instead of iFrame in tiktok
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel/src/iframe-cacheable.ts
  packages/ui/package.json
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
  packages/utils/src/typesctipt-utils.ts
Labels: server, web

save tokens to web app when emulate (#420)
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/middleware.ts
Labels: web

keep datapoints as bigints (#422)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards-call.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/object-helper.ts
Labels: server, web

Use embed instead of iFrame in tiktok (#423)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel/src/iframe-cacheable.ts
  packages/ui/package.json
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
  packages/utils/src/typesctipt-utils.ts
Labels: server, web

redirect instead of push in sign-in for backoffice
  apps/backoffice/package.json
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/env.mjs
  apps/landing-page/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Labels: web

redirect instead of push in sign-in for backoffice (#424)
  apps/backoffice/package.json
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/env.mjs
  apps/landing-page/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Labels: web

add more logs in backoffice middleware
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
Labels: none

add more logs in backoffice middleware (#425)
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
Labels: none

fix sign-in saving backoffice tokens
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

fix sign-in saving backoffice tokens (#426)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in (#427)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in (#428)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in (#429)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in (#430)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

add NEXT_PUBLIC_BACKOFFICE_URL to runtimeEnvs
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Labels: web

remove non-needed logs
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

Merge pull request #432
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: web

error IFrames brake entire call
  packages/channel/src/iframe-cacheable.ts
Labels: none

error IFrames brake entire call (#439)
  packages/channel/src/iframe-cacheable.ts
Labels: none

move datapoints back to number
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

move datapoints back to number (#441)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

adAccounts are updated correctly across different integrations
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

remove ssm endpoint
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

adAccounts are updated correctly across different integrations (#442)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

store user's browser locale
  apps/web/src/app/layout.tsx
  apps/web/src/app/user-locale-setter.tsx
Labels: web
