Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

ad previews behaviour & tooltip
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

insights card view switch
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

transition & url query util fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

loading overlay & global loading state
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/loading-atoms.ts
Labels: web

url query utils fix for param removal
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

fix some iFrames dimensions (#197)
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: server, web

revert the ORG_OPERATOR
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: server, web

revert the ORG_OPERATOR (#199)
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: server, web

Update apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

removed loading overlay
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/loading-atoms.ts
Labels: web

try migrating server to eslint flat hierarchy.
  apps/server/.eslintrc.cjs
  apps/server/eslint.config.mjs
  packages/config-eslint/library.mjs
  packages/config-eslint/package.json
Labels: server, web

use redis as a caching layer in insights
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/index.ts
  packages/utils/src/object-helper.ts
Labels: server

use redis as a caching layer in insights (#203)
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/index.ts
  packages/utils/src/object-helper.ts
Labels: server

create different organizations with same domain email
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

create different organizations with same domain email (#205)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

update user membership
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

update user membership (#206)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

176 iframes in insights (#187)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
Labels: web

fix userRoles and allRoles
  apps/server/src/schema/user/user-types.ts
  package.json
Labels: server

expose AJwtPayload
  apps/server/package.json
  apps/server/src/auth.ts
  packages/shared-types/.eslintrc.cjs
  packages/shared-types/package.json
  packages/shared-types/src/index.ts
  packages/shared-types/tsconfig.json
  pnpm-lock.yaml
Labels: server

208 me endpoint fails when user is in no organization (#209)
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/schema/user/user-types.ts
  package.json
  packages/shared-types/.eslintrc.cjs
  packages/shared-types/package.json
  packages/shared-types/src/index.ts
  packages/shared-types/tsconfig.json
  pnpm-lock.yaml
Labels: server

make refreshToken to query
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
Labels: server, web

make refreshToken to query (#211)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
Labels: server, web

improved form handling
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

improved notifications handler to handle errors without erasing other url params
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

improved form handling (#213)
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

assign adAccounts to organizations
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240709095758_organization_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

assign adAccounts to organizations (#218)
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240709095758_organization_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

drop default from adAccount -> type
  Lambda.Dockerfile
  packages/database/prisma/migrations/20240710140226_remove_default_ad_account_type/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

drop default from adAccount -> type (#219)
  Lambda.Dockerfile
  packages/database/prisma/migrations/20240710140226_remove_default_ad_account_type/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

new nextjs error page
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/error.tsx
  apps/web/src/components/misc/server-error-page/illustration.tsx
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
  apps/web/src/components/misc/server-error-page/server-error-page.tsx
Labels: web

removed unused stuff
  apps/web/src/components/misc/server-error-page/illustration.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

translation fixes
  apps/web/messages/el.json
  apps/web/messages/nl.json
Labels: web

new nextjs error page (#217)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/error.tsx
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
  apps/web/src/components/misc/server-error-page/server-error-page.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

fix connect integration
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel/src/integration-helper.ts
Labels: server

expose parentId, isRoot
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

fix connect integration (#221)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
Labels: server, web

fix lambda channel refresh
  Lambda.Dockerfile
Labels: none

fix lambda channel refresh (#223)
  Lambda.Dockerfile
Labels: none

add Lambda.Dockerfile to deploy channel ingress lambda triggers
  .github/workflows/deploy-channel-ingress-production.yml
Labels: automation
