Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

fix data refresh date range
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Labels: none

fix data refresh date range (#84)
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Labels: none

introduce cpm
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

introduce cpm (#85)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

enhance readme with aws cli configuration
  .idea/aws.xml
  README.md
Labels: documentation

use insight id
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: web

use insight id (#86)
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: web

add order by cpm
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
Labels: server, web

add order by cpm (#87)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
Labels: server, web

minor lingo change
  apps/web/messages/en.json
Labels: web

enhance readme with aws cli configuration (#78)
  .idea/aws.xml
  README.md
Labels: documentation

verify domain for tiktok
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

verify domain for tiktok (#88)
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

zod form validation in sign in & sign up
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

minor translation
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: none

cpm in charts
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: none

insight card component + top filters layout
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

user details & sign out logic
  apps/web2/src/app/(unauthenticated)/actions.ts
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.module.scss
  apps/web2/src/components/user-button/user-button.tsx
Labels: none

page controls utilizing hasNext
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
Labels: none

improved unauthenticated layout
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/components/misc/logo-full.tsx
Labels: none

dark theme toggle & language picker layout
  apps/web2/package.json
  apps/web2/src/components/buttons/color-scheme-toggle.tsx
  apps/web2/src/components/buttons/language-picker/images/english.png
  apps/web2/src/components/buttons/language-picker/images/french.png
  apps/web2/src/components/buttons/language-picker/images/german.png
  apps/web2/src/components/buttons/language-picker/images/greek.png
  apps/web2/src/components/buttons/language-picker/images/index.ts
  apps/web2/src/components/buttons/language-picker/images/italian.png
  apps/web2/src/components/buttons/language-picker/images/polish.png
  apps/web2/src/components/buttons/language-picker/language-picker.module.scss
  apps/web2/src/components/buttons/language-picker/language-picker.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  pnpm-lock.yaml
Labels: none

integrations
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/actions.ts
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/assets/images/linkedin-logo.png
  apps/web2/src/assets/images/meta-logo.png
  apps/web2/src/assets/images/tiktok-logo.png
  apps/web2/tsconfig.json
Labels: none

page size handle
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: none

chart contain fix
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: none

initial group by filter logic with refactored utils
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

nav links behaviour
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

currency type fixes & removed deprecated entities
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/graphql/login.graphql
  apps/web2/src/util/generic-utils.ts
Labels: none

authentication & rerouting sign in
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
  apps/web2/src/app/api/auth/sign-up/route.ts
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/middleware.ts
  apps/web2/src/util/schemas/login-schemas.ts
Labels: none

multi filters (except accounts)
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

jotai for generic global state
  apps/web2/package.json
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/atoms/user-atoms.ts
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.tsx
  pnpm-lock.yaml
Labels: none

more translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

settings modal & contents
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/components/buttons/settings-button.tsx
  apps/web2/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/dropdowns/language-picker/images/english.png
  apps/web2/src/components/dropdowns/language-picker/images/french.png
  apps/web2/src/components/dropdowns/language-picker/images/german.png
  apps/web2/src/components/dropdowns/language-picker/images/greek.png
  apps/web2/src/components/dropdowns/language-picker/images/index.ts
  apps/web2/src/components/dropdowns/language-picker/images/italian.png
  apps/web2/src/components/dropdowns/language-picker/images/polish.png
  apps/web2/src/components/dropdowns/language-picker/language-picker.module.scss
  apps/web2/src/components/dropdowns/language-picker/language-picker.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

integrations connect/revoke
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Labels: none

url query utils base
  apps/web2/src/app/(authenticated)/insights/query-string-util.ts
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/middleware.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

update language & base page controls
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
Labels: none

insights filtering layout
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

smooth transitions
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: none

url query params utils updated + order filters
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

insights request
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/insights/query-string-util.ts
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: none

get user details via server action
  apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/components/misc/loader-centered.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.tsx
Labels: none
