Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

add reddit, snapchat, google coming soon integrations
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/public/integrations/google-logo-icon.svg
  apps/web/public/integrations/reddit-logo-icon.svg
  apps/web/public/integrations/snapchat-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240808134951_add_commingsoon_integrations/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

sign up boilerplate
  apps/web/src/app/(unauthenticated)/invited-user/page.tsx
Labels: web

access rights for user role management
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/util/access-utils.ts
Labels: web

users table operations
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

invite users changes
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

invite users button & modal
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/atoms/organization-atoms.ts
Labels: web

minor
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

improvements
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

invite users
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Labels: web

remove user button access rights
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

users table & general roles refactor
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

styling
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

allow user to remove themselves from organization even when being an org_member
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

imports
  apps/web/src/app/(authenticated)/organization/actions.ts
Labels: web

role dropdown animation
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

fix success true @ inviteUsers mutation
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/handle-urql-request.ts
Labels: server, web

remove user from org & users table refresh improvement
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

fix removeUserFromOrganization response
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/organization.graphql
Labels: web

successful invite users refresh users table
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

use intl in main page of landing
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/About/index.tsx
  apps/landing-page/src/components/CTA/index.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/FAQ/faq-data.tsx
  apps/landing-page/src/components/FAQ/faq-item.tsx
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/Features/features-data.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-data.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-item.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
  apps/landing-page/src/components/Testimonial/index.tsx
  apps/landing-page/src/components/Testimonial/single-testimonial.tsx
  apps/landing-page/src/components/Testimonial/testimonial-data.ts
  apps/landing-page/src/types/faq.ts
  apps/landing-page/src/types/feature-tab.ts
  apps/landing-page/src/types/feature.ts
  apps/landing-page/src/types/testimonial.ts
Labels: none

use intl in main page of landing (#332)
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/About/index.tsx
  apps/landing-page/src/components/CTA/index.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/FAQ/faq-data.tsx
  apps/landing-page/src/components/FAQ/faq-item.tsx
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/Features/features-data.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-data.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-item.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
  apps/landing-page/src/components/Testimonial/index.tsx
  apps/landing-page/src/components/Testimonial/single-testimonial.tsx
  apps/landing-page/src/components/Testimonial/testimonial-data.ts
  apps/landing-page/src/types/faq.ts
  apps/landing-page/src/types/feature-tab.ts
  apps/landing-page/src/types/feature.ts
  apps/landing-page/src/types/testimonial.ts
Labels: none

sign-up invited user behaviour
  apps/web/src/app/(unauthenticated)/invited-user/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

user invite & users table fixes
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/schemas/login-schemas.ts
  packages/utils/src/shared-names.ts
Labels: server, web

when remove user from org, remove the user completely if status invited
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

fixed new users to be redirected to /confirm-email only when appropriate
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Labels: server, web

email input ux fix for focus loss to add email
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Labels: web

add reddit, snapchat, google coming soon integrations (#331)
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/public/integrations/google-logo-icon.svg
  apps/web/public/integrations/reddit-logo-icon.svg
  apps/web/public/integrations/snapchat-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240808134951_add_commingsoon_integrations/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

reset currentOrganizationId when a user is removed from org
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

improved invite user UX
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Labels: web

enable social login on invite flow
  apps/web/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Labels: web

add searchParams in dependencies
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Labels: web

assign role on invite
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Labels: web

email filling last name on email param existence (autofill fix)
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
Labels: web

logo fix in unauth screens
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/misc/logo-simple.tsx
Labels: web

logo fix in unauth screens (#337)
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/misc/logo-simple.tsx
Labels: web

set user roles appropriately on invite
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
Labels: web

302 members management (#333)
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
  apps/web/src/util/handle-urql-request.ts
  apps/web/src/util/schemas/login-schemas.ts
  apps/web/src/util/url-query-utils.ts
  packages/utils/src/shared-names.ts
Labels: server, web

add quarter interval
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/date-utils.ts
Labels: server, web

increase insights range to year to date
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
  packages/utils/src/date-utils.ts
Labels: none

new .idea
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/turboviewer.iml
Labels: none
