Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

generalized error handling
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

error title
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

color theme auto fix & auto set as default
  apps/web/src/app/layout.tsx
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Labels: web

Update apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

insight ranking
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

MantineProvider only in root layout
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/app/layout.tsx
Labels: web

async page loads
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
Labels: web

fix for call depth
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

global styling for user select
  apps/web/src/app/layout.tsx
Labels: web

user select disable on non-inputs
  apps/web/src/app/layout.tsx
Labels: web

mantine integration error notification
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/layout.tsx
Labels: web

suspense on unauth layout
  apps/web/src/app/(unauthenticated)/layout.tsx
Labels: web

client side cookies lib & language picked update fix
  apps/web/package.json
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
  pnpm-lock.yaml
Labels: web

reverse cpm rank
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

generalized error handling
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

error title
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/misc/notifications-handler.tsx
Labels: web

color theme auto fix & auto set as default
  apps/web/src/app/layout.tsx
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Labels: web

110 features and fixes (#173)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  pnpm-lock.yaml
Labels: web

integration won't revoke if not decrypted
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/integration-helper.ts
Labels: none

show info only on connected integrations
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

integration won't revoke if not decrypted (#178)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/integration-helper.ts
Labels: none

use neon adapter in prisma
  packages/database/src/client.ts
Labels: server

use neon adapter in prisma (#182)
  packages/database/src/client.ts
Labels: server

show info only on connected integrations (#180)
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

remove sentry in BE
  apps/server/package.json
Labels: server

remove sentry in BE (#184)
  apps/server/package.json
Labels: server

view organization of user
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

view organization of user (#189)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

crud org invitation links
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/redis/src/ioredis.ts
Labels: server, web

introduce ORG_OPERATOR
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240703120702_org_operator/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

invite new users with social login
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

move organization-operations under organization folder
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

invite users by email
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/index.ts
  packages/utils/src/password-helper.ts
  packages/utils/src/typesctipt-utils.ts
Labels: server, web

invite users with link
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user-roles.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/emailable-helper.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/schema.prisma
Labels: server, web

google login may have empty first/last name
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: server

google login may have empty first/last name (#192)
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: server

fix undefined position in meta iFrames
  apps/web/.env.production
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: web

fix undefined position in meta iFrames (#195)
  apps/web/.env.production
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: web

fix some iFrames dimensions
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: server, web

fetch iframes or datapoints
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
Labels: web
