Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

lint error fix
  packages/channel-utils/src/aes-util.ts
Labels: none

Auto-update packages
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

loading state for async buttons instead of disabled
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: web

fix eslint error
  packages/channel-utils/src/aes-util.ts
Labels: none

loading state for async buttons instead of disabled (#557)
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  packages/channel-utils/src/aes-util.ts
Labels: web

fix feedbacks migration
  .idea/sqldialects.xml
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/migrations/20241001055530_feedbacks/migration.sql
Labels: server

Revert "Auto-update packages (#554)"
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

Revert "Revert "Auto-update packages (#554)""
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

don't return in express middleware
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  apps/server/src/utils/sns-subscription-utils.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server

Update packages 241001 (#560)
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/redis/src/ioredis.ts
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

add jest
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

husky: run tests on web on pre-commit
  .husky/pre-commit
Labels: none

update husky
  .husky/pre-commit
Labels: none

jest configutration w/ sample test
  apps/web/.eslintrc.cjs
  apps/web/jest.config.ts
  apps/web/jest.setup.ts
  apps/web/package.json
  apps/web/src/__tests__/page.test.tsx
  pnpm-lock.yaml
Labels: web

548 implement testing library (#559)
  apps/web/.eslintrc.cjs
  apps/web/jest.config.ts
  apps/web/jest.setup.ts
  apps/web/package.json
  apps/web/src/__tests__/page.test.tsx
  pnpm-lock.yaml
Labels: web

Disabled sending email on feedbacks (#553)
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
Labels: server

filter insights with adAccountId and adId again
  .idea/sqldialects.xml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

filter insights with adAccountId and adId again (#563)
  .idea/sqldialects.xml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

lottie setup
  apps/web/package.json
  apps/web/public/lotties/confetti.json
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/lottie-container.tsx
  pnpm-lock.yaml
Labels: web

feedback notification position
  apps/web/src/components/buttons/feedback-button.tsx
Labels: web

lottie animations system & usage on successful feedback
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/lottie-container.tsx
Labels: web

feedback min/max chars ux improvements
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/buttons/feedback-button.tsx
  packages/utils/src/shared-schemas.ts
Labels: web

undefined string fix
  apps/web/src/components/buttons/feedback-button.tsx
Labels: web

Update apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/feedback-button.tsx
Labels: web

556 feedback enhancements (#566)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/public/lotties/confetti.json
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/lottie-container.tsx
  packages/utils/src/shared-schemas.ts
  pnpm-lock.yaml
Labels: web

implemented lottie animations, improved the lottie animation system & fixed the terms and conditions link
  apps/web/public/lotties/analytical-person.json
  apps/web/public/lotties/blocks.json
  apps/web/public/lotties/mailbox.json
  apps/web/public/lotties/nodes-graph.json
  apps/web/public/lotties/thinking-person.json
  apps/web/public/lotties/waving-people.json
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/logo-simple.tsx
  apps/web/src/components/misc/lottie-animation.tsx
  apps/web/src/components/misc/lottie-container.tsx
Labels: web

implemented lottie animations, improved the lottie animation system & fixed the terms and conditions link (#568)
  apps/web/public/lotties/analytical-person.json
  apps/web/public/lotties/blocks.json
  apps/web/public/lotties/mailbox.json
  apps/web/public/lotties/nodes-graph.json
  apps/web/public/lotties/thinking-person.json
  apps/web/public/lotties/waving-people.json
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/logo-simple.tsx
  apps/web/src/components/misc/lottie-animation.tsx
  apps/web/src/components/misc/lottie-container.tsx
Labels: web

refactoring
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-datapoint-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  pnpm-lock.yaml
Labels: server

refactoring
  apps/server/src/language.ts
  apps/server/test/utils/insights-datapoint-query-builder.test.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  packages/utils/src/index.ts
  packages/utils/src/language.ts
Labels: server

chore:added cross-env in devDependencies
  packages/channel/package.json
  pnpm-lock.yaml
Labels: none

preetier fix
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-datapoint-query-builder.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-helper.ts
Labels: server

lint fix
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/redis/src/ioredis.ts
Labels: none

fix test hanging
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/.eslintrc.cjs
  packages/channel/eslint.tsconfig.json
  packages/channel/package.json
  packages/channel/test/insights-query-builder.test.ts
  packages/redis/src/ioredis.ts
Labels: server, web

added adAccountIds and adIds in filter
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
Labels: server

added integration type in groupBy
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

build fix
  apps/server/src/context.ts
Labels: server

fixes
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

refactoring
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
Labels: server

525 summary view (#558)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/context.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/language.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-datapoint-query-builder.ts
  apps/server/test/utils/insights-datapoint-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/.eslintrc.cjs
  packages/channel/eslint.tsconfig.json
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/index.ts
  packages/utils/src/language.ts
  pnpm-lock.yaml
Labels: server, web

Sentry SDK Prototype Pollution gadget in JavaScript SDKs
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: server, web
