Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

Sentry SDK Prototype Pollution gadget in JavaScript SDKs (#571)
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: server, web

return integrationType
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

graphics
  apps/web/src/app/(authenticated)/insights/components/graphics.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

build fix
  packages/channel/src/data-refresh.ts
Labels: none

graphics on integrations
  apps/web/src/app/(authenticated)/integrations/components/graphics.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

525 return integrationType (#572)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

more graphics
  apps/web/public/lotties/people-connected.json
  apps/web/public/lotties/profile-settings.json
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/organization/components/graphics.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/graphics.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

569 graphic animations small refactor (#573)
  apps/web/public/lotties/people-connected.json
  apps/web/public/lotties/profile-settings.json
  apps/web/src/app/(authenticated)/insights/components/graphics.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/graphics.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/organization/components/graphics.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/graphics.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

test updates
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/package.json
  pnpm-lock.yaml
Labels: none

updated/fixed tests
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Labels: none

updated saveAccounts query
  packages/channel-utils/src/insights-utils.ts
Labels: none

Added max-recency boundries
  packages/channel-utils/package.json
  packages/channel-utils/src/date-utils.ts
  packages/mappings/src/tier-mapping.ts
  pnpm-lock.yaml
Labels: none

added furthest date conditoin
  packages/channel-utils/src/date-utils.ts
Labels: none

added tests for time-range function
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/mappings/src/tier-mapping.ts
Labels: none

getting the highest tier org/refactoring
  packages/channel-utils/src/date-utils.ts
  packages/mappings/src/tier-mapping.ts
Labels: none

prettier fix
  packages/mappings/src/tier-mapping.ts
Labels: none

test-updates
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Labels: none

updated splitTimeRange function
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Labels: none

timeRangeHelper function fixed
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/utils/src/date-utils.ts
Labels: none

512 Added max-recency boundries (#526)
  packages/channel-utils/package.json
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/package.json
  packages/mappings/src/tier-mapping.ts
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Labels: none

google analytics
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/google-analytics.tsx
Labels: none

cookies consent
  apps/landing-page/src/components/google-analytics.tsx
Labels: none

add public feedback environment variable
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

add public feedback environment variable (#577)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

refactored google analytics to use the recommended structure
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/cookies-consent.tsx
  apps/landing-page/src/components/google-analytics.tsx
  apps/landing-page/src/env.mjs
  pnpm-lock.yaml
Labels: none

google analytics for web
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  pnpm-lock.yaml
Labels: web

(temp fix) silence sass deprecations warning
  apps/web/next.config.mjs
Labels: web

delete .idea folder
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/turboviewer.iml
  .idea/vcs.xml
Labels: none

574 cookies consent google analytics setup (#575)
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/cookies-consent.tsx
  apps/landing-page/src/env.mjs
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  pnpm-lock.yaml
Labels: web

(temp fix) silence sass deprecations warning (#578)
  apps/web/next.config.mjs
Labels: web

delete .idea folder (#581)
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/turboviewer.iml
  .idea/vcs.xml
Labels: none

CurrentOrg in feedback & feedback posts on slack
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241005135857_feedbacks_organization/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

refactoring
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  packages/database/prisma/schema.prisma
  turbo.json
Labels: server

added right env
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
Labels: server

CurrentOrg in feedback & feedback posts on slack (#580)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/schema/feedback/feedback-helper.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241005135857_feedbacks_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: server, web

change lefteris email in aws
  infrastructure/environments/management/users.tf
Labels: infrastructure

filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

filter by integration (#582)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

filter by integration (#583)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web
