Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

tone down report process compute
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel/src/report-process.ts
Labels: infrastructure

add more logging around batch report processing
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
Labels: none

355-use-aws-batch-to-process-channel-reports (#369)
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
Labels: infrastructure

don't hardcode initial: false in checkReports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: none

don't hardcode initial: false in checkReports (#370)
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: none

increase the max vCPUs in report compute
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

add more logs when reports fail
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
Labels: none

355-use-aws-batch-to-process-channel-reports (#371)
  infrastructure/modules/environment/channel-report.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
Labels: infrastructure

increase cpu/memory
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

fix dynamic batch policy document
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

downgrade job description cpu/memory
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

introduce retry in fb calls
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: none

355-use-aws-batch-to-process-channel-reports (#372)
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: infrastructure

handle 500 errors on insights
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

handle 500 errors on insights (#373)
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

disallow view/update adAccounts when you are not admin in the parent organization
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

disallow view/update adAccounts when you are not admin in the parent organization (#375)
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

introduced errored integration
  .idea/dataSources.xml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240818123348_add_integration_status_errored/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

introduced errored integration (#377)
  .idea/dataSources.xml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240818123348_add_integration_status_errored/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

enable again periodic channel data ingress
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

enable again periodic channel data ingress (#379)
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

don't retry failed jobs
  packages/channel/src/report-process.ts
Labels: none

don't retry failed jobs (#381)
  packages/channel/src/report-process.ts
Labels: none

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

button icon
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

luxon install & integration token expiration notification
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/integration-utils.ts
  pnpm-lock.yaml
Labels: web

introduce expiring integration status
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/utils/src/date-utils.ts
Labels: server

switched logic to Expiring status
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/integration-utils.ts
Labels: web

token warning improvements
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

isConnected fix
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

expose integration status
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

logs remove
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

integration status assign on update
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

add organizations in initialUserDetails
  apps/web/src/app/atoms/user-atoms.ts
Labels: web

integration token expiration notification & luxon install (#358)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/user.graphql
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Labels: server, web

graphql queries & mutations
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

minor fixes
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: web

check for root organization on update ad accounts
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: web

view current ad accounts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/update-ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/view-ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

ad accounts modal core logic
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/view-ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web
