Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

Rename refreshChannels to refreshData
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

Add initial arg
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

Set insights as the default logged in page
  apps/web/src/app/[locale]/(logged-in)/page.tsx
  apps/web/src/i18n.ts
Labels: web

Add lefteris to aws
  infrastructure/environments/management/users.tf
Labels: infrastructure

Use lodash for groupBy and uniqueBy
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/iframe-fb-helper.ts
  apps/server/src/utils/lodash-utils.ts
Labels: server

Disable auto deployments
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

unescaped character fix
  .github/workflows/build-deploy-service.yml
Labels: automation

Add Deploy App Runner rights in github
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

Use dedicated access role
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

Use existing access role
  .github/workflows/build-deploy-service.yml
Labels: automation

Remove role attachments
  .github/workflows/build-deploy-service.yml
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

Reset to before
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

Change service name
  .github/workflows/build-deploy-service.yml
Labels: automation

Revert "unescaped character fix"
  .github/workflows/build-deploy-service.yml
Labels: automation

Revert "Disable auto deployments"
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/service/app_runner.tf
Labels: automation, infrastructure

initial groupedBy filters + simple query params util
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Labels: web

set initial groupedBy filters only on /insights
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Labels: web

proper reset of default filters on same route navigation for /insights
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Labels: web

/insights route-specific behaviour fix
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
Labels: web

Save insights during each call
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
Labels: server

use neon adapter
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-util.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  pnpm-lock.yaml
Labels: server

don't use neon locally
  packages/database/src/client.ts
Labels: server

override automatic filter selection on user emptying all groupBy filters + updated utils for searching params in url
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Labels: web

Update apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
Labels: web

Initial grouped by filters (#53)
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Labels: web

use meta instead of facebook in settings
  apps/web/public/integrations/meta-logo-icon.svg
  apps/web/src/util/types.ts
Labels: web

rebrand facebook to meta
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/meta/iframe-meta-helper.ts
  apps/server/src/contexts/channels/meta/meta-channel.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20240513071712_rename_integration_type_enum/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Use meta instead of facebook in settings (#56)
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/meta/iframe-meta-helper.ts
  apps/server/src/contexts/channels/meta/meta-channel.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/public/integrations/meta-logo-icon.svg
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20240513071712_rename_integration_type_enum/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Correct groupKey in filters
  apps/server/src/contexts/channels/integration-helper.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/components/filters/multi-filter.tsx
  packages/redis/src/cacheable.ts
Labels: server, web

introduce readonly database
  .idea/dataSources.xml
  infrastructure/modules/environment/server_secrets.tf
  packages/database/package.json
  packages/database/src/client.ts
  pnpm-lock.yaml
Labels: infrastructure, server

fix database url regex
  packages/database/src/config.ts
Labels: server

Merge pull request #59
  packages/database/src/config.ts
Labels: server

boost cpu and memory of server
  .idea/dataSources.xml
  infrastructure/modules/service/app_runner.tf
  packages/database/src/client.ts
Labels: infrastructure, server

boost cpu and memory of server (#60)
  .idea/dataSources.xml
  infrastructure/modules/service/app_runner.tf
  packages/database/src/client.ts
Labels: infrastructure, server

boost cpu and memory of server
  infrastructure/modules/service/app_runner.tf
  packages/redis/src/cacheable.ts
Labels: infrastructure

boost cpu and memory of server (#61)
  infrastructure/modules/service/app_runner.tf
  packages/redis/src/cacheable.ts
Labels: infrastructure

remove userId
  apps/server/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Labels: server

hello world lambda with logger
  Lambda.Dockerfile
  apps/channel-meta-insights/.eslintrc.cjs
  apps/channel-meta-insights/package.json
  apps/channel-meta-insights/src/index.ts
  apps/channel-meta-insights/tsconfig.json
  infrastructure/modules/service/channel_meta_insights_fetch_lambda.tf
Labels: infrastructure

introduce build lambda image action
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/.eslintrc.cjs
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  apps/channel-meta-insights/src/index.ts
  infrastructure/modules/service/channel_meta_insights_fetch_lambda.tf
  pnpm-lock.yaml
Labels: automation, infrastructure

introduce build lambda image action (#63)
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/.eslintrc.cjs
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  apps/server/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Labels: automation, server
