Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

#355 hello world channel report (#356)
  .github/workflows/deploy-services-production.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/Dockerfile
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/src/instrument.ts
  apps/channel-report/tsconfig.json
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  package.json
  pnpm-lock.yaml
Labels: automation, infrastructure

add security group in compute
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure

connected integration product auth url
  apps/server/src/schema/integrations/integration-types.ts
Labels: server

355 use aws batch to process channel reports (#357)
  apps/server/src/schema/integrations/integration-types.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure, server

fix channel report service name
  .github/workflows/deploy-web.yml
  infrastructure/modules/environment/channel-report.tf
Labels: automation, infrastructure

fix channel report service name (#359)
  .github/workflows/deploy-web.yml
  infrastructure/modules/environment/channel-report.tf
Labels: automation, infrastructure

remove batch service role
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

remove batch
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

fix? batch service role
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

create job definition
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

increase app_runner cpu
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

move compute to public subnet
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment_variables.tf
Labels: infrastructure

increase app_runner cpu
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

increase app_runner cpu
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

move app runner back to private subnet
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

create nat
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

Revert "create nat"
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

increase the sync freq to 1 week
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

Revert "increase app_runner cpu"
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

Revert "increase app_runner cpu"
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

Revert "increase app_runner cpu"
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

rename roles
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

transition to endpoint_interface security group
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

introduce vpc endpoints
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace_outputs.tf
Labels: infrastructure

remove batch security group
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

process report in batch
  apps/channel-report/package.json
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  apps/server/src/config.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
  infrastructure/modules/workspace/vpc.tf
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: infrastructure, server

process report in batch (#360)
  apps/channel-report/package.json
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  apps/server/src/config.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/environment/sns.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: infrastructure, server

allow server to submit batch jobs
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

add ssm vpc endpoint
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

add nat firewall
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

finish batch when report is processed
  apps/channel-report/src/index.ts
Labels: none

355-use-aws-batch-to-process-channel-reports (#361)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

allow required egress ports for channel report
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

finish batch when report is processed
  apps/channel-report/src/index.ts
Labels: none

355-use-aws-batch-to-process-channel-reports (#362)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure

use redis for report check instead of queue
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/sns.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: infrastructure

use redis for report check instead of queue (#363)
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/sns.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: infrastructure

cpm could be null (if impressions are 0)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

cpm could be null (if impressions are 0) (#365)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

tone down report process compute
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel/src/report-process.ts
Labels: infrastructure

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
