Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

Revert "Revert "551 google data ingress (#628)""
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

test
  apps/web/src/app/(authenticated)/organization/layout.tsx
Labels: web

test (#687)
  apps/web/src/app/(authenticated)/organization/layout.tsx
Labels: web

remove all suspense
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
Labels: web

remove all suspense (#689)
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
Labels: web

integrations with non-expiry refreshToken shouldn't expire
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/integration-util.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: server, web

691: introduce processFn in linkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/insights-utils.ts
Labels: none

691: introduce processFn in linkedIn (#692)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/insights-utils.ts
Labels: none

integrations with non-expiry refreshToken shouldn't expire (#690)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/integration-util.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: server, web

655: introduce threshold in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

471: add stripe keys in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

655: introduce threshold in insights (#694)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

Fix: added right external id for getUserId method
  packages/channel-google/src/channel-google.ts
Labels: none

Fix: added right external id for getUserId method (#696)
  packages/channel-google/src/channel-google.ts
Labels: none

add useSentry plugin in yoga
  apps/server/package.json
  apps/server/src/index.ts
  pnpm-lock.yaml
Labels: server

Fix: fixed get ad previews for google
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

Fix: fixed get ad previews for google (#698)
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

699: filter insights by creative ids
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

699: filter insights by creative ids (#700)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

Fix: added the right embed url for iframe
  packages/channel-google/src/channel-google.ts
Labels: none

Fix: added the right embed url for iframe (#701)
  packages/channel-google/src/channel-google.ts
Labels: none

703: Fetch ad previews when group by creativeId
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: server, web

703: Fetch ad previews when group by creativeId (#704)
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: server, web

706: spend is divided 2 times by 100
  apps/web/src/components/insights/insight-card.tsx
Labels: web

Auto-update packages
  apps/backoffice/package.json
  apps/cache-refresh/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/backend-shared/package.json
  packages/channel-google/package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/pubsub/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

706: spend is divided 2 times by 100 (#707)
  apps/web/src/components/insights/insight-card.tsx
Labels: web

regenerate pnpm-lock.yaml
  pnpm-lock.yaml
Labels: none

Refactoring
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Updated migration
  packages/database/prisma/migrations/20241112205113_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241126112148_ad_account_integration_mig/migration.sql
  packages/database/prisma/migrations/20241129065704_ad_account_integration_migration/migration.sql
Labels: server

fead: added adAccount integrations endpoint
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20241112205113_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

fixes
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20241124215123_ad_account_integration/migration.sql
  packages/database/prisma/migrations/20241126112148_ad_account_integration_mig/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

lint fix
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
Labels: server, web

updated dto
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
Labels: server

Refactoring
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  packages/channel-utils/src/insights-utils.ts
Labels: server

669: Update web to the adAccountIntegrations changes
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
Labels: server, web

Fix: updated migration
  packages/database/prisma/migrations/20241129065704_ad_account_integration_migration/migration.sql
  packages/database/prisma/migrations/20241202094829_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

Ad accounts integration (#669)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/package.json
  packages/database/prisma/migrations/20241202094829_ad_account_integration/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

fix broken filtered integrations
  apps/server/src/schema/integrations/integration-types.ts
Labels: server

Feat: Added reddit auth
  apps/server/src/schema/integrations/integration-operations.ts
  packages/channel-reddit/.eslintrc.cjs
  packages/channel-reddit/package.json
  packages/channel-reddit/src/channel-reddit.ts
  packages/channel-reddit/src/config.ts
  packages/channel-reddit/src/index.ts
  packages/channel-reddit/tsconfig.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: server

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
