Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

pr fixes + layout button disabled state bug fix
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

removed log
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
Labels: web

improved org data fetching via jotai & added max integrations logic per user tier
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

Update apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

save adSets and adCampaigns
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240921165310_campaigns_adsets/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

fixed settings button re-rendering insights
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
Labels: web

atom fix
  apps/web/src/app/atoms/user-atoms.ts
Labels: web

show ad previews position change
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

fill adSet and campaigns in old Ads
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/utils/src/data-object-utils.ts
  packages/utils/src/index.ts
Labels: server, web

501-add-functionality-to-filter-by-campaign-ad-set-and-ad-name (#541)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240921165310_campaigns_adsets/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/data-object-utils.ts
  packages/utils/src/index.ts
Labels: server, web

included non-active meta ads
  packages/channel-meta/src/channel-meta.ts
Labels: none

included non-active meta ads (#542)
  packages/channel-meta/src/channel-meta.ts
Labels: none

add filter limit to TikTok add more statuses in effective status
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

add filter limit to TikTok (#546)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

add campaignId and adSetId in groupBy
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

add adSetName and campaignName to search
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

add campaignId and adSetId in groupBy (#547)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

handle insights errors
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: server, web

handle insights errors (#539)
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: server, web

Update apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

fixed settings button re-rendering insights (#538)
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
Labels: web

improved org data fetching via jotai & added max integrations logic p… (#533)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

show ad previews position change (#540)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

Generalize service Dockerfile
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-services-production.yml
  Service.Dockerfile
  apps/server/Dockerfile
Labels: automation, server

fix: quartarly filter works
  apps/server/src/utils/insights-query-builder.ts
Labels: server

fix: daily now works with the date filter applied
  apps/server/src/schema/integrations/integration-types.ts
Labels: server

511 time contraints bug fixes (#544)
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
Labels: server

don't allow unused variables
  apps/server/src/index.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/user-operations.ts
  packages/config-eslint/library.cjs
Labels: server, web

refactoring
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/web/src/components/buttons/feedback-button.tsx
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/utils/src/shared-schemas.ts
Labels: server, web

feat: added sendFeedback endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240923184925_feedback/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

updated message schema
  apps/server/src/schema/feedback/feedback-operation.ts
  packages/utils/src/shared-schemas.ts
Labels: server

refactoring
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

shared schemas for send feedback schema
  apps/web/src/components/buttons/feedback-button.tsx
  packages/utils/src/index.ts
  packages/utils/src/shared-schemas.ts
Labels: web

send feedback web
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/user-schemas.ts
Labels: web

removed userid
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

added query
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

543 added sendFeedback endpoint (#545)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20240923184925_feedback/migration.sql
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/index.ts
  packages/utils/src/shared-schemas.ts
Labels: server, web

fix feedback email subject
  apps/server/src/email.ts
Labels: server

Disabled sending email on feedbacks
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
Labels: server
