Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

cleanup/refactor
  packages/organization/src/organization.ts
Labels: none

error handleing & refactoring
  apps/server/src/schema/organization/organization-operations.ts
  packages/organization/src/organization.ts
Labels: server

499 limit integration and added switchTier endpoint (#513)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/contexts/organization.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/mappings/src/tier-mapping.ts
  packages/organization/.eslintrc.cjs
  packages/organization/package.json
  packages/organization/src/index.ts
  packages/organization/src/organization.ts
  packages/organization/tsconfig.json
  pnpm-lock.yaml
Labels: server, web

move essential packages out of dev dependencies
  packages/organization/package.json
  pnpm-lock.yaml
Labels: none

move essential packages out of dev dependencies (#528)
  packages/organization/package.json
  pnpm-lock.yaml
Labels: none

generate and migrate in prisma package
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/database/package.json
  pnpm-lock.yaml
Labels: server

generate and migrate in prisma package (#530)
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/database/package.json
  pnpm-lock.yaml
Labels: server

recursive method to update & remove terms & subterms
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

more cleanup
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

search input behaviour
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

load advanced search data
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

search minor improvement
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

set advanced search data & unique ids for dynamic data fixed with uniqid lib
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/search.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Labels: web

nested logic for search
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

clear advanced search
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

removed scroll to bottom
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
Labels: web

search & advanced search inputs relationship
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

advanced search features & simple search get value from url
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/search.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

cleanup
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

delete entire search term
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

base components
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

remove unnecessary term object from search payload
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

basic search functionality
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

pr fixes
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/insights/components/search/types-and-utils.ts
Labels: web

insights refactor & proper search data parsing
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/search.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

handle search & load advanced search data
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

remove logs
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

new advanced search logic
  apps/web/src/app/(authenticated)/insights/components/search.tsx
Labels: web

fix simple search in the backend
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

fix simple search in the backend (#532)
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

506 search ad account and ad by name (#516)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/insights/components/search/types-and-utils.ts
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/util/url-query-utils.ts
  pnpm-lock.yaml
Labels: web

url keys refactor
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

disconnect meta on error
  package.json
  packages/channel-meta/src/channel-meta.ts
Labels: none

remove Iresha
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

disconnect meta on error (#536)
  package.json
  packages/channel-meta/src/channel-meta.ts
Labels: none

remove Iresha (#537)
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

url keys refactor (#534)
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

get clicks, campaign, adset from all 3 channels
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
Labels: none

try migrating server to eslint flat hierarchy.
  apps/server/.eslintrc.cjs
  apps/server/eslint.config.mjs
  packages/config-eslint/library.mjs
  packages/config-eslint/package.json
Labels: server, web

removed obsolete dependency
  apps/web/src/components/user-button/user-button.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
