Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

access rights fixes
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/util/access-utils.ts
Labels: web

schemas fixes
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: web

removed obsolete file
  apps/web/src/app/(authenticated)/integrations/components/update-ad-accounts-button.tsx
Labels: web

view ad accounts fixes
  apps/web/src/app/(authenticated)/integrations/components/update-ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/view-ad-accounts-button.tsx
Labels: web

merge fixes
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

quarterly filter option
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

insights filtering absolute
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

implement intervals
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

interval graphql fix
  apps/web/src/app/(authenticated)/insights/actions.ts
Labels: web

possible insight rank calculation crash fix
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

Update apps/web/src/middleware.ts
  apps/web/src/middleware.ts
Labels: web

Absolute values filtering insights (#334)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

settings Channels should refer to root organizations
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

dropdowns improvemnts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

dropdowns improvemnts (#384)
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

reload on successful ad account changes
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: web

don't vanish org dropdown
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

dimmed text
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

fixed dropdown values
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

log remove
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

124 orderby absolute add interval dropdown (#387)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
Labels: web

don't vanish org dropdown (#386)
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

Update ad accounts (#342)
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
Labels: server, web

allow fetching base info for invited users
  apps/server/src/schema/user/user-types.ts
Labels: server

allow fetching base info for invited users (#389)
  apps/server/src/schema/user/user-types.ts
Labels: server

change default sorting to impressions absolute
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

change default sorting to impressions absolute (#394)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

split sync into time ranges
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/config.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/.eslintrc.cjs
  packages/channel-utils/eslint.tsconfig.json
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Labels: none

split sync into time ranges (#395)
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/config.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/.eslintrc.cjs
  packages/channel-utils/eslint.tsconfig.json
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Labels: none

job dates should be iso string
  packages/channel/src/report-process.ts
Labels: none

job dates should be iso string (#396)
  packages/channel/src/report-process.ts
Labels: none

job dates should be iso string
  packages/channel/src/report-process.ts
Labels: none

job dates should be iso string (#397)
  packages/channel/src/report-process.ts
Labels: none

implement intervals
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

quarterly filter option
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

getOrderByValue fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

remove vpc endpoints
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

remove vpc endpoints (#399)
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

increase the concurrency of ad reports
  packages/channel/src/report-process.ts
Labels: none

members can remove themselves from an organization
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/organization/organization-operations.ts
Labels: server
