Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

removeUserMilestoneAndGetJWT action & usage
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: server, web

layout changes
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

improved video card component + added onboarding video
  apps/web/public/videos/onboarding-video.mp4
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

Update apps/web/src/middleware.ts
  apps/web/src/middleware.ts
Labels: web

navigation
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

redirect based on onboarding milestone
  apps/server/src/auth.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/middleware.ts
  packages/shared-types/src/index.ts
Labels: server, web

onboarding layout with mock video
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/tsconfig.json
Labels: web

layout stuff
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

actions updated
  apps/web/src/app/(unauthenticated)/actions.ts
Labels: web

Update apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
Labels: web

middleware and default home page logic refactor
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/middleware.ts
Labels: web

translations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

eslint rule disable for JWT
  apps/web/src/middleware.ts
Labels: web

restrict access to insights and redirect user to onboarding screen when appropriate
  apps/web/src/middleware.ts
Labels: web

524 improved onboarding flow (#634)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/auth.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/public/videos/onboarding-video.mp4
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/middleware.ts
  apps/web/tsconfig.json
  packages/shared-types/src/index.ts
Labels: server, web

remove onboarding when an integration is created
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/backend-shared/.eslintrc.cjs
  packages/backend-shared/package.json
  packages/backend-shared/src/index.ts
  packages/backend-shared/src/organization.ts
  packages/backend-shared/src/user-roles.ts
  packages/backend-shared/src/user.ts
  packages/backend-shared/tsconfig.json
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/organization/src/index.ts
  pnpm-lock.yaml
Labels: server

create newIntegration org event
  apps/backoffice/package.json
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/subscriptions.graphql
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/pubsub/.eslintrc.cjs
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig.json
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: server, web

639 remove onboarding milestone when an integration is created (#640)
  apps/backoffice/package.json
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/subscriptions.graphql
  packages/backend-shared/.eslintrc.cjs
  packages/backend-shared/package.json
  packages/backend-shared/src/index.ts
  packages/backend-shared/src/organization.ts
  packages/backend-shared/src/user-roles.ts
  packages/backend-shared/src/user.ts
  packages/backend-shared/tsconfig.json
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/organization/src/index.ts
  packages/pubsub/.eslintrc.cjs
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig.json
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: server, web

keep subscriptions only in integration.graphql
  apps/server/src/schema/codegen.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
Labels: server, web

keep subscriptions only in integration.graphql (#642)
  apps/server/src/schema/codegen.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
Labels: server, web

fixes in linkedIn refresh token and local initial: true
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
Labels: none

fixes in linkedIn refresh token and local initial: true (#644)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
Labels: none

introduce lastSyncedAt in adAccount
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/channel-report/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/backend-shared/src/organization.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241027093415_last_synced_at_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: automation, server, web

introduce lastSyncedAt in adAccount (#645)
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/channel-report/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/backend-shared/src/organization.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241027093415_last_synced_at_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: automation, server, web

graphql fixes
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

more layout changes + graphql query for searchQueryStrings
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

base layout
  apps/web/src/app/layout.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

userId/orgId - queryString name is now unique
  packages/database/prisma/migrations/20241017125448_unique_parent_id_name/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

cleanup
  apps/web/src/components/search/search.tsx
Labels: web

data flow
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
  apps/web/src/util/types.ts
Labels: web

create & update search operation with access rights
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

delete search action
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

saved searches dropdown & delete logic
  apps/web/src/app/atoms/searches-atoms.ts
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/util/types.ts
  pnpm-lock.yaml
Labels: web

update org search fix
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

update search name logic
  apps/web/src/components/search/saved-searches/save.tsx
Labels: web

translations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

access rights fix
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

remove isOrg from deleteSearchQueryString
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

Update apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

id renames
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
