Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

ad accounts dropdown
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/util/insights-utils.ts
Labels: web

ad accounts refactored in insights action to support multiple ad accounts & added ad accounts to summary view
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

updated comments
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
Labels: web

add adAccountIds in the dataRefresh caching
  packages/channel/src/data-refresh.ts
Labels: none

Update apps/web/src/util/insights-utils.ts
  apps/web/src/util/insights-utils.ts
Labels: web

Update apps/web/src/util/insights-utils.ts
  apps/web/src/util/insights-utils.ts
Labels: web

lint fix
  apps/web/src/util/insights-utils.ts
Labels: web

621 summary view add ad accounts selection (#624)
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/data-refresh.ts
Labels: web

initial setup
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/tsconfig.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
Labels: none

base layout
  apps/web/src/app/layout.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

userId/orgId - queryString name is now unique
  packages/database/prisma/migrations/20241017125448_unique_parent_id_name/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

more layout changes + graphql query for searchQueryStrings
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

tmp
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/schema.prisma
Labels: server

graphql fixes
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

data flow
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
  apps/web/src/util/types.ts
Labels: web

cleanup
  apps/web/src/components/search/search.tsx
Labels: web

remove isOrg from deleteSearchQueryString
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

delete search action
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

navigation
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

layout stuff
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

layout changes
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

onboarding layout with mock video
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/tsconfig.json
Labels: web

improved video card component + added onboarding video
  apps/web/public/videos/onboarding-video.mp4
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

save creatives in META
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/meta-types.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20241017145919_creatives_updates/migration.sql
  packages/database/prisma/migrations/20241018082814_creatives_optional/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

save creatives in META (#627)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/meta-types.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20241017145919_creatives_updates/migration.sql
  packages/database/prisma/migrations/20241018082814_creatives_optional/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

initial setup
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/tsconfig.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
Labels: none

enabled google
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

save creatives in META
  packages/channel-meta/src/meta-types.ts
  packages/channel-utils/src/insights-utils.ts
Labels: none

authentication completed, added google-ads-api
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: server

updated env
  turbo.json
Labels: none

increase cache duration of currencyToEuro
  packages/channel-utils/src/currency-to-eur-cacheable.ts
Labels: none

enabled google
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

authentication completed, added google-ads-api
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: server

initial setup
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/tsconfig.json
  packages/channel/src/channel-helper.ts
  pnpm-lock.yaml
Labels: none

updated env
  turbo.json
Labels: none

create adAccount integration many2many relationship
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/channel-report/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241020121040_integration_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

sync adAccounts, not integrations
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-utils/src/lambda-invoke.ts
Labels: server

saved searches dropdown & delete logic
  apps/web/src/app/atoms/searches-atoms.ts
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/util/types.ts
  pnpm-lock.yaml
Labels: web

update org search fix
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

more layout changes + graphql query for searchQueryStrings
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
