Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

Revert "added lock.yaml file"
  pnpm-lock.yaml
Labels: none

added lock.yaml file
  pnpm-lock.yaml
Labels: none

added pnpm-lock.yaml file
  pnpm-lock.yaml
Labels: none

undo a change
  packages/database/package.json
Labels: server

fixed typo errors
  README.md
Labels: documentation

added fixes while initial setup(Thanks Giorgos) (#18)
  README.md
  apps/server/package.json
  pnpm-lock.yaml
Labels: documentation, server

Create settings Coming soon
  apps/server/src/google.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/google-login-operations.ts
  apps/web/public/integrations/facebook-logo-icon.svg
  apps/web/public/integrations/linkedin-logo-icon.svg
  apps/web/public/integrations/tiktok-logo-icon.svg
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/logo.tsx
  apps/web/src/app/(logged-in)/placements/page.tsx
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/app/(logged-in)/settings/layout.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/sign-in.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/components/login/sign-up.tsx
  apps/web/src/components/user-profile.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240407171823_create_integration/migration.sql
  packages/database/prisma/schema.prisma
  packages/ui/package.json
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Labels: server, web

Server now serves the correct integration status
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
Labels: server, web

Install terraform in root
  package.json
  pnpm-lock.yaml
Labels: none

Add better fallback in settings cards
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards-call.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  package.json
  patches/graphql@16.8.1.patch
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, server, web

Capitalize server's env vars
  infrastructure/modules/environment/server_secrets.tf
  packages/utils/src/password-helper.ts
Labels: infrastructure

Fb BE integration woks
  .husky/pre-commit
  README.md
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/email.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/utils/aes-util.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/database/package.json
  packages/database/prisma/migrations/20240409210034_integration_refactoring/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/.eslintrc.cjs
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/config.ts
  packages/redis/tsconfig.json
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
  turbo.json
Labels: documentation, infrastructure, server, web

Add fb sign out functionality
  apps/server/package.json
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240410203220_integration_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Labels: server, web

Add fb de-auth
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  pnpm-lock.yaml
Labels: server, web

Add FE elements
  .idea/inspectionProfiles/Project_Default.xml
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/errors.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/package.json
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/actions.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/toaster.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/button.tsx
  packages/ui/src/globals.css
  pnpm-lock.yaml
Labels: server, web

Fix fb key length restriction
  apps/server/src/config.ts
Labels: server

Get token expiration date
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
Labels: server

Fix Overly permissive regular expression range
  apps/server/src/contexts/channels/integration-helper.ts
Labels: server

Use grid
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
Labels: web

Facebook progress bar
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/pubsub.ts
  apps/web/package.json
  apps/web/src/app/(logged-in)/fb-initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/integration.graphql
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server, web

Add auth in subscription
  README.md
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/pubsub.ts
  apps/web/src/app/(logged-in)/fb-initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  package.json
  pnpm-lock.yaml
Labels: documentation, server, web

Add api_endpoint and fb documentation
  README.md
  apps/web/README.md
Labels: documentation, web

Remove catalog_management scope
  apps/server/src/contexts/channels/fb/fb-channel.ts
Labels: server

Fix codegen
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  pnpm-lock.yaml
Labels: server, web

Get creatives and adsPlacement
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/ingress-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/pubsub.ts
  apps/server/src/utils/date-utils.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/lib/urql/urql-client.ts
  pnpm-lock.yaml
Labels: server, web

Filter ads
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/schema/integrations/ingress-operations.ts
Labels: server

Save Ads, Accounts and Insights
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/ingress-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/utils/data-object-utils.ts
  apps/server/src/utils/date-utils.ts
  apps/server/src/utils/express-utils.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240419165057_create_ad_tables/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

Fix refresh endpoint
  apps/server/src/index.ts
Labels: server

Add channel data refresh sns
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

Force sequential execution of data refresh
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

Don't use transaction in ad data saving
  apps/server/src/contexts/channels/integration-helper.ts
Labels: server

Add more logs in subscription
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
Labels: server, web

Add delay before the first publish
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/integrations/integration-operations.ts
Labels: server

Build for arm as well
  .github/workflows/build-deploy-service.yml
  package.json
Labels: automation

Rename next env variables
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/config.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, web

Trigger a push
  apps/web/src/lib/urql/urql-auth.ts
Labels: web

Trigger a push
  .gitignore
  apps/web/src/lib/urql/urql-auth.ts
Labels: web

Revert "Trigger a push"
  .gitignore
  apps/web/src/lib/urql/urql-auth.ts
Labels: web

Trigger a push
  apps/web/src/lib/urql/urql-auth.ts
Labels: web

Rename public url env variable
  apps/server/src/config.ts
  apps/web/src/config.ts
  apps/web/src/middleware.ts
  packages/utils/src/config.ts
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
