Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

Try deploying frontend with GitHub actions
  .github/workflows/deploy_frontend.yml
  .gitignore
Labels: automation

Try deploying frontend with GitHub actions
  .github/workflows/deploy_frontend.yml
Labels: automation

Speed up vercel deployment
  .github/workflows/deploy_frontend.yml
Labels: automation

Rename public next variables
  apps/server/src/config.ts
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/config.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  packages/utils/src/config.ts
Labels: server, web

Add public next.js variables to ci/cd
  .github/workflows/deploy_frontend.yml
Labels: automation

Check public env variables
  .github/workflows/deploy_frontend.yml
Labels: automation

Check public env variables
  .github/workflows/deploy_frontend.yml
  turbo.json
Labels: automation

User .env.production
  .github/workflows/deploy_frontend.yml
  apps/web/.env.production
Labels: automation, web

Use env.mjs
  apps/web/package.json
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/urql-provider.tsx
  apps/web/src/app/(login)/(normal)/actions.ts
  apps/web/src/app/(login)/(normal)/sign-out/route.ts
  apps/web/src/app/api/login/sign-in/route.ts
  apps/web/src/app/api/login/sign-up/route.ts
  apps/web/src/components/login/login-form.tsx
  apps/web/src/config.ts
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  apps/web/tsconfig.json
  packages/config-eslint/next.cjs
  pnpm-lock.yaml
  turbo.json
Labels: server, web

Use rewrite to avoid rest options
  .github/workflows/deploy_frontend.yml
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Labels: automation, server, web

Update readme
  README.md
  apps/web/.env.production
Labels: documentation, web

Remove delay
  .github/workflows/deploy_frontend.yml
  apps/server/src/contexts/channels/integration-helper.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
Labels: automation, server, web

Remove delay
  apps/server/src/contexts/channels/integration-helper.ts
Labels: server

Add Docker turbo cache
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  apps/server/Dockerfile
Labels: automation, server

Add Docker turbo cache
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  apps/web/.env.production
Labels: automation, web

Add slack webhook url
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

Log redis error
  packages/redis/src/client.ts
Labels: none

Downgrade redis error to warning
  packages/redis/src/client.ts
Labels: none

Honor redirect on sign in/up
  apps/web/src/components/login/login-form.tsx
  package.json
Labels: web

Auto-update packages
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/config-eslint/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/redis/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

Don't update eslint
  package.json
  pnpm-lock.yaml
Labels: none

Remove black aside menu
  README.md
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/badge.tsx
  packages/ui/src/globals.css
Labels: documentation, web

Create queries in the backend
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/date-utils.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards-call.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  packages/database/prisma/migrations/20240422105655_ad_account_name/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Add icons for insights>
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/package.json
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/device.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/position.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/publisher.tsx
  apps/web/src/i18n.ts
  apps/web/src/middleware.ts
  pnpm-lock.yaml
Labels: server, web

Add tool tip in position
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/package.json
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/position.tsx
  packages/config-tailwind/tailwind.config.ts
  packages/ui/src/globals.css
  pnpm-lock.yaml
Labels: web

Add orderBy
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/page.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/util/query-string-utils.ts
  packages/config-tailwind/tailwind.config.ts
  packages/ui/package.json
  packages/ui/src/globals.css
  packages/ui/src/select.tsx
Labels: web

Add pagination
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order-select.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size-select.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/query-string-utils.ts
  packages/ui/src/fallback.tsx
  packages/ui/src/select.tsx
  packages/ui/src/spinner.tsx
Labels: server, web

Add groupBy filters
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/app/[locale]/(logged-in)/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/settings/layout.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-up/page.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size-select.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/pagination.tsx
  packages/ui/package.json
  packages/ui/src/checkbox.tsx
Labels: server, web

Save Ad name
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/data-object-utils.ts
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/ad-name.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240426162256_ad_name/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Add account Id filter and group by
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/account-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/order-by-select.tsx
  apps/web/src/components/filters/order-by.tsx
  apps/web/src/components/filters/order-select.tsx
  apps/web/src/components/filters/order.tsx
  apps/web/src/components/filters/page-size.tsx
  apps/web/src/components/filters/search-params-select.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240429070515_20240427130848_insights_indces_currency_a_account_id/migration.sql
  packages/database/prisma/schema.prisma
  packages/ui/src/fallback.tsx
Labels: server, web

Add rest of the filters (not ad id yet)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/account-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-filter.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

Add filter by ad id
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-filter.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

Fix z-index
  apps/web/src/components/filters/grouped-checkbox.tsx
  apps/web/src/components/filters/multi-select-dropdown.tsx
  packages/ui/src/checkbox.tsx
Labels: web

Get iFrame in backend
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/iframe-fb-helper.ts
  apps/server/src/contexts/channels/iframe-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/app/[locale]/(logged-in)/insights/filters.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/redis/src/cacheable.ts
  packages/redis/src/client.ts
  pnpm-lock.yaml
Labels: server, web

Introduce redis batcher
  packages/redis/src/cacheable.ts
  packages/redis/src/redis-batcher.ts
Labels: none

Use iFrame in Insight
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  package.json
  packages/ui/package.json
  packages/ui/src/iframe.tsx
  pnpm-lock.yaml
Labels: server, web

Install pnpm properly in Dockerfile
  apps/server/Dockerfile
Labels: server

Don't install unneeded dependencies in Dockerfile
  apps/server/Dockerfile
Labels: server

Update pnpm action setup
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_frontend.yml
Labels: automation

Revamp user roles and expose refresh data
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/google.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  packages/database/prisma/migrations/20240508100423_roles_revamp/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web
