Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

Create organization
  .idea/dataSources.xml
  .terraformignore
  infrastructure/.gitignore
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_variables.tf
Labels: infrastructure

Create oidc
  .github/workflows/build-push-lambda.yml
  .github/workflows/deploy-production.yml
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/modules/iam/iam_outputs.tf
  infrastructure/modules/iam/iam_variables.tf
  infrastructure/modules/iam/terraform.tf
  infrastructure/modules/thumbprint.sh
Labels: automation, infrastructure

Create prod account
  infrastructure/environments/management/management.tf
Labels: infrastructure

Create giorgos user
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_variables.tf
Labels: infrastructure

Create groups and permissions
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

Fix lint
  apps/server/tsconfig.json
Labels: server

Add prettier
  .github/PULL_REQUEST_TEMPLATE.md
  .github/pr_guidelines.md
  .prettierignore
  apps/server/src/google.ts
  package.json
Labels: automation, server

Add prod workspace
  .github/workflows/pr-labeler.yml
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/environments/management/terraform.tf
  infrastructure/environments/management/users.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_outputs.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/iam/iam_outputs.tf
  infrastructure/modules/iam/iam_variables.tf
Labels: automation, infrastructure

Add vpc, subnets, routes
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/workspace/github.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  infrastructure/modules/workspace/workspace_variables.tf
Labels: infrastructure

Add frontend and route53
  .npmrc
  infrastructure/environments/management/groups.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_outputs.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/ses/forgot-password-en.html
  infrastructure/modules/ses/forgot-password-en.txt
  infrastructure/modules/ses/ses.tf
  infrastructure/modules/ses/ses_outputs.tf
  infrastructure/modules/ses/ses_variables.tf
  infrastructure/modules/workspace/github.tf
Labels: infrastructure

Add amplify buildSpec
  amplify.yml
  customHttp.yml
Labels: none

Add amplify buildSpec
  amplify.yml
  customHttp.yml
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

Add certificates
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

Domain association FE
  infrastructure/environments/prod/prod_outputs.tf
Labels: infrastructure

Create certificates in us-east-1
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/ses/forgot-password-en.html
  infrastructure/modules/ses/forgot-password-en.txt
  infrastructure/modules/ses/ses.tf
Labels: infrastructure

Redirect to non-www
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Add ecr
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/security_group.tf
  infrastructure/modules/service/service.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
Labels: automation, infrastructure

Allow to push in ecr
  infrastructure/modules/service/service_iam.tf
Labels: infrastructure

Change domain
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/workspace/github.tf
  infrastructure/modules/workspace/workspace_variables.tf
  package.json
Labels: infrastructure

Add existing dns entries
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

Change domain in ci/cd
  .github/workflows/deploy-production.yml
Labels: automation

Crete vercel app
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Remove domain_association for now
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Update .npmrc for vercel
  .npmrc
Labels: none

Add root_directory to vercel app
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Add dev,build,install command
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Recreate vercel
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Add vercel domain
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Remove amplify
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

Create database url secret
  .idea/dataSources.xml
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

Add app runner policies
  infrastructure/modules/service/service_iam.tf
Labels: infrastructure

Create app runner
  apps/server/src/config.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/app_runner.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_variables.tf
Labels: infrastructure, server

Fix database regex schema
  .idea/dataSources.xml
  apps/server/src/config.ts
  package.json
  packages/database/src/config.ts
  pnpm-lock.yaml
Labels: server

Add db migrations in ci/cd
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
Labels: automation

Figure out migrate workflow
  .github/workflows/tmp.yml
Labels: automation

Figure out migrate workflow
  .github/workflows/tmp.yml
Labels: automation

Figure out migrate workflow
  .github/workflows/build-deploy-service.yml
Labels: automation

Github role can access ssm parameters
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_variables.tf
Labels: infrastructure

Ignore value change in database_url
  .github/workflows/tmp.yml
  infrastructure/modules/environment/server_secrets.tf
Labels: automation, infrastructure

Recreate app runner
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, server
