Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

indices update for comment in prisma schema
  packages/database/prisma/migrations/20241204102810_comment_indices_update/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

notifications isRead index migration
  packages/database/prisma/migrations/20241205183906_notifications_is_read_indices/migration.sql
Labels: server

mark all as read logic + improved notifications mouse click events
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  packages/database/prisma/schema.prisma
Labels: server, web

added missing property to initialUserDetails
  apps/web/src/app/atoms/user-atoms.ts
Labels: web

comments pagination and improvements
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

notifications migration
  packages/database/prisma/migrations/20241205083016_notifications/migration.sql
Labels: server

notifications pagination backend
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/notification/notification-operations.ts
  apps/web/src/app/atoms/notifications-atom.ts
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
Labels: server, web

notifications pagination behaviour
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/subscriptions.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/notifications/notification-entry.tsx
  apps/web/src/components/notifications/notifications-button.tsx
  apps/web/src/components/notifications/notifications-list.tsx
Labels: web

improved "mark all as read" button styles
  apps/web/src/components/notifications/notifications-button.module.scss
  apps/web/src/components/notifications/notifications-button.tsx
Labels: web

improved mark all as read styling
  apps/web/src/components/notifications/notifications-button.module.scss
Labels: web

717: fix mantine timezone in date picker
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/mantine-utils.ts
Labels: web

717: don't truncate date when returning data
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

717 groupby position yield wrong results (#718)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/mantine-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: web

thresholds layout & logic
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/thresholds.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
  pnpm-lock.yaml
Labels: web

added thresholds to top ads, too
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/thresholds/thresholds.tsx
Labels: web

471: create eventbridge
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/payment_eventbridge.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Labels: infrastructure, server, web

471: create checkout session
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/payment/stripe.ts
  apps/server/src/schema/index.ts
  apps/server/src/schema/payment/payment-operations.ts
  apps/server/src/schema/payment/payment-types.ts
  packages/database/prisma/schema.prisma
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: server

719: fix min/max thresholds
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

Update apps/web/src/components/thresholds/thresholds.tsx
  apps/web/src/components/thresholds/thresholds.tsx
Labels: web

formatting
  apps/web/src/components/thresholds/thresholds.tsx
Labels: web

threshold data type fix
  apps/web/src/components/thresholds/thresholds.tsx
Labels: web

thresholds layout & logic (#719)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/thresholds/thresholds.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  pnpm-lock.yaml
Labels: web

Fix: right insight values in google integration
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/schema.prisma
Labels: server

Fix: insights fixed
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/migrations/20241208192957_updated_device_enums/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Fix: grouped by date/adid and created the right insight
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

471: create eventbridge
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/payment_eventbridge.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Labels: infrastructure, server, web

471: create checkout session
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/payment/stripe.ts
  apps/server/src/schema/index.ts
  apps/server/src/schema/payment/payment-operations.ts
  apps/server/src/schema/payment/payment-types.ts
  packages/database/prisma/schema.prisma
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: server

471: stripe webhook works
  apps/server/package.json
  apps/server/src/contexts/payment/stripe-webhook-types.ts
  apps/server/src/contexts/payment/stripe.ts
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server

Feat: Authentication for pinterest
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

get and update insights per row user preferences
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

722: remove Onboarding milestone if there are ad accounts in org
  apps/server/src/auth.ts
Labels: server

722: remove Onboarding milestone if there are ad accounts in org (#723)
  apps/server/src/auth.ts
Labels: server

Fix: right insight values in google integration
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/schema.prisma
Labels: server

Fix: grouped by date/adid and created the right insight
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
Labels: none

Fix: Updated deviceEnums
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/database/prisma/migrations/20241210114900_new_aligned_device_enum/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

Fix: insights fixed
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/migrations/20241208192957_updated_device_enums/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

upgrade to node 22
  Service.Dockerfile
Labels: none

724: retry failed reports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: none

709 google ingress bug (#715)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/schema.ts
  packages/database/prisma/migrations/20241208192957_updated_device_enums/migration.sql
  packages/database/prisma/migrations/20241210114900_new_aligned_device_enum/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web
