Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

update pothos full compatibility mode
  apps/server/src/schema/builder.ts
  apps/server/src/schema/errors.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

update eslint-config-turbo
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: server, web

prettier minor fix
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

add ts-expect error in edgesNullable
  apps/server/src/schema/integrations/integration-types.ts
Labels: server

update packages (#307)
  apps/channel-ingress/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/errors.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

minor styling fix
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

minor styling fix (#308)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

minor updates on turbo.json and README.md
  README.md
  turbo.json
Labels: documentation

minor updates on turbo.json and README.md (#309)
  README.md
  turbo.json
Labels: documentation

add userId and orgId in sentry
  apps/server/src/context.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: server, web

add userId and orgId in sentry (#311)
  apps/server/src/context.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: server, web

try using useSentry() yoga plugin
  apps/server/package.json
  apps/server/src/index.ts
  pnpm-lock.yaml
Labels: server

Revert "add userId and orgId in sentry (#311)"
  apps/server/src/context.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: server, web

Revert "Revert "add userId and orgId in sentry (#311)""
  apps/server/src/context.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: server, web

create skeleton landing-page
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy_landing_page.yml
  apps/landing-page/.eslintrc.cjs
  apps/landing-page/.gitignore
  apps/landing-page/README.md
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/postcss.config.mjs
  apps/landing-page/public/next.svg
  apps/landing-page/public/vercel.svg
  apps/landing-page/src/app/favicon.ico
  apps/landing-page/src/app/globals.css
  apps/landing-page/src/app/layout.tsx
  apps/landing-page/src/app/page.tsx
  apps/landing-page/tailwind.config.ts
  apps/landing-page/tsconfig.json
  pnpm-lock.yaml
Labels: automation

removeUserFromOrganization applies to users of all statuses
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

create skeleton landing-page (#315)
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy_landing_page.yml
  apps/landing-page/.eslintrc.cjs
  apps/landing-page/.gitignore
  apps/landing-page/README.md
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/postcss.config.mjs
  apps/landing-page/public/next.svg
  apps/landing-page/public/vercel.svg
  apps/landing-page/src/app/favicon.ico
  apps/landing-page/src/app/globals.css
  apps/landing-page/src/app/layout.tsx
  apps/landing-page/src/app/page.tsx
  apps/landing-page/tailwind.config.ts
  apps/landing-page/tsconfig.json
  pnpm-lock.yaml
Labels: automation

removeUserFromOrganization applies to users of all statuses (#317)
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

workflow renaming
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-web.yml
Labels: automation

workflow renaming (#318)
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-web.yml
Labels: automation

use js-cookie library
  apps/web/package.json
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: web

rename token to invite_hash
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/shared-types/src/index.ts
Labels: server, web

rename token to invite_hash (#320)
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/shared-types/src/index.ts
Labels: server, web

add userId and orgId in sentry (#314)
  apps/server/src/context.ts
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
Labels: server, web

introduce shared-names.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/shared-types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/shared-names.ts
Labels: server

introduce shared-names.ts (#321)
  apps/server/src/schema/organization/organization-operations.ts
  packages/shared-types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/shared-names.ts
Labels: server

trigger main ci/cd
  .github/workflows/build-deploy-service.yml
Labels: automation

Revert "trigger main ci/cd"
  .github/workflows/build-deploy-service.yml
Labels: automation

landing temporary domain
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

landing temporary domain (#322)
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

fixes and refactoring around invites
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

fixes and refactoring around invites (#325)
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

update pnpm
  package.json
Labels: none

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

update eslint-config-turbo
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: server, web

force landing page in dev at port 3001
  apps/landing-page/package.json
Labels: none

update turbo and turbo (#327)
  apps/landing-page/package.json
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: server, web

use intl in header
  apps/landing-page/messages/en.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/ScrollToTop/index.tsx
  apps/landing-page/src/i18n.ts
  pnpm-lock.yaml
Labels: none

use intl in footer, header, hero
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Common/section-header.tsx
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
Labels: none

use intl in landing-page (partial) (#329)
  apps/landing-page/messages/en.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Common/section-header.tsx
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/components/ScrollToTop/index.tsx
  apps/landing-page/src/i18n.ts
  pnpm-lock.yaml
Labels: none
