Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

removed old language picker
  apps/web2/src/components/dropdowns/language-picker/images/english.png
  apps/web2/src/components/dropdowns/language-picker/images/french.png
  apps/web2/src/components/dropdowns/language-picker/images/german.png
  apps/web2/src/components/dropdowns/language-picker/images/greek.png
  apps/web2/src/components/dropdowns/language-picker/images/index.ts
  apps/web2/src/components/dropdowns/language-picker/images/italian.png
  apps/web2/src/components/dropdowns/language-picker/images/polish.png
  apps/web2/src/components/dropdowns/language-picker/language-picker.module.scss
  apps/web2/src/components/dropdowns/language-picker/language-picker.tsx
Labels: none

Update apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/app/(authenticated)/actions.ts
Labels: none

google auth middleware logic
  apps/web2/src/middleware.ts
Labels: none

moved color scheme script inside body in unauth layout
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
Labels: none

translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
Labels: none

locale fallback
  apps/web2/src/i18n.ts
Labels: none

removed nextjs svgs
  apps/web2/public/next.svg
  apps/web2/public/vercel.svg
Labels: none

jose re-add
  apps/web2/package.json
  apps/web2/src/middleware.ts
  pnpm-lock.yaml
Labels: none

schemas
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
Labels: none

defaultProps fix
  apps/web2/package.json
Labels: none

remove readme
  apps/web2/README.md
Labels: none

lang mismatch fix
  apps/web2/src/app/layout.tsx
Labels: none

login providers in sign up
  apps/web2/src/app/(unauthenticated)/components/login-providers.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

remove aws folder
  aws/README.md
  aws/THIRD_PARTY_LICENSES
  aws/install
Labels: none

redone missing commits
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/util/currency-utils.ts
  apps/web2/src/util/format-utils.ts
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

rerun pnpm i after rebase
  pnpm-lock.yaml
Labels: none

update README.md
  README.md
Labels: documentation

linked in auth url implement & iframe removal
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
Labels: none

update README.md (#96)
  README.md
Labels: documentation

optimize package imports for mantine
  apps/web2/next.config.mjs
Labels: none

new charts
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/components/buttons/settings-button.tsx
  apps/web2/src/components/dropdowns/language-picker/language-picker.tsx
Labels: none

update turbo
  .gitignore
  .idea/aws.xml
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/config-eslint/package.json
  packages/database/package.json
  pnpm-lock.yaml
  turbo.json
Labels: server, web

update turbo (#97)
  .gitignore
  .idea/aws.xml
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/config-eslint/package.json
  packages/database/package.json
  pnpm-lock.yaml
  turbo.json
Labels: server, web

Auto-update packages
  apps/channel-ingress/package.json
  apps/server/package.json
  apps/web-old/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-types/package.json
  packages/logger/package.json
  packages/redis/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

optimize package imports for mantine
  apps/web/next.config.mjs
Labels: web

new charts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Labels: web

add name in providers
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/initial-setup-subscription.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web-old/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web-old/src/util/types.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/types.ts
  packages/mappings/.eslintrc.cjs
  packages/mappings/package.json
  packages/mappings/src/index.ts
  packages/mappings/src/name-mapping.ts
  packages/mappings/tsconfig.json
  pnpm-lock.yaml
Labels: server, web

add name in providers (#101)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/initial-setup-subscription.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web-old/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web-old/src/util/types.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/types.ts
  packages/mappings/.eslintrc.cjs
  packages/mappings/package.json
  packages/mappings/src/index.ts
  packages/mappings/src/name-mapping.ts
  packages/mappings/tsconfig.json
  pnpm-lock.yaml
Labels: server, web

remove eslint in package.json
  package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/database/package.json
  pnpm-lock.yaml
Labels: server, web

remove eslint in package.json (#102)
  package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/database/package.json
  pnpm-lock.yaml
Labels: server, web

remove Iresha
  infrastructure/environments/management/users.tf
Labels: infrastructure

remove Iresha (#103)
  infrastructure/environments/management/users.tf
Labels: infrastructure

104: delete data on channel revoke
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240606131146_cascade_on_ad_acount_delete/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

104: delete data on channel revoke (#105)
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240606131146_cascade_on_ad_acount_delete/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

106: add ad reporting LinkedIn scope
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

106: add ad reporting LinkedIn scope (#107)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

108: LinkedIn ingress
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/migrations/20240607185544_ad_name_nullable/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Labels: server, web

108: LinkedIn ingress (#109)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/migrations/20240607185544_ad_name_nullable/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Labels: server, web

ts error fix
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

111: linkedIn getAdpreview
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/index.ts
  pnpm-lock.yaml
Labels: server, web
