Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

google login
  apps/web2/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web2/src/app/(unauthenticated)/sign-in/components/google-login-icon.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
Labels: none

initial group filters
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/atoms/user-atoms.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

page param handling for grouping update
  apps/web2/src/util/url-query-utils.ts
Labels: none

datapoints fixes for new interval response handling
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
Labels: none

currency util & chart translations
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/util/generic-utils.ts
Labels: none

basic charts
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

ad iframe popover & loader customization via props
  apps/web2/src/app/(authenticated)/insights/components/ad-popover.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/components/misc/loader-centered.tsx
Labels: none

next-intl setup & version fix
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web2/messages/en.json
  apps/web2/package.json
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/globals.scss
  apps/web2/src/app/layout.tsx
  apps/web2/src/app/page.tsx
  apps/web2/src/i18n.ts
  apps/web2/src/util/url-query-utils.ts
  pnpm-lock.yaml
Labels: web

pino setup
  apps/web2/next.config.mjs
  apps/web2/package.json
  pnpm-lock.yaml
Labels: none

settings fixes & fr + nl translations
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/i18n.ts
Labels: none

integration grid & card
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
Labels: none

settings renamed to integrations & user-select: none for the entire app
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/app/global.scss
  apps/web2/src/app/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

authenticated translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

language options & cookie server actions
  apps/web2/src/app/actions.ts
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

root url redirect
  apps/web2/src/middleware.ts
Labels: none

terms and conditions link
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

account filtering with server action + multi-key params checking refactored
  apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/string-utils.ts
  apps/web2/src/util/url-query-utils.ts
Labels: none

project init + sign in & sign up main layout
  apps/server/src/schema/codegen.ts
  apps/web2/.eslintrc.cjs
  apps/web2/.gitignore
  apps/web2/README.md
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/next.config.mjs
  apps/web2/package-lock.json
  apps/web2/package.json
  apps/web2/public/next.svg
  apps/web2/public/vercel.svg
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(authenticated)/settings/page.tsx
  apps/web2/src/app/(unauthenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/favicon.ico
  apps/web2/src/app/layout.tsx
  apps/web2/src/app/page.tsx
  apps/web2/src/components/misc/logo-full.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/env.mjs
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/graphql/integration.graphql
  apps/web2/src/graphql/login.graphql
  apps/web2/src/i18n.ts
  apps/web2/src/lib/urql/urql-auth.ts
  apps/web2/src/lib/urql/urql-client.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/create-urql-requester.ts
  apps/web2/src/util/handle-urql-request.ts
  apps/web2/src/util/schemas/login-schemas.ts
  apps/web2/src/util/types.ts
  apps/web2/tsconfig.json
  pnpm-lock.yaml
Labels: server

new navigation button component
  apps/web2/src/components/buttons/navlink-button/navlink-button.module.scss
  apps/web2/src/components/buttons/navlink-button/navlink-button.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

routing fix
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

forgot password flow
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/messages/fr.json
  apps/web2/messages/nl.json
  apps/web2/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web2/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web2/src/app/api/auth/forgot-password/route.ts
  apps/web2/src/app/api/auth/reset-password/route.ts
  apps/web2/src/middleware.ts
  apps/web2/src/util/schemas/login-schemas.ts
Labels: none

cleanup
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/api/auth/sign-in/route.ts
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

page load suspense in main layout & multifilter pending state
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
Labels: none

date format & conditional rendering
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

more translations
  apps/web2/messages/el.json
  apps/web2/messages/en.json
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: none

insight card layout fix & grid key fix
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

aws
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  aws/README.md
  aws/THIRD_PARTY_LICENSES
  aws/install
Labels: none

mad url utils refactor & filter checkboxes fix
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/util/url-query-utils.ts
Labels: none

responsive order filters
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
Labels: none

codegen fix + type fixes + insight card key id implement
  apps/server/src/schema/codegen.ts
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/graphql/generated/schema-client.ts
  apps/web2/src/graphql/generated/schema-server.ts
  apps/web2/src/graphql/insights.graphql
  apps/web2/src/util/url-query-utils.ts
Labels: server

insight card layout changes & auth improvements
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web2/src/app/(unauthenticated)/sign-up/page.tsx
Labels: none

favicon
  apps/web/src/app/favicon.ico
  apps/web2/src/app/favicon.ico
Labels: web

amount spend fix
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: none

default loading.tsx
  apps/web2/src/app/(authenticated)/loading.tsx
Labels: none

scrollable group by filters
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
Labels: none

start database script
  apps/server/package.json
  packages/database/package.json
Labels: server

start database script (#91)
  apps/server/package.json
  packages/database/package.json
Labels: server

keep only login
  apps/web2/.env.production
  apps/web2/package.json
  apps/web2/src/app/(authenticated)/actions.ts
  apps/web2/src/app/(authenticated)/insights/components/ad-popover.tsx
  apps/web2/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web2/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web2/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web2/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web2/src/app/(authenticated)/insights/page.tsx
  apps/web2/src/app/(authenticated)/integrations/actions.ts
  apps/web2/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web2/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web2/src/app/(authenticated)/integrations/page.tsx
  apps/web2/src/app/(authenticated)/layout.tsx
  apps/web2/src/app/(authenticated)/loading.tsx
  apps/web2/src/assets/images/linkedin-logo.png
  apps/web2/src/assets/images/meta-logo.png
  apps/web2/src/assets/images/tiktok-logo.png
  apps/web2/src/components/buttons/color-scheme-toggle.tsx
  apps/web2/src/components/buttons/navlink-button/navlink-button.module.scss
  apps/web2/src/components/buttons/navlink-button/navlink-button.tsx
  apps/web2/src/components/buttons/settings-button.tsx
  apps/web2/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
  apps/web2/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
  apps/web2/src/components/dropdowns/language-picker/images/english.png
  apps/web2/src/components/dropdowns/language-picker/images/french.png
  apps/web2/src/components/dropdowns/language-picker/images/german.png
  apps/web2/src/components/dropdowns/language-picker/images/greek.png
  apps/web2/src/components/dropdowns/language-picker/images/index.ts
  apps/web2/src/components/dropdowns/language-picker/images/italian.png
  apps/web2/src/components/dropdowns/language-picker/images/polish.png
  apps/web2/src/components/dropdowns/language-picker/language-picker.module.scss
  apps/web2/src/components/dropdowns/language-picker/language-picker.tsx
  apps/web2/src/components/shells/main-shell/main-shell.tsx
  apps/web2/src/components/user-button/user-button.module.scss
  apps/web2/src/components/user-button/user-button.tsx
Labels: none

expose photo url
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Labels: server, web

expose photo url (#93)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Labels: server, web
