Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

add environments in sentry (#270)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  apps/server/src/utils/lambda-utils.ts
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  packages/channel/src/integration-helper.ts
  packages/database/package.json
  packages/database/src/client.ts
  packages/mode/.eslintrc.cjs
  packages/mode/package.json
  packages/mode/src/index.ts
  packages/mode/tsconfig.json
  packages/utils/src/env-helper.ts
  pnpm-lock.yaml
Labels: server, web

has next page controls improvement
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
Labels: web

243 migrate insights to use jotai (#269)
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Labels: web

fix debug token call
  packages/channel-meta/src/channel-meta.ts
Labels: none

fix debug token call (#274)
  packages/channel-meta/src/channel-meta.ts
Labels: none

change unique ad account keys
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240723175653_ad_account_change_unique/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

change unique ad account keys (#277)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240723175653_ad_account_change_unique/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

sentry does not support --turbo
  apps/web/next.config.mjs
Labels: web

connected integration button should be disabled for non admin users
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

invoke different lambda instances per integration during data ingress
  apps/server/src/utils/lambda-utils.ts
Labels: server

invoke different lambda instances per integration during data ingress
  apps/server/src/utils/lambda-utils.ts
Labels: server

invoke different lambda instances per integration during data ingress (#282)
  apps/server/src/utils/lambda-utils.ts
Labels: server

process TikTok insights 500 at a time
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

process TikTok insights 500 at a time (#284)
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

connected integration button should be disabled for non admin users (#281)
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

add tik-tok lambdas
  .github/workflows/deploy-tiktok-check-report.yml
  .github/workflows/deploy-tiktok-process-report.yml
  apps/tiktok-check-report/.eslintrc.cjs
  apps/tiktok-check-report/.gitignore
  apps/tiktok-check-report/package.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-check-report/tsconfig.json
  apps/tiktok-process-report/.eslintrc.cjs
  apps/tiktok-process-report/.gitignore
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
  apps/tiktok-process-report/tsconfig.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: automation, infrastructure

add tik-tok lambdas (#286)
  .github/workflows/deploy-tiktok-check-report.yml
  .github/workflows/deploy-tiktok-process-report.yml
  apps/tiktok-check-report/.eslintrc.cjs
  apps/tiktok-check-report/.gitignore
  apps/tiktok-check-report/package.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-check-report/tsconfig.json
  apps/tiktok-process-report/.eslintrc.cjs
  apps/tiktok-process-report/.gitignore
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
  apps/tiktok-process-report/tsconfig.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: automation, infrastructure

group prod lambdas together
  .dockerignore
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
  .github/workflows/deploy-tiktok-check-report.yml
  Lambda.Dockerfile
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  infrastructure/modules/tiktok/tiktok_variables.tf
Labels: automation, infrastructure

group prod lambdas together (#287)
  .dockerignore
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
  .github/workflows/deploy-tiktok-check-report.yml
  Lambda.Dockerfile
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  infrastructure/modules/tiktok/tiktok_variables.tf
Labels: automation, infrastructure

add URL in queues, process report lambda does not need to read from queue
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
Labels: none

use dev account
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
Labels: automation

add meta queues
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
Labels: infrastructure

fix lambda names in workflows
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-tiktok-check-report-local.yml
Labels: automation

change lambda names
  apps/check-report/.eslintrc.cjs
  apps/check-report/.gitignore
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/check-report/tsconfig.json
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/package.json
  apps/process-report/src/index.ts
  apps/process-report/tsconfig.json
  apps/tiktok-check-report/src/index.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  pnpm-lock.yaml
Labels: none

re add lambdas in tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Labels: infrastructure

remove lambda for local
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Labels: infrastructure

rename local lambdas workflow
  .github/workflows/deploy-lambdas-local.yml
Labels: automation

add meta queues (#288)
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  apps/check-report/.eslintrc.cjs
  apps/check-report/.gitignore
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/check-report/tsconfig.json
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/package.json
  apps/process-report/src/index.ts
  apps/process-report/tsconfig.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-process-report/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  pnpm-lock.yaml
Labels: automation, infrastructure

fix local workflow lambda name
  .github/workflows/deploy-lambdas-local.yml
Labels: automation

put lambdas back
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
Labels: infrastructure

TikTok ready to be tested
  apps/check-report/package.json
  apps/check-report/src/index.ts
  apps/server/src/config.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/package.json
  packages/lambda-types/package.json
  packages/lambda-types/src/config.ts
  packages/lambda-types/src/index.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: server

tiktok works locally
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/package.json
  packages/channel/src/config.ts
  packages/channel/src/index.ts
  packages/channel/src/report-process.ts
  packages/lambda-types/src/index.ts
  pnpm-lock.yaml
Labels: none

concurrency works
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: none

rename lambda and remove the excess one
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  apps/check-report/package.json
  apps/check-report/src/index.ts
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/tsconfig.json
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: none

start removing excess resources from tf
  infrastructure/modules/reports/channel_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_queues.tf
Labels: infrastructure

rename lambda in github actions and tf
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  infrastructure/modules/reports/channel_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_queues.tf
Labels: automation, infrastructure

start removing excess resources from tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_variables.tf
Labels: infrastructure

temporarily remove channel report lambda
  infrastructure/modules/environment/channel_report.tf
Labels: infrastructure

move variables in queues
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Labels: infrastructure

put back channel-report lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
Labels: infrastructure
