Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

primary color changed to reflect that of /web
  apps/landing-page/tailwind.config.ts
Labels: none

auto theme toggler fix
  apps/landing-page/src/components/Header/theme-toggler.tsx
Labels: none

new brands
  apps/landing-page/public/images/brand/brand-facebook.svg
  apps/landing-page/public/images/brand/brand-instagram.svg
  apps/landing-page/public/images/brand/brand-youtube.svg
Labels: none

align integration icons
  apps/landing-page/src/components/Integration/index.tsx
Labels: none

go to support section from pricing
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

add landing-page .env
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
Labels: none

remove experimental
  apps/landing-page/next.config.mjs
Labels: none

onboard Aaryan
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

onboard Aaryan (#479)
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure

forms (contact & newsletter)
  apps/landing-page/src/app/context/toast-context.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: none

pricing changes
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

add workflow-dispatch to auto-update flow
  .github/workflows/auto-update.yml
Labels: automation

only update root packages
  package.json
Labels: none

Auto-update packages
  package.json
  pnpm-lock.yaml
Labels: none

fix landing page build issue
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  pnpm-lock.yaml
Labels: none

update packages
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

update-packages (#483)
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

fix types in forms
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  packages/database/prisma/migrations/20240831161053_email_citext/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

add autoComplete
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: none

remove logs vpc endpoint
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

fix landing page build issue (#480)
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  packages/database/prisma/migrations/20240831161053_email_citext/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

update dmarc email
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

update readme to indicate that windows/wsl are not supported
  README.md
Labels: documentation

fix hero form
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/env.mjs
  turbo.json
Labels: none

change landing-page dns
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

fix hero form (#485)
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/env.mjs
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  turbo.json
Labels: infrastructure

minor pricing changes
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

add users with roles when creating an organization
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

minor pricing changes (#487)
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

446 sub organization include existing organization users (#488)
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

Revert "446 sub organization include existing organization users (#488)"
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

use env on web app url
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

Revert "446 sub organization include existing organization users (#488)" (#489)
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: server, web

remove unused eslint rule ignores
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

486 small landing page changes (#490)
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

removed location and phone number info
  apps/landing-page/src/components/Contact/index.tsx
Labels: none

the netherlands :)
  apps/landing-page/src/components/Contact/index.tsx
Labels: none

removed location and phone number info (#491)
  apps/landing-page/src/components/Contact/index.tsx
Labels: none

update README.md with landing-page .env
  README.md
Labels: documentation

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
