Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/service/service_outputs.tf
  packages/channel/src/report-process.ts
Labels: infrastructure

add quarter in IntervalType
  packages/utils/src/date-utils.ts
Labels: none

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#338)
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/turboviewer.iml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/service/service_outputs.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
  packages/utils/src/date-utils.ts
Labels: infrastructure, server, web

remove channel-report
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Labels: automation

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#339)
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Labels: automation

new .idea
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

new .idea
  .idea/dataSources.xml
Labels: none

log Checking reports
  packages/channel/src/report-process.ts
Labels: none

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#340)
  .idea/dataSources.xml
  packages/channel/src/report-process.ts
Labels: none

new .idea
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

log when deleting old insights
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: none

335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#341)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: none

date-utils now obey UTC
  .idea/dataSources.xml
  apps/server/src/schema/integrations/integration-types.ts
  packages/utils/src/date-utils.ts
Labels: server

date-utils now obey UTC (#343)
  .idea/dataSources.xml
  apps/server/src/schema/integrations/integration-types.ts
  packages/utils/src/date-utils.ts
Labels: server

new .idea
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

move report process from lambda to app runner
  .idea/codeStyles/codeStyleConfig.xml
Labels: none

don't restart the ad report if already underway
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
Labels: none

335 increase the insights range to year to date add quarter interval (#345)
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
Labels: none

trigger checkReports from sns
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, server

trigger checkReports from sns (#346)
  apps/server/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, server

enable channel report sns subscription
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

enable channel report sns subscription (#347)
  infrastructure/modules/environment/sns.tf
Labels: infrastructure

fix meta token expiration date
  packages/channel-meta/src/channel-meta.ts
Labels: none

fix meta token expiration date (#348)
  packages/channel-meta/src/channel-meta.ts
Labels: none

fix meta token expiration date
  packages/channel-meta/src/channel-meta.ts
Labels: none

fire and forget process report
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
Labels: none

fire and forget process report (#350)
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
Labels: none

lighten the report sqs load
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/object-helper.ts
Labels: none

lighten the report sqs load (#352)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/object-helper.ts
Labels: none

retry data ingress in failure
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: none

retry data ingress in failure (#353)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: none

sortObjectKeysAndValues honors dates
  packages/utils/src/object-helper.ts
Labels: none

sortObjectKeysAndValues honors dates (#354)
  packages/utils/src/object-helper.ts
Labels: none

create compute, queue and repo
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/workspace/workspace_outputs.tf
Labels: infrastructure

Revert "335-increase-the-insights-range-to-year-to-date-add-quarter-interval (#339)"
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  pnpm-lock.yaml
Labels: automation

update pnpm
  package.json
Labels: none

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

hello world channel report
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/deploy-services-production.yml
  apps/channel-report/Dockerfile
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/src/instrument.ts
  apps/server/.gitignore
  pnpm-lock.yaml
Labels: automation, server
