Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

don't create date range in the future
  packages/channel-utils/src/date-utils.ts
Labels: none

390-member-are-unable-to-remove-themselves-from-an-organization (#400)
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel/src/report-process.ts
Labels: server

decrease the concurrency of ad reports
  .idea/dataSources.xml
  packages/channel/src/report-process.ts
Labels: none

introduce channel report check lambda
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/ghcr-retention.yml
  apps/channel-report-check/.eslintrc.cjs
  apps/channel-report-check/.gitignore
  apps/channel-report-check/package.json
  apps/channel-report-check/src/index.ts
  apps/channel-report-check/tsconfig.json
  apps/server/src/index.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: automation, infrastructure, server

introduce channel report check lambda (#402)
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/ghcr-retention.yml
  apps/channel-report-check/.eslintrc.cjs
  apps/channel-report-check/.gitignore
  apps/channel-report-check/package.json
  apps/channel-report-check/src/index.ts
  apps/channel-report-check/tsconfig.json
  apps/server/src/index.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: automation, infrastructure, server

add the job env vars to new lambda
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

allow github to update new lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
Labels: infrastructure

allow channel report check to submit jobs
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

401-off-load-report-check-to-a-lambda (#403)
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

Revert "remove vpc endpoints (#399)"
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

remove unused local var in terraform
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure

fix API_ENDPOINT
  packages/utils/src/config.ts
Labels: none

fix API_ENDPOINT (#408)
  packages/utils/src/config.ts
Labels: none

notifications
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/user-button/user-button.tsx
Labels: web

integration errored state
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

user info is not clickable
  apps/backoffice/src/components/user-button/user-button.module.scss
Labels: none

fix user-atoms.ts
  apps/backoffice/src/app/atoms/user-atoms.ts
Labels: none

remove non-needed code
  apps/backoffice/src/app/(authenticated)/actions.ts
  apps/backoffice/src/app/(authenticated)/layout.tsx
  apps/backoffice/src/app/(authenticated)/profile/actions.ts
  apps/backoffice/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/backoffice/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/backoffice/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/backoffice/src/app/(authenticated)/profile/layout.tsx
  apps/backoffice/src/app/(authenticated)/profile/page.tsx
  apps/backoffice/src/app/actions.ts
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/app/emulate/page.tsx
  apps/backoffice/src/app/icons/icon1.svg
  apps/backoffice/src/app/icons/icon2.png
  apps/backoffice/src/app/icons/icon3.png
  apps/backoffice/src/app/icons/icon4.png
  apps/backoffice/src/app/icons/icon5.png
  apps/backoffice/src/app/icons/icon6.png
  apps/backoffice/src/app/icons/icon7.png
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/app/loading.tsx
  apps/backoffice/src/app/route.ts
  apps/backoffice/src/app/set-user-sentry.tsx
  apps/backoffice/src/components/misc/notifications-handler.tsx
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/util/access-utils.ts
  apps/backoffice/src/util/currency-utils.ts
  apps/backoffice/src/util/format-utils.ts
  apps/backoffice/src/util/handle-urql-request.ts
  apps/backoffice/src/util/publisher-utils.ts
  apps/backoffice/src/util/types.ts
  apps/backoffice/src/util/url-query-utils.ts
Labels: none

Revert "integration errored state"
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

route53 record
  infrastructure/modules/environment/frontend.tf
Labels: infrastructure

disable button when isPending
  apps/backoffice/src/app/emulate/page.tsx
Labels: none

integration errored state
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

update README.md
  README.md
  apps/landing-page/README.md
Labels: documentation

replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, web

deploy all vercel in one workflow
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
Labels: automation

404-emulate-organization-admins (#410)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: automation, documentation, web

fix uses path in deploy vercel
  .github/workflows/deploy-vercel.yml
Labels: automation

rename workflows
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

404-emulate-organization-admins (#411)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

Revert "404-emulate-organization-admins (#411)"
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

Revert "404-emulate-organization-admins (#410)"
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: automation, documentation, web

replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, web

replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT (#412)
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, web

Revert "replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT (#412)"
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, web

deploy all vercel in one workflow
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

deploy all vercel in one workflow (#413)
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

remove vercel insights/analytics from backoffice
  apps/backoffice/package.json
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/components/misc/logo-full.tsx
  pnpm-lock.yaml
Labels: none

save tokens in admin
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/middleware.ts
  apps/channel-report/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.ts
  turbo.json
Labels: web

remove non used logos
  apps/backoffice/public/wide-logo.svg
  apps/backoffice/src/components/misc/logo-simple.tsx
Labels: none

update pnpm
  package.json
Labels: none
