Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

missing org page & fixed org switch
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/page.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/middleware.ts
Labels: web

organization deletion flow & middleware to handle no current org in jwt data
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/organization.graphql
  apps/web/src/middleware.ts
  pnpm-lock.yaml
Labels: web

profile skeleton minor improvement
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
Labels: web

moved create & switch to org to server side
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/buttons/create-organization-button.tsx
Labels: web

switch org functionality & updated org name change logic
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/graphql/organization.graphql
Labels: web

org select hide if user has no orgs
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

Update apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
Labels: web

minor fix
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
Labels: web

new org stuff graphql
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/graphql/organization.graphql
Labels: web

graphql fix
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

layout changes & translations for org delete & switch
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/organization.graphql
  pnpm-lock.yaml
Labels: web

integration card change
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

fix missing translations
  apps/web/messages/en.json
  apps/web/messages/nl.json
Labels: web

delete org new behavior
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/lib/urql/urql-client.ts
Labels: web

empty org fix
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
Labels: web

org form improvements
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

edit org rights changed
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Labels: web

organization creation
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/components/buttons/create-organization-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/organization.graphql
Labels: web

org page load data properly
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

util
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/util/access-utils.ts
Labels: web

add analytics to web
  apps/web/src/app/layout.tsx
Labels: web

replace refresh token if it exists
  apps/web/src/app/(authenticated)/organization/actions.ts
Labels: web

improvements
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/middleware.ts
Labels: web

more improvements
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
Labels: web

truncate insight title when appropriate & show full title on hover
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/util/format-utils.ts
Labels: web

adName is now working
  apps/server/src/schema/integrations/insights-operations.ts
Labels: server

insights card metadata improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/util/publisher-utils.ts
Labels: web

insight card title fallback
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

fix format
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

fix import order
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
Labels: web

add analytics to web (#254)
  apps/web/src/app/layout.tsx
Labels: web

Update apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

Update apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Labels: web

226 insights metadata improvements (#242)
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/util/format-utils.ts
  apps/web/src/util/publisher-utils.ts
Labels: server, web

155 multiple orgs fe (#212)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/page.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/buttons/create-organization-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  apps/web/src/util/access-utils.ts
  pnpm-lock.yaml
Labels: web

add prisma generate in deploy frontend
  .github/workflows/deploy_frontend.yml
Labels: automation

add prisma generate in deploy frontend
  .github/workflows/deploy_frontend.yml
Labels: automation

hardcode environment
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Labels: server

Revert "remove sentry in BE (#184)"
  apps/server/package.json
Labels: server

remove SKIP_ENV_VALIDATION
  .github/workflows/ci.yml
Labels: automation
