Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

Update apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

save as org access rights
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

type fix
  apps/web/src/util/types.ts
Labels: web

translation fix
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

rename
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

Update apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

Update apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

more translations
  apps/web/src/components/search/saved-searches/save.tsx
Labels: web

disabled save fix
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

626 save advanced searches (#629)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/searches-atoms.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20241017125448_unique_parent_id_name/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

fix vercel workflow
  .github/workflows/deploy-vercel.yml
  apps/web/src/graphql/generated/schema-client.ts
Labels: automation, web

fix vercel workflow1
  .github/workflows/deploy-vercel.yml
Labels: automation

fix vercel workflow2
  .github/workflows/deploy-vercel.yml
Labels: automation

fix vercel workflow (#646)
  .github/workflows/deploy-vercel.yml
  apps/web/src/graphql/generated/schema-client.ts
Labels: automation, web

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

save and expose clicks, cpc in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241030091513_insights_clicks/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

save and expose clicks, cpc in insights (#650)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241030091513_insights_clicks/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

cpc is cost per click, not cost per 1,000 clicks
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

cpc is cost per click, not cost per 1,000 clicks (#651)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

update packages
  apps/backoffice/package.json
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/landing-page/package.json
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/lib/urql/urql-client.ts
  pnpm-lock.yaml
Labels: web

Embed and IFrameT fail
  apps/landing-page/package.json
  apps/web/src/components/insights/insight-card.tsx
  packages/ui/src/embed.tsx
  pnpm-lock.yaml
Labels: web

use hook fix to load insights & refactore embed & iframe components
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/components/insights/insight-card.tsx
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
Labels: web

removed comments
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
Labels: web

fix recharts
  apps/web/package.json
  pnpm-lock.yaml
Labels: web

top ads cpc ascending like cpm
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

cpc & clicks on filters and on insight card + cpm fixed to 2 decimals
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/charts-utils.ts
Labels: web

cpc in summary chart
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

build fixes & clicks label fix
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

Apply suggestions from code review
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
Labels: web

fix to avoid double re-renders of top ads
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

fixed async problem with the assignment of the is data loaded flag in the main shell which caused an extra re-render of the top-ads-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

649 add clicks and cpc in insights (#652)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

fix to avoid double re-renders of top ads (#648)
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

AdPreview now returns also null
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/iframe-cacheable.ts
  packages/redis/src/cacheable.ts
Labels: none

AdPreview now returns also null (#657)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/iframe-cacheable.ts
  packages/redis/src/cacheable.ts
Labels: none

reduce concurrency in TikTok reports
  packages/channel/src/report-process.ts
Labels: none

adjust timeRanges for LinkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/date-utils.ts
Labels: none

adjust timeRanges for LinkedIn (#660)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/date-utils.ts
Labels: none

iframe loading only for non-null iframes
  apps/web/src/components/insights/insight-card.tsx
Labels: web

iframe loading only for non-null iframes (#661)
  apps/web/src/components/insights/insight-card.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
