Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

access rights fix
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

data flow
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
  apps/web/src/util/types.ts
Labels: web

remove isOrg from deleteSearchQueryString
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

delete search action
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

translations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

cleanup
  apps/web/src/components/search/search.tsx
Labels: web

graphql fixes
  apps/web/src/app/atoms/search-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
Labels: web

base layout
  apps/web/src/app/layout.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
Labels: web

create & update search operation with access rights
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

userId/orgId - queryString name is now unique
  packages/database/prisma/migrations/20241017125448_unique_parent_id_name/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

update search name logic
  apps/web/src/components/search/saved-searches/save.tsx
Labels: web

more translations
  apps/web/src/components/search/saved-searches/save.tsx
Labels: web

save as org access rights
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
Labels: web

type fix
  apps/web/src/util/types.ts
Labels: web

added youtube ads fetch
  packages/channel-google/src/channel-google.ts
Labels: none

fix time ranges
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
Labels: none

introduce cache refresh lambda
  .github/workflows/deploy-lambdas-prod.yml
  apps/cache-refresh/.eslintrc.cjs
  apps/cache-refresh/.gitignore
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/cache-refresh/tsconfig.json
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  pnpm-lock.yaml
Labels: automation, infrastructure

351-sync-ad-accounts-intead-of-integrations (#631)
  .github/workflows/deploy-lambdas-prod.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/cache-refresh/.eslintrc.cjs
  apps/cache-refresh/.gitignore
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/cache-refresh/tsconfig.json
  apps/channel-report/src/index.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241020121040_integration_ad_account/migration.sql
  packages/database/prisma/schema.prisma
  packages/lambda-utils/src/lambda-invoke.ts
  pnpm-lock.yaml
Labels: automation, infrastructure, server, web

fix rights for cache refresh lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure

add Sentry manually
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/channel-ingress/package.json
  pnpm-lock.yaml
Labels: none

351-sync-ad-accounts-intead-of-integrations (#632)
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/channel-ingress/package.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  pnpm-lock.yaml
Labels: infrastructure

onboarding graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

fix user atom initial type
  apps/web/src/app/atoms/user-atoms.ts
Labels: web

onboarding graphql (#633)
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

navigation
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

layout changes
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

improved video card component + added onboarding video
  apps/web/public/videos/onboarding-video.mp4
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

onboarding layout with mock video
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/tsconfig.json
Labels: web

layout stuff
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
Labels: web

redirect based on onboarding milestone
  apps/server/src/auth.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/middleware.ts
  packages/shared-types/src/index.ts
Labels: server, web

attache LambdaExecutionRole in cache refresh lambda role
  infrastructure/modules/environment/cache_refresh_lambda.tf
Labels: infrastructure

removeUserMilestoneAndGetJWT action & usage
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: server, web

group lambda errors
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/lambda-errors.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure

351 group lambda errors (#635)
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/lambda-errors.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure

upgrade terraform providers
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

summary chart refactor to componetize filters
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
Labels: web

mandate refreshAccessToken in channels
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
Labels: none

remove duplicate adAccounts
  packages/channel/src/data-refresh.ts
Labels: none

637 standardize refreshing tokens in channels (#638)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/data-refresh.ts
Labels: none

summary chart refactor to componetize filters (#636)
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
