Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

fixed cpc & clicks in summary + improved orderBy dropdowns grouping
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: web

put overrides in root
  apps/backoffice/package.json
  apps/landing-page/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  package.json
  packages/ui/src/label.tsx
  pnpm-lock.yaml
Labels: web

662 fix summary chart not handling clicks & improved cpc grouping (#663)
  apps/backoffice/package.json
  apps/landing-page/package.json
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  package.json
  packages/ui/src/label.tsx
  pnpm-lock.yaml
Labels: web

matcher warning fix
  apps/web/src/middleware.ts
Labels: web

added NotEquals & NotContains to search
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
Labels: server, web

don't save sponsored messages in linkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

tests for all search operators
  packages/channel/test/insights-query-builder.test.ts
Labels: none

don't save sponsored messages in linkedIn (#672)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

added NotEquals & NotContains to search (#670)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/search/search.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: server, web

removed match from backoffice as well
  apps/backoffice/src/middleware.ts
Labels: none

matcher warning fix (#671)
  apps/backoffice/src/middleware.ts
  apps/web/src/middleware.ts
Labels: web

Revert "matcher warning fix (#671)"
  apps/backoffice/src/middleware.ts
  apps/web/src/middleware.ts
Labels: web

turbo fix for "port already in use"
  turbo.json
Labels: none

turbo fix for "port already in use" (#674)
  turbo.json
Labels: none

make sure that AdId exists when saving insights
  packages/channel-utils/src/insights-utils.ts
Labels: none

add context to isRootOrg
  apps/server/src/schema/builder.ts
Labels: server

minor
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/components/buttons/color-scheme-toggle.tsx
Labels: web

comments main flow w/o tagged users
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/format-utils.ts
  packages/utils/src/date-utils.ts
  packages/utils/src/shared-schemas.ts
Labels: web

creativeName
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: server, web

schema
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/comment/comment-types.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241109113244_comments/migration.sql
  packages/database/prisma/migrations/20241109122504_comments/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

fixes and graphql files implement
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

creative insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241110162604_ads_creative_id_rename/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

new fiels in userdto
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: server, web

validation improvement
  apps/server/src/schema/comment/comment-operations.ts
  packages/utils/src/shared-schemas.ts
Labels: server

remove saveCreatives
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
Labels: server, web

edit comment + allow ctrl+enter to submit comment
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/atoms/comment-atoms.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments.tsx
Labels: web

delete comment
  apps/server/src/schema/comment/comment-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

inline_policy argument is deprecated
  infrastructure/modules/service/service_iam.tf
Labels: infrastructure

fixes around meta creatives
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
Labels: none

fixes around meta creatives (#676)
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
Labels: none

migrate only on server
  .github/workflows/build-deploy-service.yml
Labels: automation

google channel verification
  infrastructure/modules/environment/route53.tf
Labels: infrastructure

increase the exchange cacheable to 10 days
  packages/channel-utils/src/currency-to-eur-cacheable.ts
Labels: none

don't join on tables that we don't need
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none

privacy policy page
  apps/landing-page/src/app/(site)/privacy-policy/page.tsx
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: none

privacy policy page (#683)
  apps/landing-page/src/app/(site)/privacy-policy/page.tsx
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: none

new integration subscription event
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/pubsub/src/index.ts
Labels: server, web

subscriptions implementation
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/layout.tsx
  apps/web/src/app/subscriptions.tsx
  apps/web/src/app/urql-provider.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/lib/urql/urql-client-side-client.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/lib/urql/urql-options.ts
  apps/web/src/middleware.ts
Labels: server, web

import fix
  apps/web/src/app/layout.tsx
Labels: web

TikTok and LinkedIn now save creatives
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
