Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

install dependencies
  pnpm-lock.yaml
Labels: none

fix @aws-sdk/client-sqs package
  apps/channel-report/package.json
  infrastructure/modules/environment/channel_report.tf
  packages/channel/package.json
  pnpm-lock.yaml
Labels: infrastructure

fix @aws-sdk/client-sqs package (#290)
  apps/channel-report/package.json
  infrastructure/modules/environment/channel_report.tf
  packages/channel/package.json
  pnpm-lock.yaml
Labels: infrastructure

add aws env variables to server
  infrastructure/modules/environment/environment.tf
  packages/utils/src/config.ts
  turbo.json
Labels: infrastructure

add aws env variables to server (#291)
  infrastructure/modules/environment/environment.tf
  packages/utils/src/config.ts
  turbo.json
Labels: infrastructure

fix channel report queue url
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: none

fix channel report queue url (#292)
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: none

add mode in channel report lambda
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure

log the channel report queue url
  packages/channel/src/report-process.ts
Labels: none

add mode in channel report lambda (#293)
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
  packages/channel/src/report-process.ts
Labels: infrastructure

ad aws account id in channel ingress lambda-utils.ts
  apps/server/src/utils/lambda-utils.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, server

ad aws account id in channel ingress lambda-utils.ts (#294)
  apps/server/src/utils/lambda-utils.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, server

fix image cmd for channel ingress lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure

fix image cmd for channel ingress lambda (#295)
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure

add mode in channel-ingress lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure

channel-ingress lambda can send sqs messages to channel-report lambda
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Labels: infrastructure

add mode in channel-ingress lambda (#296)
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
Labels: infrastructure

remove excess logs
  packages/channel/src/report-process.ts
Labels: none

transition meta data ingress to queue
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

transition meta data ingress to queue (#298)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: none

sqs batch accepts 10 entries max
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  pnpm-lock.yaml
Labels: none

sqs batch accepts 10 entries max (#299)
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  pnpm-lock.yaml
Labels: none

use correct sync flow after integration connect
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-types/src/index.ts
  packages/lambda-utils/.eslintrc.cjs
  packages/lambda-utils/package.json
  packages/lambda-utils/src/config.ts
  packages/lambda-utils/src/index.ts
  packages/lambda-utils/src/lambda-invoke.ts
  packages/lambda-utils/tsconfig.json
  pnpm-lock.yaml
Labels: server

use correct sync flow after integration connect (#300)
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-types/src/index.ts
  packages/lambda-utils/.eslintrc.cjs
  packages/lambda-utils/package.json
  packages/lambda-utils/src/config.ts
  packages/lambda-utils/src/index.ts
  packages/lambda-utils/src/lambda-invoke.ts
  packages/lambda-utils/tsconfig.json
  pnpm-lock.yaml
Labels: server

insight card improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

card improvement
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

show ad previews new toggle logic
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: web

improved copying
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

insights card latest stats show
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

action fix
  apps/web/src/app/(authenticated)/insights/actions.ts
Labels: web

invite users only with email
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: server, web

invite users only with email (#303)
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: server, web

iframes show default
  apps/web/src/middleware.ts
Labels: web

247 preview card enhancements (#301)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/middleware.ts
Labels: web

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

introduce removeUserFromOrganization
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240802144457_remove_non_active/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

return success false if inviteUsers partially fail
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

introduce removeUserFromOrganization (#306)
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/prisma/migrations/20240802144457_remove_non_active/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

update packages
  apps/channel-ingress/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/web-old/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: server, web

update pothos compatibility mode
  apps/server/package.json
  apps/server/src/schema/builder.ts
  pnpm-lock.yaml
Labels: server
