Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

integrations access rights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

isRoot checks in integrations
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

integrations access rights (#215)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

fix division deprecation warning
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
Labels: web

fix division deprecation warning (#225)
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
Labels: web

store user's browser locale
  apps/web/src/app/layout.tsx
  apps/web/src/app/user-locale-setter.tsx
Labels: web

organization parent ID fix
  apps/server/src/contexts/organization.ts
Labels: server

organization parent ID fix (#229)
  apps/server/src/contexts/organization.ts
Labels: server

update terraform and providers
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

update terraform and providers (#232)
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure

tit-tok infra
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  turbo.json
Labels: infrastructure

tit-tok ad preview
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/database/prisma/migrations/20240716121052_add_publishers/migration.sql
  packages/database/prisma/schema.prisma
Labels: server

use map in integrations-grid
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

tit-tok save insights
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/index.ts
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Labels: server, web

tik-tok authorization
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  packages/channel-tiktok/.eslintrc.cjs
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-tiktok/src/index.ts
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240712155538_allow_null_integration_token_expiration/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/fire-and-forget.ts
  pnpm-lock.yaml
  turbo.json
Labels: server, web

fix meta ad preview dimensions
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

fix meta ad preview dimensions (#234)
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

downgrade hashicorp/awscc to 0.77.0
  infrastructure/environments/prod/prod.tf
Labels: infrastructure

updgrade hashicorp/awscc to 0.78.0
  infrastructure/environments/prod/prod.tf
Labels: infrastructure

updgrade hashicorp/awscc to 1.0.0
  infrastructure/environments/prod/prod.tf
Labels: infrastructure

upgrade hashicorp/awscc to 1.0.0
  infrastructure/environments/prod/prod.tf
Labels: infrastructure

tit-tok infra (#230)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  turbo.json
Labels: infrastructure

227 integrate with tik tok (#235)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/.eslintrc.cjs
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-tiktok/src/index.ts
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240712155538_allow_null_integration_token_expiration/migration.sql
  packages/database/prisma/migrations/20240716121052_add_publishers/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
  packages/utils/src/fire-and-forget.ts
  pnpm-lock.yaml
Labels: server, web

temp hack for organization rights
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-types.ts
Labels: server

improved error handling & no results found show when appropriate
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

fix organizations auth scopes
  apps/server/src/schema/organization/org-types.ts
Labels: server

fix organizations auth scopes (#239)
  apps/server/src/schema/organization/org-types.ts
Labels: server

lazy load iframes
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

improved error handling & no results found show when appropriate (#240)
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: web

lazy load iframes (#241)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

add tag to awscc_chatbot_slack_channel_configuration
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure

add tag to awscc_chatbot_slack_channel_configuration (#246)
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure

remove userOrganizations and filter userOrganizations by active users
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  pnpm-lock.yaml
Labels: server, web

expand granted to all non-true cases
  apps/server/src/schema/organization/org-types.ts
Labels: server

expand granted to all non-true cases (#249)
  apps/server/src/schema/organization/org-types.ts
Labels: server

remove userOrganizations and filter userOrganizations by active users (#250)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  pnpm-lock.yaml
Labels: server, web

add grantScope on createOrganization
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

add grantScope on createOrganization (#252)
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
Labels: server

rebase fixes
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

switch org refresh
  apps/web/src/components/buttons/create-organization-button.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
