Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

get and update insights per row user preferences
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

improvements
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
Labels: server, web

724: retry failed reports (#725)
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: none

default date range in analytical view
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
Labels: web

get and update insights per row user preferences (#720)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

default date range in analytical view (#727)
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
Labels: web

comments for adIds
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/comment/comment-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241211131307_comment_ad_id/migration.sql
  packages/database/prisma/schema.prisma
  packages/database/src/types.ts
Labels: server, web

732: integrate with posthog
  README.md
  apps/server/package.json
  apps/web/package.json
  apps/web/src/env.mjs
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/tsconfig.json
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/tsconfig.json
  packages/channel/tsconfig.json
  packages/lambda-utils/tsconfig.json
  packages/posthog/.eslintrc.cjs
  packages/posthog/package.json
  packages/posthog/src/config.ts
  packages/posthog/src/index.ts
  packages/posthog/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: documentation, infrastructure, server, web

732: integrate with posthog
  .github/workflows/ci.yml
Labels: automation

732: integrate with posthog (#733)
  .github/workflows/ci.yml
  README.md
  apps/server/package.json
  apps/web/package.json
  apps/web/src/env.mjs
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-linkedin/tsconfig.json
  packages/channel-meta/tsconfig.json
  packages/channel-tiktok/tsconfig.json
  packages/channel-utils/tsconfig.json
  packages/channel/tsconfig.json
  packages/lambda-utils/tsconfig.json
  packages/posthog/.eslintrc.cjs
  packages/posthog/package.json
  packages/posthog/src/config.ts
  packages/posthog/src/index.ts
  packages/posthog/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: automation, documentation, infrastructure, server, web

Feat: Authentication for pinterest
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

Feat: Added pinterest auth
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: server, web

Feat: Added migration.sql
  packages/database/prisma/migrations/20241211113644_pinterest_integration/migration.sql
Labels: server

729: pinterest secrets
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

729: introduce pinterest feature flag
  apps/server/src/schema/integrations/integration-operations.ts
  packages/posthog/src/index.ts
Labels: server

Refactor: removed unnecessary packages/scopes
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/tsconfig.json
  pnpm-lock.yaml
Labels: none

710 pinterest authentication (#729)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/public/integrations/pinterest-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-pinterest/.eslintrc.cjs
  packages/channel-pinterest/package.json
  packages/channel-pinterest/src/channel-pinterest.ts
  packages/channel-pinterest/src/config.ts
  packages/channel-pinterest/src/index.ts
  packages/channel-pinterest/tsconfig.json
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/database/prisma/migrations/20241211113644_pinterest_integration/migration.sql
  packages/database/prisma/schema.prisma
  packages/posthog/src/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, server, web

Revert "724: retry failed reports (#725)"
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: none
