Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

fix uneeded string cast
  apps/landing-page/src/components/rb2b.tsx
Labels: none

rb2b initial implementation (#589)
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/rb2b.tsx
  apps/landing-page/src/env.mjs
Labels: none

Revert "rb2b initial implementation (#589)"
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/rb2b.tsx
  apps/landing-page/src/env.mjs
Labels: none

Revert "Revert "rb2b initial implementation (#589)""
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/rb2b.tsx
  apps/landing-page/src/env.mjs
Labels: none

Revert "525 improved summary view (#585)"
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/public/lotties/chart-line.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/organization/components/graphics.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/graphics.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
  apps/web/src/components/buttons/navlink-button/navlink-button.module.scss
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.module.scss
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/middleware.ts
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

rename old slack webhook url
  packages/logger/src/index.ts
Labels: server, web

rename old slack webhook url (#593)
  packages/logger/src/index.ts
Labels: server, web

Revert "Revert "525 improved summary view (#585)""
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/public/lotties/chart-line.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/organization/components/graphics.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/graphics.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(authenticated)/summary/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.module.scss
  apps/web/src/components/buttons/sub-navlink-button/sub-navlink-button.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/middleware.ts
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: web

preview deployments
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

preview deployments (#591)
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

change icons
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

change icons
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

590-preview-deployments (#595)
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

introducing milestones in the backend
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241013072144_users_milestones/migration.sql
  packages/database/prisma/schema.prisma
Labels: automation, server, web

introducing milestones in the backend (#597)
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241013072144_users_milestones/migration.sql
  packages/database/prisma/schema.prisma
Labels: automation, server, web

force arrow function and lint deprecated code
  apps/backoffice/src/app/actions.ts
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/actions.ts
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-eslint/react.cjs
  pnpm-lock.yaml
Labels: server, web

add max-warnings in lint:fix
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/react.cjs
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mappings/src/tier-mapping.ts
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/ui/src/tailwind-utils.ts
  packages/utils/package.json
Labels: server, web

generate prisma in vercel-fn workflow
  .github/workflows/deploy-vercel-fn.yml
Labels: automation

force arrow function and lint deprecated code (#601)
  .github/workflows/deploy-vercel-fn.yml
  apps/backoffice/package.json
  apps/backoffice/src/app/actions.ts
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/actions.ts
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-eslint/react.cjs
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mappings/src/tier-mapping.ts
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/ui/src/tailwind-utils.ts
  packages/utils/package.json
  pnpm-lock.yaml
Labels: automation, server, web

use inputs.app in find&replace
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

try again
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

Revert "try again"
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

try again 2
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

remove NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT from landing page
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
  apps/landing-page/src/env.mjs
Labels: none

rename NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT to GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Labels: documentation, web

use inputs.app in find&replace (#603)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
  apps/landing-page/src/env.mjs
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Labels: automation, documentation, web

conditionally run pr_comment
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

conditionally run pr_comment (#604)
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: automation

remove cleanup workflow
  .github/workflows/cleanup-preview.yml
Labels: automation

crud search query strings
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/server/src/schema/search-query/search-query-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241014051740_search_query_strings/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

crud search query strings (#607)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/server/src/schema/search-query/search-query-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241014051740_search_query_strings/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

fix linked in revoke functionality
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

fix linked in revoke functionality (#610)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

expose spendUsd in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: server, web

expose spendUsd in insights (#612)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: server, web

updated datapoints logic
  packages/channel/src/insights-query-builder.ts
Labels: none

tmp
  packages/channel/src/insights-query-builder.ts
  packages/utils/src/date-utils.ts
Labels: none

updated tests & date bugfixes
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/utils/src/date-utils.ts
Labels: none

modified test cases
  packages/channel/test/insights-query-builder.test.ts
Labels: none

dates within same week & updated test
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: none
