Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

landing page endpoints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/landing-page/landing-page-operations.ts
  apps/server/src/schema/landing-page/landing-page-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240831073754_landing_page/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

update pnpm
  package.json
Labels: none

don't generate schema-client
  apps/server/src/schema/codegen.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/util/url-query-utils.ts
Labels: server, web

470 newletter and contact us for landing page (#477)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/landing-page/landing-page-operations.ts
  apps/server/src/schema/landing-page/landing-page-types.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/util/url-query-utils.ts
  package.json
  packages/database/prisma/migrations/20240831073754_landing_page/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

date picker on insights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/util/url-query-utils.ts
Labels: web

pass accept-language header to the backend
  apps/web/src/lib/urql/urql-client.ts
Labels: web

date range improvements
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: web

add dataFrom/To to insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/context.ts
  apps/server/src/language.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  packages/utils/src/date-utils.ts
Labels: server, web

date picker on insights (#450)
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/context.ts
  apps/server/src/language.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/layout.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/util/url-query-utils.ts
  packages/utils/src/date-utils.ts
Labels: server, web

image warnings fixes
  apps/landing-page/public/images/brand/brand-foome.svg
  apps/landing-page/public/images/brand/brand-tiktok.svg
  apps/landing-page/public/images/brand/brand-youtube.svg
  apps/landing-page/src/components/Brands/single-brand.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

cleanup
  apps/landing-page/src/components/Header/menu-data.tsx
Labels: none

brands improvements
  apps/landing-page/src/components/Integration/index.tsx
Labels: none

seo bs
  apps/landing-page/src/components/Hero/index.tsx
Labels: none

priority
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

remove useless paths
  apps/landing-page/src/app/(site)/(blog)/blog-details/page.tsx
  apps/landing-page/src/app/(site)/(blog)/page.tsx
  apps/landing-page/src/app/(site)/(docs)/page.tsx
  apps/landing-page/src/app/(site)/(error)/page.tsx
  apps/landing-page/src/app/(site)/(support)/page.tsx
Labels: none

minor typos
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

add icons
  apps/backoffice/src/app/icons/apple-icon.png
  apps/landing-page/src/app/favicon.ico
  apps/landing-page/src/app/icons/apple-icon.png
  apps/landing-page/src/app/icons/icon1.svg
  apps/landing-page/src/app/icons/icon2.png
  apps/landing-page/src/app/icons/icon3.png
  apps/landing-page/src/app/icons/icon4.png
  apps/landing-page/src/app/icons/icon5.png
  apps/landing-page/src/app/icons/icon6.png
  apps/landing-page/src/app/icons/icon7.png
Labels: none

required fields in contact form
  apps/landing-page/src/components/Contact/index.tsx
  apps/web/package.json
Labels: web

add graphql endpoints
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/env.mjs
  pnpm-lock.yaml
Labels: none

hero image fixes
  apps/landing-page/src/components/Hero/index.tsx
Labels: none

header fix 2
  apps/landing-page/src/components/Hero/index.tsx
Labels: none

pricing improvements
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

fixes in sections
  apps/landing-page/messages/en.json
  apps/landing-page/src/app/(site)/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/menu-data.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

scroll into section correct offset
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: none

theme toggler fixes
  apps/landing-page/src/components/Header/theme-toggler.tsx
Labels: none

smooth scrolling
  apps/landing-page/src/app/globals.css
  apps/landing-page/src/components/Header/index.tsx
Labels: none

generate sourcemaps on prod
  apps/landing-page/next.config.mjs
Labels: none

brands changes
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Brands/index.tsx
Labels: none

lazy load theme toggler
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Header/theme-toggler.tsx
Labels: none

cleanup
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
Labels: none

hide obsolete pages
  apps/landing-page/messages/en.json
  apps/landing-page/src/app/(site)/(blog)/blog-details/page.tsx
  apps/landing-page/src/app/(site)/(blog)/page.tsx
  apps/landing-page/src/app/(site)/(docs)/page.tsx
  apps/landing-page/src/app/(site)/(error)/page.tsx
  apps/landing-page/src/app/(site)/(support)/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: none

flip generate - codegen in husky
  .husky/pre-commit
Labels: none

more brands improvements
  apps/landing-page/src/components/Integration/index.tsx
Labels: none

system color scheme toggler
  apps/landing-page/package.json
  apps/landing-page/public/images/icon/icon-auto.svg
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Header/theme-toggler.tsx
  pnpm-lock.yaml
Labels: none

terms and conditions page
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
Labels: none

remove commented out sections
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
Labels: none

brands fixes
  apps/landing-page/src/components/Brands/index.tsx
  apps/landing-page/src/components/Brands/single-brand.tsx
Labels: none

delete non-needed code, rename images
  apps/landing-page/public/images/brand/brand-11.svg
  apps/landing-page/public/images/brand/brand-dark-05.svg
  apps/landing-page/public/images/brand/brand-dark-06.svg
  apps/landing-page/public/images/brand/brand-faire-dark.png
  apps/landing-page/public/images/brand/brand-faire-light.png
  apps/landing-page/public/images/brand/brand-foome.svg
  apps/landing-page/public/images/brand/brand-google-ads.svg
  apps/landing-page/public/images/brand/brand-light-02.svg
  apps/landing-page/public/images/brand/brand-light-04.svg
  apps/landing-page/public/images/brand/brand-light-05.svg
  apps/landing-page/public/images/brand/brand-light-06.svg
  apps/landing-page/public/images/brand/brand-linkedIn.svg
  apps/landing-page/public/images/brand/brand-meta.svg
  apps/landing-page/public/images/brand/brand-snapchat.svg
  apps/landing-page/public/images/brand/brand-the-alpha-men.svg
  apps/landing-page/public/images/brand/brand-tiktok.svg
  apps/landing-page/public/images/brand/brand-versuni-dark.png
  apps/landing-page/public/images/brand/brand-versuni-light.png
  apps/landing-page/public/images/favicon.ico
  apps/landing-page/public/next.svg
  apps/landing-page/public/vercel.svg
  apps/landing-page/src/app/(site)/auth/signin/page.tsx
  apps/landing-page/src/app/(site)/auth/signup/page.tsx
  apps/landing-page/src/app/(site)/head.tsx
  apps/landing-page/src/components/Auth/signin.tsx
  apps/landing-page/src/components/Auth/signup.tsx
  apps/landing-page/src/components/Brands/brand-data.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/markdown/docs/bootstrap-template.mdx
  apps/landing-page/src/markdown/docs/contact-form.mdx
  apps/landing-page/src/markdown/docs/style-guide.mdx
  apps/landing-page/src/markdown/docs/tailwind-component.mdx
  apps/landing-page/src/markdown/docs/tailwind-template.mdx
Labels: none

logo size fix
  apps/landing-page/src/components/Header/index.tsx
Labels: none

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
