Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'

111: linkedIn getAdpreview (#112)
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/index.ts
  pnpm-lock.yaml
Labels: server, web

language picker cleanup
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker-simple/language-picker-simple.tsx
Labels: web

113: fix linkedIn cents
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

113: fix linkedIn cents (#114)
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: none

add spend description
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

add spend description (#116)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

UI library implementation (#99)
  apps/web/next.config.mjs
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Labels: web

119: add emailable api in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

119: add emailable api in terraform (#120)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

119: add emailable api in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

119: add emailable api in terraform (#121)
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure

119: introduce email validation in the backend
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/user/emailble-helper.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240611125149_domain_in_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: server

119: introduce email validation in the backend (#122)
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/user/emailble-helper.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240611125149_domain_in_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: server

118: org admins are able to change org name
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

118: org admins are able to change org name (#123)
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

124: introduce order by absolute values
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web-old/src/components/filters/order-by.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

124: introduce order by absolute values (#125)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web-old/src/components/filters/order-by.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

126: fix cpm multiplier
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

126: fix cpm multiplier (#127)
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: server

revoke action prompt
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

chart fix formatter for spend / 100
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

chart fix formatter for spend / 100 (#129)
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

revoke action prompt (#128)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

introduce FormatType and Position enums
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

introduce FormatType and Position enums (#134)
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: none

don't require special character in password
  packages/utils/src/password-helper.ts
Labels: none

don't require special character in password (#136)
  packages/utils/src/password-helper.ts
Labels: none

supporting multiple organizations
  .idea/sqldialects.xml
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240614161905_support_multiple_organizations/migration.sql
  packages/database/prisma/migrations/20240614191559_rename_to_default_organization/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server, web

supporting multiple organizations (#142)
  .idea/sqldialects.xml
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240614161905_support_multiple_organizations/migration.sql
  packages/database/prisma/migrations/20240614191559_rename_to_default_organization/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: server, web

create/delete organizations
  .husky/pre-commit
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240615070509_emailtype/migration.sql
  packages/database/prisma/migrations/20240615144948_login_provider_ondelete_cascade/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

create/delete organizations (#143)
  .husky/pre-commit
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240615070509_emailtype/migration.sql
  packages/database/prisma/migrations/20240615144948_login_provider_ondelete_cascade/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

add MIT licence
  LICENSE.txt
Labels: none

create refresh AuthenticatedContext
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
Labels: server

create refresh AuthenticatedContext (#145)
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
Labels: server

make defaultOrganizationId optional
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240616191544_default_organization_optional/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

make defaultOrganizationId optional (#148)
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240616191544_default_organization_optional/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

fix wrong ORG_ADMIN
  apps/server/src/context.ts
Labels: server

fix wrong ORG_ADMIN (#150)
  apps/server/src/context.ts
Labels: server

fix resetPassword endpoint
  apps/server/src/schema/user/user-operations.ts
Labels: server

fix resetPassword endpoint (#158)
  apps/server/src/schema/user/user-operations.ts
Labels: server
