Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

sneaky commit
  apps/web/src/components/misc/logo-full.tsx
Labels: web

make defaultOrganizationId optional (#148)
  apps/server/src/context.ts
Labels: server

don't generate integration auth url if already connected
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/redis/src/ioredis.ts
Labels: server

remove user status, rename default -> current organization
  apps/server/src/auth.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
  packages/database/prisma/migrations/20240628113002_remove_user_role/migration.sql
  packages/database/prisma/schema.prisma
Labels: server, web

minor README.md change
  README.md
Labels: documentation

list of small issues (#169)
  README.md
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
  packages/database/prisma/migrations/20240628113002_remove_user_role/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: documentation, server, web

user settings page & user update logic
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
Labels: web

fade in user settings
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

translations & styling fixes
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/user-button/user-button.module.scss
Labels: web

profile fixes
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
Labels: web

async profile load
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-settings.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

password manager fix for password change via profile edit
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

form initialization on data fetching async fix
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

async loading for profile editing
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

rebase conflicts/fixes
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

minor
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: web

dirty form checking, url avatar fix & skeleton loading improved in edit profile
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: web

implemented global state for user data
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

fixes
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: web

proper form reset after submit
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: web

make currentOrganization nullable
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/package.json
Labels: server, web

make currentOrganization nullable fix
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Labels: web

revert watch prisma generate and codegen
  apps/server/package.json
Labels: server

131 settings (#133)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
  packages/database/package.json
Labels: server, web

disable web sentry locally
  apps/web/next.config.mjs
Labels: web

disable web sentry locally (#171)
  apps/web/next.config.mjs
Labels: web

global styling for user select
  apps/web/src/app/layout.tsx
Labels: web

user select disable on non-inputs
  apps/web/src/app/layout.tsx
Labels: web

mantine integration error notification
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/layout.tsx
Labels: web

async page loads
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
Labels: web

suspense on unauth layout
  apps/web/src/app/(unauthenticated)/layout.tsx
Labels: web

MantineProvider only in root layout
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/app/layout.tsx
Labels: web

insight ranking
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
Labels: web

fix for call depth
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

client side cookies lib & language picked update fix
  apps/web/package.json
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
  pnpm-lock.yaml
Labels: web

update packages
  apps/channel-ingress/package.json
  apps/server/package.json
  apps/web-old/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/database/package.json
  packages/lambda-types/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/redis/package.json
  packages/ui/package.json
  packages/utils/package.json
  patches/graphql@16.8.1.patch
  patches/graphql@16.9.0.patch
  pnpm-lock.yaml
Labels: server, web

update packages (#175)
  apps/channel-ingress/package.json
  apps/server/package.json
  apps/web-old/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/database/package.json
  packages/lambda-types/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/redis/package.json
  packages/ui/package.json
  packages/utils/package.json
  patches/graphql@16.8.1.patch
  patches/graphql@16.9.0.patch
  pnpm-lock.yaml
Labels: server, web

introduce organization query and restrict UserDto
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

introduce organization query and restrict UserDto (#174)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

reverse cpm rank
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
