Repository adsviewer/turboviewer, changes with the labels that .github/labeler.yml gives for each.
All labels: automation, documentation, infrastructure, server, web

improvements
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
Labels: web

husky yaml & LF pre-commit
  .husky/pre-commit
  pnpm-lock.yaml
Labels: none

linting fix
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
Labels: web

db generate in precommit
  .husky/pre-commit
Labels: none

disabled buttons (#154)
  .husky/pre-commit
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  pnpm-lock.yaml
Labels: web

last synced and adCount
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240626100445_integration_last_sycned_at/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

last synced and adCount (#160)
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240626100445_integration_last_sycned_at/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: server, web

adCount & latest sync date in ad accounts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: web

translation
  apps/web/messages/en.json
Labels: web

confirm user email - backend
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/prisma/migrations/20240618111749_user_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: server, web

expose user status in graphql
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: server, web

implemented on integrations and removed from accounts dropdown
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
Labels: web

lint fix
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: web

FE changes for email confirmation
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
Labels: web

add sentry sdk in server
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Labels: server

add source map
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  apps/server/.gitignore
  apps/server/package.json
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: automation, server

adCount & latest sync date in ad accounts (#162)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
Labels: web

refactor
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

refactor (#164)
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: web

use enum & user types dto fix
  apps/server/src/schema/user/user-types.ts
  apps/web/src/middleware.ts
Labels: server, web

remove old todo
  apps/web/src/middleware.ts
Labels: web

return to sign in page option
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
Labels: web

confirm user email (#159)
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
  package.json
  packages/database/prisma/migrations/20240618111749_user_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: server, web

update turbo
  package.json
  pnpm-lock.yaml
Labels: none

add sentry sdk in nextjs
  .github/workflows/deploy_frontend.yml
  apps/server/src/instrument.ts
  apps/web/.gitignore
  apps/web/next.config.mjs
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/app/global-error.tsx
  apps/web/src/instrumentation.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: automation, server, web

install sentry-cli as dev dependency
  apps/channel-ingress/package.json
  apps/server/package.json
  pnpm-lock.yaml
Labels: server

rename projects
  apps/server/package.json
  apps/web/next.config.mjs
Labels: server, web

add sentry sdk in channel-ingress lambda
  apps/channel-ingress/.gitignore
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  pnpm-lock.yaml
Labels: none

don't upload sourcemaps
  apps/channel-ingress/package.json
  apps/server/package.json
Labels: server

base org settings features
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/layout.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

navbar org settings
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: web

auth fix in context.ts
  apps/server/src/context.ts
Labels: server

graphql update
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: web

users table hide
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: web

pr fixes
  apps/web/messages/el.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
Labels: web

change org name + access utils
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
Labels: web

org name set & update
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

users table base
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
Labels: web

org name set & update
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
Labels: web

users table base
  apps/web/messages/en.json
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Labels: web

.github/labeler.yml:

automation:
- changed-files:
  - any-glob-to-any-file: .github/**/*

documentation:
- changed-files:
  - any-glob-to-any-file: '*.md'

infrastructure:
- changed-files:
  - any-glob-to-any-file: infrastructure/**/*

server:
- changed-files:
  - any-glob-to-any-file: apps/server/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/database/**/*
  - any-glob-to-any-file: packages/config-typescript/app.json
  - any-glob-to-any-file: packages/config-typescript/base.json

web:
- changed-files:
  - any-glob-to-any-file: apps/web/**/*
  - any-glob-to-any-file: packages/logger/**/*
  - any-glob-to-any-file: packages/ui/**/*
  - any-glob-to-any-file: packages/config-tailwind/**/*
  - any-glob-to-any-file: packages/config-eslint/**/*
  - any-glob-to-any-file: packages/tsconfig/base.json
  - any-glob-to-any-file: packages/config-typescript/nextjs.json

feature:
  - head-branch: ['^env', 'env']

release:
  - base-branch: 'main'
