Repository adsviewer/turboviewer, pull requests merged in 2024-08, with the labels that each got.

#306 introduce removeUserFromOrganization
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/prisma/migrations/20240802144457_remove_non_active/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#307 update packages
  apps/channel-ingress/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/server/src/schema/builder.ts
  apps/server/src/schema/errors.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, server, web

#308 minor styling fix
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: release, web

#309 minor updates on turbo.json and README.md
  README.md
  turbo.json
Labels: documentation, release, feature

#311 add userId and orgId in sentry
  apps/server/src/context.ts
  apps/web/package.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
  pnpm-lock.yaml
Labels: release, server, web

#317 removeUserFromOrganization applies to users of all statuses
  apps/server/src/schema/organization/organization-operations.ts
Labels: release, server

#318 workflow renaming
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-web.yml
Labels: release, automation

#320 rename toke to invite_hash
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/shared-types/src/index.ts
Labels: release, server, web

#314 add userId and orgId in sentry
  apps/server/src/context.ts
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/set-user-sentry.tsx
Labels: release, server, web

#321 introduce shared-names.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/shared-types/src/index.ts
  packages/utils/src/index.ts
  packages/utils/src/shared-names.ts
Labels: release, server

#322 landing temporary domain
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
Labels: infrastructure, release

#325 invite flow fixes and refactoring
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#327 update turbo and turbo
  apps/landing-page/package.json
  package.json
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: release, server, web

#329 use intl in landing-page (partial)
  apps/landing-page/messages/en.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/Common/section-header.tsx
  apps/landing-page/src/components/Features/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/components/ScrollToTop/index.tsx
  apps/landing-page/src/i18n.ts
  pnpm-lock.yaml
Labels: release

#332 use intl in main page of landing
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/About/index.tsx
  apps/landing-page/src/components/CTA/index.tsx
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/FAQ/faq-data.tsx
  apps/landing-page/src/components/FAQ/faq-item.tsx
  apps/landing-page/src/components/FAQ/index.tsx
  apps/landing-page/src/components/Features/features-data.tsx
  apps/landing-page/src/components/Features/single-feature.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-data.tsx
  apps/landing-page/src/components/FeaturesTab/features-tab-item.tsx
  apps/landing-page/src/components/FeaturesTab/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  apps/landing-page/src/components/FunFact/index.tsx
  apps/landing-page/src/components/Integration/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
  apps/landing-page/src/components/Testimonial/index.tsx
  apps/landing-page/src/components/Testimonial/single-testimonial.tsx
  apps/landing-page/src/components/Testimonial/testimonial-data.ts
  apps/landing-page/src/types/faq.ts
  apps/landing-page/src/types/feature-tab.ts
  apps/landing-page/src/types/feature.ts
  apps/landing-page/src/types/testimonial.ts
Labels: release

#331 add reddit, snapchat, google coming soon integrations
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/public/integrations/google-logo-icon.svg
  apps/web/public/integrations/reddit-logo-icon.svg
  apps/web/public/integrations/snapchat-logo-icon.svg
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240808134951_add_commingsoon_integrations/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#337 logo fix in unauth screens
  apps/web/src/app/(unauthenticated)/layout.tsx
  apps/web/src/components/misc/logo-simple.tsx
Labels: bug, release, web

#333 302 members management
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/sign-in/actions.ts
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/app/atoms/organization-atoms.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
  apps/web/src/util/handle-urql-request.ts
  apps/web/src/util/schemas/login-schemas.ts
  apps/web/src/util/url-query-utils.ts
  packages/utils/src/shared-names.ts
Labels: release, server, web

#338 335-increase-the-insights-range-to-year-to-date-add-quarter-interval
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLibraryMappings.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/sqldialects.xml
  .idea/turboviewer.iml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/service/service_outputs.tf
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
  packages/utils/src/date-utils.ts
Labels: infrastructure, release, server, web

#340 335-increase-the-insights-range-to-year-to-date-add-quarter-interval
  .idea/dataSources.xml
  packages/channel/src/report-process.ts
Labels: release

#341 335-increase-the-insights-range-to-year-to-date-add-quarter-interval
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: release

#345 335 increase the insights range to year to date add quarter interval
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
Labels: release

#347 enable channel report sns subscription
  infrastructure/modules/environment/sns.tf
Labels: infrastructure, release

#350 fire and forget process report
  packages/channel-meta/src/channel-meta.ts
  packages/channel/src/report-process.ts
Labels: release

#352 lighten the report sqs load
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/object-helper.ts
Labels: release

#353 retry data ingress in failure
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/report-process.ts
Labels: release

#354 sortObjectKeysAndValues honors dates
  packages/utils/src/object-helper.ts
Labels: release

#357 355 use aws batch to process channel reports
  apps/server/src/schema/integrations/integration-types.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
Labels: infrastructure, release, server

#360 process report in batch
  apps/channel-report/package.json
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  apps/server/src/config.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/environment/sns.tf
  infrastructure/modules/service/service_iam.tf
  infrastructure/modules/service/service_outputs.tf
  infrastructure/modules/service/service_variables.tf
  infrastructure/modules/workspace/vpc.tf
  infrastructure/modules/workspace/workspace_outputs.tf
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Labels: infrastructure, release, server

#361 355-use-aws-batch-to-process-channel-reports
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure, release

#362 355-use-aws-batch-to-process-channel-reports
  apps/channel-report/src/index.ts
  infrastructure/modules/environment/channel-report.tf
Labels: infrastructure, release

#365 cpm could be null (if impressions are 0)
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#369 355-use-aws-batch-to-process-channel-reports
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/redis/src/ioredis.ts
Labels: infrastructure, release

#370 don't hardcode initial: false in checkReports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: release

#372 355-use-aws-batch-to-process-channel-reports
  infrastructure/modules/environment/channel-report.tf
  infrastructure/modules/environment/environment.tf
  packages/channel-meta/package.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: infrastructure, release

#373 handle 500 errors on insights
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: enhancement, release, web

#375 disallow view/update adAccounts when you are not admin in the parent organization
  apps/server/src/schema/organization/organization-operations.ts
Labels: release, server

#377 introduced errored integration
  .idea/dataSources.xml
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240818123348_add_integration_status_errored/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#381 don't retry failed jobs
  packages/channel/src/report-process.ts
Labels: release

#358 integration token expiration notification & luxon install
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/user.graphql
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Labels: enhancement, release, server, web

#334 Absolute values filtering insights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#384 dropdowns improvemnts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: release, web

#386 don't vanish org dropdown
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: release, web

#342 Update ad accounts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
Labels: release, server, web

#389 allow fetching base info for invited users
  apps/server/src/schema/user/user-types.ts
Labels: release, server

#394 change default sorting to impressions absolute
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: release, web

#395 split sync into time ranges
  apps/channel-report/src/config.ts
  apps/channel-report/src/index.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-linkedin/src/config.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/config.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/.eslintrc.cjs
  packages/channel-utils/eslint.tsconfig.json
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/report-async-start.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
Labels: release

#397 391-initial-sync-should-be-split-into-multiple-periods
  packages/channel/src/report-process.ts
Labels: release

#399 remove vpc endpoints
  infrastructure/modules/workspace/vpc.tf
Labels: infrastructure, release

#400 390-member-are-unable-to-remove-themselves-from-an-organization
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/organization/organization-operations.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel/src/report-process.ts
Labels: release, server

#402 introduce channel report check lambda
  .github/workflows/deploy-lambdas-prod.yml
  .github/workflows/ghcr-retention.yml
  apps/channel-report-check/.eslintrc.cjs
  apps/channel-report-check/.gitignore
  apps/channel-report-check/package.json
  apps/channel-report-check/src/index.ts
  apps/channel-report-check/tsconfig.json
  apps/server/src/index.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/report-process.ts
  pnpm-lock.yaml
Labels: infrastructure, release, automation, server

#403 401-off-load-report-check-to-a-lambda
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure, release

#408 fix API_ENDPOINT
  packages/utils/src/config.ts
Labels: release

#410 404-emulate-organization-admins
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  .github/workflows/deploy-web.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, release, automation, web

#411 404-emulate-organization-admins
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: release, automation

#412 replace NEXT_PUBLIC_REAL_GRAPHQL_ENDPOINT with NEXT_PUBLIC_GRAPHQL_ENDPOINT
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
Labels: documentation, release, web

#413 deploy all vercel in one workflow
  .github/workflows/deploy-landing-page.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: release, automation

#416 remove temporarily logger error webhook
  packages/logger/src/index.ts
Labels: release, server, web

#418 improve refresh data flow
  apps/channel-report/src/index.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
Labels: release

#419 ad report status to redis sequentially
  packages/channel-utils/src/report-async-start.ts
  packages/database/prisma/migrations/20240825095644_composite_idx_insights/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server

#409 376 introduce errored integration
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: release, web

#414 404-emulate-organization-admins
  apps/backoffice/package.json
  apps/backoffice/public/wide-logo.svg
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/app/layout.tsx
  apps/backoffice/src/components/misc/logo-full.tsx
  apps/backoffice/src/components/misc/logo-simple.tsx
  apps/backoffice/src/components/user-button/user-button.tsx
  apps/backoffice/src/env.mjs
  apps/backoffice/src/middleware.ts
  apps/channel-report/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/env.mjs
  apps/web/src/middleware.ts
  pnpm-lock.yaml
  turbo.json
Labels: release, web

#420 save tokens to web app when emulate
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/api/auth/sign-in/route.ts
  apps/web/src/app/api/auth/sign-out/route.ts
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/middleware.ts
Labels: release, web

#422 keep datapoints as bigints
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards-call.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/cards.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/utils/src/object-helper.ts
Labels: release, server, web

#423 Use embed instead of iFrame in tiktok
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel/src/iframe-cacheable.ts
  packages/ui/package.json
  packages/ui/src/embed.tsx
  packages/ui/src/iframe.tsx
  packages/utils/src/typesctipt-utils.ts
Labels: release, server, web

#424 redirect instead of push in sign-in for backoffice
  apps/backoffice/package.json
  apps/backoffice/src/app/api/save-tokens/route.ts
  apps/backoffice/src/env.mjs
  apps/landing-page/package.json
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/env.mjs
Labels: release, web

#425 add more logs in backoffice middleware
  apps/backoffice/src/app/emulate/actions.ts
  apps/backoffice/src/middleware.ts
Labels: release

#426 fix sign-in saving backoffice tokens
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: release, web

#427 add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: release, web

#429 add more logs in web sign-in
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: release, web

#432 remove non-needed logs
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
Labels: release, web

#439 error IFrames brake entire call
  packages/channel/src/iframe-cacheable.ts
Labels: release

#441 move datapoints back to number
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: release, web

#442 #434 adAccounts are updated correctly across different integrations
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: release, server, web

#433 172 locale and language split
  apps/web/src/app/layout.tsx
Labels: enhancement, release, web

#449 order spend by euro
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240828121014_spend_eur/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/cacheable.ts
Labels: infrastructure, release, server, web

#455 searchable dropdowns
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
Labels: release, web

#452 center iframes on insight card
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: enhancement, release, web

#448 ad accounts button replace
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: release, web

#458 Use raw query for back populate spend_eur
  apps/server/src/schema/integrations/insights-operations.ts
Labels: release, server

#459 443-order-spend-by-usd
  apps/server/src/schema/integrations/insights-operations.ts
Labels: release, server

#464 remove historic spend Eur population
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240829072304_remove_currency_convertion/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#461 insight card visual improvements
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: release, web

#472 don't show adAccounts with 0 ads
  apps/server/src/schema/organization/organization-operations.ts
Labels: release, server

#463 ux improvement for search in ad accounts to include in integration
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
Labels: release, web

#474 444-sub-organizations-should-not-be-able-to-create-new-sub-sub-organizations
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/components/buttons/create-organization-button.tsx
Labels: release, server, web

#475 on filtering & grouping changes, return results from the 1st page
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#456 device on insight card
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/util/insights-utils.ts
Labels: release, web

#477 470 newletter and contact us for landing page
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/landing-page/landing-page-operations.ts
  apps/server/src/schema/landing-page/landing-page-types.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/util/url-query-utils.ts
  package.json
  packages/database/prisma/migrations/20240831073754_landing_page/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#479 onboard Aaryan
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure, release
