Repository adsviewer/turboviewer, pull requests merged in 2024-10, with the labels that each got.

#557 loading state for async buttons instead of disabled
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/invite-users-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  packages/channel-utils/src/aes-util.ts
Labels: release, web

#560 Update packages 241001
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/utils/rate-limiter.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/redis/src/ioredis.ts
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, server, web

#563 filter insights with adAccountId and adId again
  .idea/sqldialects.xml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: release, server, web

#566 556 feedback enhancements
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/public/lotties/confetti.json
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/lottie-container.tsx
  packages/utils/src/shared-schemas.ts
  pnpm-lock.yaml
Labels: release, web

#568 implemented lottie animations, improved the lottie animation system &…
  apps/web/public/lotties/analytical-person.json
  apps/web/public/lotties/blocks.json
  apps/web/public/lotties/mailbox.json
  apps/web/public/lotties/nodes-graph.json
  apps/web/public/lotties/thinking-person.json
  apps/web/public/lotties/waving-people.json
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/misc/logo-simple.tsx
  apps/web/src/components/misc/lottie-animation.tsx
  apps/web/src/components/misc/lottie-container.tsx
Labels: release, web

#558 525 summary view
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/context.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/language.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-datapoint-query-builder.ts
  apps/server/test/utils/insights-datapoint-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/.eslintrc.cjs
  packages/channel/eslint.tsconfig.json
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/index.ts
  packages/utils/src/language.ts
  pnpm-lock.yaml
Labels: release, server, web

#571 Sentry SDK Prototype Pollution gadget in JavaScript SDKs
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/server/package.json
  apps/web/package.json
  pnpm-lock.yaml
Labels: release, server, web

#572 525 return integrationType
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, server, web

#573 569 graphic animations small refactor
  apps/web/public/lotties/people-connected.json
  apps/web/public/lotties/profile-settings.json
  apps/web/src/app/(authenticated)/insights/components/graphics.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/components/graphics.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/organization/components/graphics.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/graphics.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
Labels: release, web

#526 512 Added max-recency boundries
  packages/channel-utils/package.json
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/package.json
  packages/mappings/src/tier-mapping.ts
  packages/utils/src/date-utils.ts
  pnpm-lock.yaml
Labels: release, server, web

#577 add public feedback environment variable
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, release, feature

#575 574 cookies consent google analytics setup
  apps/landing-page/package.json
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/cookies-consent.tsx
  apps/landing-page/src/env.mjs
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/env.mjs
  pnpm-lock.yaml
Labels: release, web

#578 (temp fix) silence sass deprecations warning
  apps/web/next.config.mjs
Labels: release, web

#581 delete .idea folder
  .gitignore
  .idea/.gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/libraries/test_package.xml
  .idea/libraries/test_package2.xml
  .idea/libraries/test_package3.xml
  .idea/libraries/ts_commonjs_default_export.xml
  .idea/libraries/ts_commonjs_default_export2.xml
  .idea/libraries/ts_commonjs_default_export3.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/prettier.xml
  .idea/turboviewer.iml
  .idea/vcs.xml
Labels: release

#582 filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, server, web

#583 filter by integration
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#587 loading state for insights' iframe
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: release, web

#589 rb2b initial implementation
  apps/landing-page/src/app/(site)/layout.tsx
  apps/landing-page/src/components/rb2b.tsx
  apps/landing-page/src/env.mjs
Labels: release

#593 rename old slack webhook url
  packages/logger/src/index.ts
Labels: release, server, web

#591 create preview deployments in vercel
  .github/workflows/cleanup-preview.yml
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: release, automation

#595 590-preview-deployments
  .github/workflows/deploy-vercel-fn.yml
Labels: release, automation

#597 introducing milestones in the backend
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241013072144_users_milestones/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, automation, server, web

#601 force arrow function and lint deprecated code
  .github/workflows/deploy-vercel-fn.yml
  apps/backoffice/package.json
  apps/backoffice/src/app/actions.ts
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/actions.ts
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/config-eslint/package.json
  packages/config-eslint/react.cjs
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mappings/src/tier-mapping.ts
  packages/mode/package.json
  packages/organization/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/ui/src/tailwind-utils.ts
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, automation, server, web

#603 use inputs.app in find&replace
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
  README.md
  apps/backoffice/.env.production
  apps/backoffice/next.config.mjs
  apps/backoffice/src/env.mjs
  apps/backoffice/src/lib/urql/urql-client.ts
  apps/backoffice/src/middleware.ts
  apps/landing-page/.env.production
  apps/landing-page/next.config.mjs
  apps/landing-page/src/env.mjs
  apps/web/.env.production
  apps/web/next.config.mjs
  apps/web/src/env.mjs
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  turbo.json
Labels: documentation, release, automation, web

#604 conditionally run pr_comment
  .github/workflows/deploy-vercel-fn.yml
  .github/workflows/deploy-vercel.yml
Labels: release, automation

#607 crud search query strings
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/server/src/schema/search-query/search-query-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20241014051740_search_query_strings/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#610 fix linked in revoke functionality
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#612 expose spendUsd in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/currency-to-eur-cacheable.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: release, server, web

#613 expose spendUsd in insights
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
Labels: release

#616 error linkedIn integration on revoke access token
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#599 598 fix summary view minor issues
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/search/types-and-utils.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/color-utils.ts
  apps/web/src/util/insights-utils.ts
  apps/web/src/util/types.ts
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/insights-query-builder.ts
Labels: release, server, web

#618 summary date & search now affects top ads too
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
Labels: release, web

#614 Update README.md
  README.md
Labels: documentation, release

#623 fixed fetchPreviews param being removed in summary
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#606 cache top ads and summary
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/middleware.ts
  packages/channel/src/data-refresh.ts
  packages/utils/src/date-utils.ts
Labels: release, web

#627 save creatives in META
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-meta/src/meta-types.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20241017145919_creatives_updates/migration.sql
  packages/database/prisma/migrations/20241018082814_creatives_optional/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#631 351-sync-ad-accounts-intead-of-integrations
  .github/workflows/deploy-lambdas-prod.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/cache-refresh/.eslintrc.cjs
  apps/cache-refresh/.gitignore
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/cache-refresh/tsconfig.json
  apps/channel-report/src/index.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/date-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel-utils/test/date-util.test.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/integration-helper.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241020121040_integration_ad_account/migration.sql
  packages/database/prisma/schema.prisma
  packages/lambda-utils/src/lambda-invoke.ts
  pnpm-lock.yaml
Labels: infrastructure, release, automation, server, web

#632 351-sync-ad-accounts-intead-of-integrations
  apps/cache-refresh/package.json
  apps/cache-refresh/src/index.ts
  apps/channel-ingress/package.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  pnpm-lock.yaml
Labels: infrastructure, release

#633 onboarding graphql
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: release, web

#635 351 group lambda errors
  infrastructure/modules/environment/cache_refresh_lambda.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report_check_lambda.tf
  infrastructure/modules/environment/lambda-errors.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure, release

#638 637 standardize refreshing tokens in channels
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/data-refresh.ts
Labels: release

#636 summary chart refactor to componetize filters
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
Labels: release, web

#634 524 improved onboarding flow
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/auth.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/public/videos/onboarding-video.mp4
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/introduction/components/video-card.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/introduction/page.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  apps/web/src/middleware.ts
  apps/web/tsconfig.json
  packages/shared-types/src/index.ts
Labels: release, server, web

#640 639 remove onboarding milestone when an integration is created
  apps/backoffice/package.json
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/graphql/subscriptions.graphql
  packages/backend-shared/.eslintrc.cjs
  packages/backend-shared/package.json
  packages/backend-shared/src/index.ts
  packages/backend-shared/src/organization.ts
  packages/backend-shared/src/user-roles.ts
  packages/backend-shared/src/user.ts
  packages/backend-shared/tsconfig.json
  packages/channel/package.json
  packages/channel/src/integration-helper.ts
  packages/organization/src/index.ts
  packages/pubsub/.eslintrc.cjs
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/pubsub/tsconfig.json
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: release, server, web

#642 keep subscriptions only in integration.graphql
  apps/server/src/schema/codegen.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
Labels: release, server, web

#644 fixes in linkedIn refresh token and local initial: true
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
Labels: release

#645 introduce lastSyncedAt in adAccount
  .github/workflows/deploy-vercel.yml
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/channel-report/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/backend-shared/src/organization.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/report-process.ts
  packages/database/prisma/migrations/20241027093415_last_synced_at_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, automation, server, web

#629 626 save advanced searches
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/search-query/search-query-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/atoms/searches-atoms.ts
  apps/web/src/app/layout.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/search/saved-searches/delete.tsx
  apps/web/src/components/search/saved-searches/save.tsx
  apps/web/src/components/search/saved-searches/saved-searches.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/search.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20241017125448_unique_parent_id_name/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#646 fix vercel workflow
  .github/workflows/deploy-vercel.yml
  apps/web/src/graphql/generated/schema-client.ts
Labels: release, automation, web

#650 save and expose clicks, cpc in insights
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241030091513_insights_clicks/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#651 cpc is cost per click, not cost per 1,000 clicks
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, server, web
