Repository adsviewer/turboviewer, pull requests merged in 2024-09, with the labels that each got.

#483 update-packages
  apps/backoffice/package.json
  apps/channel-ingress/package.json
  apps/channel-report-check/package.json
  apps/channel-report/package.json
  apps/landing-page/next.config.mjs
  apps/landing-page/package.json
  apps/server/package.json
  apps/web/package.json
  package.json
  packages/channel-linkedin/package.json
  packages/channel-meta/package.json
  packages/channel-tiktok/package.json
  packages/channel-utils/package.json
  packages/channel/package.json
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/database/package.json
  packages/lambda-utils/package.json
  packages/logger/package.json
  packages/mappings/package.json
  packages/mode/package.json
  packages/redis/package.json
  packages/shared-types/package.json
  packages/ui/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Labels: release, server, web

#480 fix landing page build issue
  apps/landing-page/src/components/Contact/index.tsx
  apps/landing-page/src/components/Footer/index.tsx
  packages/database/prisma/migrations/20240831161053_email_citext/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server

#485 fix hero form
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Hero/index.tsx
  apps/landing-page/src/env.mjs
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  turbo.json
Labels: infrastructure, release

#487 minor pricing changes
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Pricing/index.tsx
Labels: release, landing-page

#488 446 sub organization include existing organization users
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: release, server, web

#489 Revert "446 sub organization include existing organization users"
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: release, server, web

#490 486 small landing page changes
  apps/landing-page/src/components/Pricing/index.tsx
Labels: release

#491 removed location and phone number info
  apps/landing-page/src/components/Contact/index.tsx
Labels: release

#492 redacted images
  apps/landing-page/public/images/features/features-dark-01.avif
  apps/landing-page/public/images/features/features-light-01.avif
  apps/landing-page/public/images/hero/hero-dark.avif
  apps/landing-page/public/images/hero/hero-light.avif
Labels: release

#494 feat: create tiers in organizations
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240903172348_tier/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#498 Landing page add signin button
  apps/landing-page/messages/en.json
  apps/landing-page/src/components/Header/index.tsx
  apps/landing-page/src/components/Pricing/index.tsx
Labels: release

#496 feat: allow specific max users per Tier
  apps/server/src/contexts/user/user-invite.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/mappings/src/index.ts
  packages/mappings/src/tier-mapping.ts
Labels: release, server

#504 use only types from package/database
  packages/mappings/package.json
  packages/mappings/src/name-mapping.ts
  pnpm-lock.yaml
  turbo.json
Labels: release

#505 503 search ad account and ad by name - back end
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  packages/database/prisma/migrations/20240907124231_index_names/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#497 446 sub organization include existing organization users
  .husky/pre-commit
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
Labels: release, server, web

#508 Pr fixes 1
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
Labels: release, web

#510 509 sub-organizations have the tier of their parent
  apps/server/src/contexts/organization.ts
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240908065953_not_default_tier/migration.sql
  packages/database/prisma/schema.prisma
  packages/mappings/src/tier-mapping.ts
Labels: release, server

#515 514 disconnect linkedIn integration on error
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#519 disconnect linkedIn integration on error
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#521 max depth fix in edit profile form
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: release, web

#518 500 chart improvement
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#522 framer motion install & basic usage in add-users-modal
  apps/web/package.json
  apps/web/src/components/create-organization/add-users-modal.tsx
  pnpm-lock.yaml
Labels: release, web

#530 generate and migrate in prisma package
  apps/server/package.json
  apps/server/src/schema/integrations/integration-types.ts
  packages/database/package.json
  pnpm-lock.yaml
Labels: release, server

#532 fix simple search in the backend
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: release, server

#516 506 search ad account and ad by name
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/insights/components/search/types-and-utils.ts
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/components/create-organization/add-users-modal.tsx
  apps/web/src/util/url-query-utils.ts
  pnpm-lock.yaml
Labels: release, web, feature

#536 disconnect meta on error
  package.json
  packages/channel-meta/src/channel-meta.ts
Labels: release

#537 remove Iresha
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/users.tf
Labels: infrastructure, release

#534 url keys refactor
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/app/(authenticated)/integrations/components/ad-accounts-button.tsx
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/middleware.ts
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#541 501-add-functionality-to-filter-by-campaign-ad-set-and-ad-name
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240921165310_campaigns_adsets/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/data-object-utils.ts
  packages/utils/src/index.ts
Labels: release, server, web

#542 included non-active meta ads
  packages/channel-meta/src/channel-meta.ts
Labels: release

#546 501-add-functionality-to-filter-by-campaign-ad-set-and-ad-name
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: release

#547 add campaignId and adSetId in groupBy
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/contexts/insights.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/search/search.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: release, server, web

#539 handle insights errors
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: release, server, web

#538 fixed settings button re-rendering insights
  apps/web/src/components/dropdowns/color-scheme-picker/color-scheme-picker.tsx
Labels: bug, release, web

#533 improved org data fetching via jotai & added max integrations logic p…
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: release, web

#540 show ad previews position change
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
Labels: enhancement, release, web

#544 511 time contraints bug fixes
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
Labels: bug, release, server

#545 543 added sendFeedback endpoint
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/email.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/feedback/feedback-types.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/components/buttons/feedback-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/create-organization/create-organization-button.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20240923184925_feedback/migration.sql
  packages/database/prisma/migrations/20240927093413_feedbacks/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/index.ts
  packages/utils/src/shared-schemas.ts
Labels: release, server, web, feature
