Repository adsviewer/turboviewer, pull requests merged in 2024-11, with the labels that each got.

#652 649 add clicks and cpc in insights
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-container.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/util/charts-utils.ts
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#648 fix to avoid double re-renders of top ads
  apps/web/src/components/shells/main-shell/main-shell.tsx
Labels: release, web

#657 AdPreview now returns also null
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/iframe-cacheable.ts
  packages/redis/src/cacheable.ts
Labels: release

#660 adjust timeRanges for LinkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/date-utils.ts
Labels: release

#661 iframe loading only for non-null iframes
  apps/web/src/components/insights/insight-card.tsx
Labels: release, web

#672 don't save sponsored messages in linkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#671 matcher warning fix
  apps/backoffice/src/middleware.ts
  apps/web/src/middleware.ts
Labels: release, web

#674 turbo fix for "port already in use"
  turbo.json
Labels: release

#676 fixes around meta creatives
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-utils/src/insights-utils.ts
Labels: release

#668 608 user level creative feedbackcomments
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/comment/comment-operations.ts
  apps/server/src/schema/comment/comment-types.ts
  apps/server/src/schema/feedback/feedback-operation.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  apps/web/src/app/atoms/comment-atoms.ts
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/buttons/color-scheme-toggle.tsx
  apps/web/src/components/insights/comments/comment-options.tsx
  apps/web/src/components/insights/comments/comment.tsx
  apps/web/src/components/insights/comments/comments-list.tsx
  apps/web/src/components/insights/comments/comments.tsx
  apps/web/src/components/insights/insight-card.tsx
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/comments.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/format-utils.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-helper.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/database/prisma/migrations/20241109113244_comments/migration.sql
  packages/database/prisma/migrations/20241109122504_comments/migration.sql
  packages/database/prisma/migrations/20241110162604_ads_creative_id_rename/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
  packages/utils/src/shared-schemas.ts
Labels: release, server, web

#683 privacy policy page
  apps/landing-page/src/app/(site)/privacy-policy/page.tsx
  apps/landing-page/src/app/(site)/terms-and-conditions/page.tsx
  apps/landing-page/src/components/Footer/index.tsx
Labels: release

#684 680: TikTok and LinkedIn now save creatives
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: release, server, web

#679 678: don't join on tables that we don't need
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release

#628 551 google data ingress
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/.eslintrc.cjs
  packages/channel-google/package.json
  packages/channel-google/src/channel-google.ts
  packages/channel-google/src/config.ts
  packages/channel-google/src/index.ts
  packages/channel-google/src/schema.ts
  packages/channel-google/tsconfig.json
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/package.json
  packages/channel/src/channel-helper.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
  turbo.json
Labels: release, server, web

#687 test
  apps/web/src/app/(authenticated)/organization/layout.tsx
Labels: release, web

#689 remove all suspense
  apps/web/src/app/(authenticated)/insights/layout.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/(authenticated)/integrations/layout.tsx
  apps/web/src/app/(authenticated)/introduction/layout.tsx
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/summary/layout.tsx
  apps/web/src/app/(unauthenticated)/layout.tsx
Labels: release, web

#692 691: introduce processFn in linkedIn
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-utils/src/insights-utils.ts
Labels: release

#690 688 integrations with non-expiry refreshToken shouldn't expire
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-google/src/channel-google.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/integration-util.ts
  packages/channel/test/insights-query-builder.test.ts
  packages/pubsub/package.json
  packages/pubsub/src/index.ts
  packages/shared-types/src/index.ts
  pnpm-lock.yaml
Labels: release, server, web

#694 655: introduce threshold in insights in backend
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, server, web

#696 Fix: added right external id for getUserId method
  packages/channel-google/src/channel-google.ts
Labels: release

#700 699: filter insights by creative ids
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, server, web

#704 703: Fetch ad previews when group by creativeId
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/util/url-query-utils.ts
Labels: release, server, web
