Repository adsviewer/turboviewer, pull requests merged in 2024-06, with the labels that each got.

#91 start database script
  apps/server/package.json
  packages/database/package.json
Labels: release, server

#93 expose photo url
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
Labels: release, server, web

#94 fix order by cpm
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: release, server

#96 update README.md
  README.md
Labels: documentation, release

#97 update turbo
  .gitignore
  .idea/aws.xml
  apps/server/Dockerfile
  apps/server/package.json
  package.json
  packages/config-eslint/package.json
  packages/database/package.json
  pnpm-lock.yaml
  turbo.json
Labels: release, server, web

#101 add name in providers and integrations
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/initial-setup-subscription.tsx
  apps/web-old/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web-old/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web-old/src/util/types.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/types.ts
  packages/mappings/.eslintrc.cjs
  packages/mappings/package.json
  packages/mappings/src/index.ts
  packages/mappings/src/name-mapping.ts
  packages/mappings/tsconfig.json
  pnpm-lock.yaml
Labels: release, server, web

#102 fix broken eslint links in pnpm-lock
  package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/next.cjs
  packages/database/package.json
  pnpm-lock.yaml
Labels: release, server, web

#103 remove Iresha
  infrastructure/environments/management/users.tf
Labels: infrastructure, release

#105 104: delete data on channel revoke
  packages/channel-utils/src/integration-util.ts
  packages/database/prisma/migrations/20240606131146_cascade_on_ad_acount_delete/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server

#107 106: add ad reporting LinkedIn scope
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#109 108: LinkedIn ingress
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/app/[locale]/(logged-in)/insights/ad-id.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/database/prisma/migrations/20240607185544_ad_name_nullable/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Labels: release, server, web

#112 111: linkedIn getAdpreview
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/iframe-helper.ts
  packages/channel-utils/src/index.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/index.ts
  pnpm-lock.yaml
Labels: release, server, web

#114 113: fix linkedIn cents
  packages/channel-linkedin/src/channel-linkedin.ts
Labels: release

#116 add spend description
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#99 UI library implementation
  apps/web/next.config.mjs
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/language-picker/language-picker.tsx
Labels: release, web

#120 119: add emailable api in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, release

#121 119: add emailable api in terraform
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, release

#122 119: introduce email validation in the backend
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/user/emailble-helper.ts
  apps/server/src/schema/user/user-operations.ts
  packages/database/prisma/migrations/20240611125149_domain_in_organization/migration.sql
  packages/database/prisma/schema.prisma
  turbo.json
Labels: release, server

#125 124: introduce order by absolute values
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/package.json
  apps/web-old/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web-old/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web-old/src/components/filters/order-by.tsx
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#127 126: fix cpm multiplier
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
Labels: release, server

#129 chart fix formatter for spend / 100
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
Labels: release, web

#128 revoke action prompt
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: release, web

#136 don't require special character in password
  packages/utils/src/password-helper.ts
Labels: release

#142 supporting multiple organizations
  .idea/sqldialects.xml
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240614161905_support_multiple_organizations/migration.sql
  packages/database/prisma/migrations/20240614191559_rename_to_default_organization/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: release, server, web

#143 create/delete organizations
  .husky/pre-commit
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/emailable-helper.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/prisma/migrations/20240615070509_emailtype/migration.sql
  packages/database/prisma/migrations/20240615144948_login_provider_ondelete_cascade/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#145 create refresh AuthenticatedContext
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
Labels: release, server

#148 make defaultOrganizationId optional
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240616191544_default_organization_optional/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#150 fix wrong ORG_ADMIN
  apps/server/src/context.ts
Labels: release, server

#158 fix resetPassword endpoint
  apps/server/src/schema/user/user-operations.ts
Labels: release, server

#154 disabled buttons
  .husky/pre-commit
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(unauthenticated)/forgot-password/page.tsx
  apps/web/src/app/(unauthenticated)/reset-password/page.tsx
  pnpm-lock.yaml
Labels: release, web

#160 last synced and adCount
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240626100445_integration_last_sycned_at/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#162 adCount & latest sync date in ad accounts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
  apps/web/src/app/(authenticated)/integrations/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/graphql/integration.graphql
Labels: enhancement, release, web

#164 refactor
  apps/web/src/app/(authenticated)/integrations/components/integrations-grid.tsx
Labels: release, web

#159 confirm user email
  apps/server/src/auth.ts
  apps/server/src/context.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/user.ts
  apps/server/src/email.ts
  apps/server/src/index.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/layout.tsx
  apps/web/src/app/(unauthenticated)/confirm-email/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
  package.json
  packages/database/prisma/migrations/20240618111749_user_status/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: release, server, web

#165 organization settings (name change)
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/components/users-table.tsx
  apps/web/src/app/(authenticated)/organization/layout.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/organization.graphql
  apps/web/src/util/access-utils.ts
Labels: release, automation, server, web

#169 list of small issues
  README.md
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/contexts/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/util/access-utils.ts
  packages/database/prisma/migrations/20240628113002_remove_user_role/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
Labels: documentation, release, server, web

#133 131 settings
  apps/server/package.json
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/profile/actions.ts
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.module.scss
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(authenticated)/profile/layout.tsx
  apps/web/src/app/(authenticated)/profile/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.module.scss
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/util/schemas/profile-schemas.ts
  packages/database/package.json
Labels: release, server, web

#171 disable web sentry locally
  apps/web/next.config.mjs
Labels: release, web
