Repository adsviewer/turboviewer, pull requests merged in 2024-07, with the labels that each got.

#174 introduce organization query and restrict UserDto
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/user/organization-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#178 integration won't revoke if not decrypted
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/iframe-cacheable.ts
  packages/channel/src/integration-helper.ts
Labels: release

#182 use neon adapter in prisma
  packages/database/src/client.ts
Labels: release, server

#180 show info only on connected integrations
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: release, web

#184 remove sentry in BE
  apps/server/package.json
Labels: release, server

#189 view organization of user
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#192 google login may have empty first/last name
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: release, server

#195 fix undefined position in meta iFrames
  apps/web/.env.production
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: release, server, web

#197 fix some iFrames dimensions
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: release, server, web

#199 revert the ORG_OPERATOR
  apps/server/src/schema/generated/schema.graphql
  apps/web-old/package.json
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/package.json
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/config-eslint/package.json
  pnpm-lock.yaml
Labels: release, server, web

#203 use redis as a caching layer in insights
  apps/server/src/schema/integrations/insights-operations.ts
  packages/channel/src/data-refresh.ts
  packages/channel/src/index.ts
  packages/channel/src/insights-cache.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/index.ts
  packages/utils/src/object-helper.ts
Labels: release, server

#205 create different organizations with same domain email
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#206 update user membership
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#187 176 iframes in insights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#209 208 me endpoint fails when user is in no organization
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/schema/user/user-types.ts
  package.json
  packages/shared-types/.eslintrc.cjs
  packages/shared-types/package.json
  packages/shared-types/src/index.ts
  packages/shared-types/tsconfig.json
  pnpm-lock.yaml
Labels: release, server

#211 make refreshToken to query
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web-old/src/graphql/login.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  apps/web/src/middleware.ts
Labels: release, server, web

#213 improved form handling
  apps/web/src/app/(unauthenticated)/sign-in/page.tsx
  apps/web/src/app/(unauthenticated)/sign-up/page.tsx
  apps/web/src/components/misc/notifications-handler.tsx
  apps/web/src/util/url-query-utils.ts
Labels: release, web

#218 assign adAccounts to organizations
  apps/server/src/contexts/organization.ts
  apps/server/src/schema/builder.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/integration-util.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240709095758_organization_ad_account/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#219 drop default from adAccount -> type
  Lambda.Dockerfile
  packages/database/prisma/migrations/20240710140226_remove_default_ad_account_type/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server

#217 new nextjs error page
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/error.tsx
  apps/web/src/components/misc/server-error-page/server-error-page.module.scss
  apps/web/src/components/misc/server-error-page/server-error-page.tsx
  apps/web/src/components/user-button/user-button.tsx
Labels: release, web

#221 fix connect integration
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel/src/integration-helper.ts
Labels: release, server, web

#223 fix lambda channel refresh
  Lambda.Dockerfile
Labels: release

#215 integrations access rights
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/user.graphql
Labels: release, web

#229 organization parent ID fix
  apps/server/src/contexts/organization.ts
Labels: release, server

#232 update terraform and providers #231
  infrastructure/environments/local/local.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment.tf
Labels: infrastructure, release

#234 fix meta ad preview dimensions
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: release

#230 tit-tok infra
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
  turbo.json
Labels: infrastructure, release

#239 fix organizations auth scopes
  apps/server/src/schema/organization/org-types.ts
Labels: release, server

#240 improved error handling & no results found show when appropriate
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
Labels: release, web

#246 add tag to awscc_chatbot_slack_channel_configuration
  infrastructure/environments/prod/prod.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
Labels: infrastructure, release

#249 expand granted to all non-true cases
  apps/server/src/schema/organization/org-types.ts
Labels: release, server

#252 add grantScope on createOrganization
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
Labels: release, server

#254 add analytics to web
  apps/web/src/app/layout.tsx
Labels: release, web

#242 226 insights metadata improvements
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/util/format-utils.ts
  apps/web/src/util/publisher-utils.ts
Labels: release, server, web

#212 155 multiple orgs fe
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
  apps/web/src/app/(authenticated)/organization-warning/layout.tsx
  apps/web/src/app/(authenticated)/organization-warning/page.tsx
  apps/web/src/app/(authenticated)/organization/actions.ts
  apps/web/src/app/(authenticated)/organization/components/delete-organization-button.tsx
  apps/web/src/app/(authenticated)/organization/components/name-edit.tsx
  apps/web/src/app/(authenticated)/organization/page.tsx
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
  apps/web/src/app/(authenticated)/profile/components/user-info/user-info.tsx
  apps/web/src/app/(unauthenticated)/actions.ts
  apps/web/src/app/(unauthenticated)/confirm-email/page.tsx
  apps/web/src/app/(unauthenticated)/sign-out/page.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/buttons/create-organization-button.tsx
  apps/web/src/components/buttons/settings-button.tsx
  apps/web/src/components/dropdowns/organization-select/organization-select.tsx
  apps/web/src/components/misc/logo-full.tsx
  apps/web/src/components/shells/main-shell/main-shell.tsx
  apps/web/src/components/user-button/user-button.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/organization.graphql
  apps/web/src/graphql/user.graphql
  apps/web/src/lib/urql/urql-client.ts
  apps/web/src/middleware.ts
  apps/web/src/util/access-utils.ts
  pnpm-lock.yaml
Labels: infrastructure, release, server, web

#258 bring back sentry in the BE
  .github/workflows/ci.yml
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/instrument.ts
  pnpm-lock.yaml
Labels: release, automation, server

#256 add sourcemaps in sentry
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/web/src/app/error.tsx
  turbo.json
Labels: release, automation, server, web

#261 add SENTRY_AUTH_TOKEN in Dockerfile
  Lambda.Dockerfile
  apps/server/Dockerfile
Labels: release, server

#263 add heartbeat endpoint
  apps/server/src/index.ts
Labels: infrastructure, release, server

#264 remove health check configuration
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, release

#265 improve profile form error handling for server side errors
  apps/web/src/app/(authenticated)/profile/components/edit-profile-form.tsx
Labels: release, web

#267 turbo pack is not compatible with sentry
  apps/web/package.json
Labels: release, web

#269 243 migrate insights to use jotai
  apps/web/src/app/(authenticated)/insights/components/group-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/insights/components/page-controls.tsx
  apps/web/src/app/(authenticated)/insights/page.tsx
  apps/web/src/app/atoms/insights-atoms.ts
Labels: release, web

#277 change unique ad account keys
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/insights-utils.ts
  packages/database/prisma/migrations/20240723175653_ad_account_change_unique/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server

#282 invoke different lambda instances per integration during data ingress
  apps/server/src/utils/lambda-utils.ts
Labels: release, server

#281 connected integration button should be disabled for non admin users
  apps/web/src/app/(authenticated)/integrations/components/integration-card.tsx
Labels: release, web

#286 add tik-tok lambdas
  .github/workflows/deploy-tiktok-check-report.yml
  .github/workflows/deploy-tiktok-process-report.yml
  apps/tiktok-check-report/.eslintrc.cjs
  apps/tiktok-check-report/.gitignore
  apps/tiktok-check-report/package.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-check-report/tsconfig.json
  apps/tiktok-process-report/.eslintrc.cjs
  apps/tiktok-process-report/.gitignore
  apps/tiktok-process-report/package.json
  apps/tiktok-process-report/src/index.ts
  apps/tiktok-process-report/tsconfig.json
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/tiktok-reports.tf
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, release, automation

#288 add meta queues
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  apps/check-report/.eslintrc.cjs
  apps/check-report/.gitignore
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/check-report/tsconfig.json
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/package.json
  apps/process-report/src/index.ts
  apps/process-report/tsconfig.json
  apps/tiktok-check-report/src/index.ts
  apps/tiktok-process-report/src/index.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  infrastructure/modules/tiktok/tiktok.tf
  infrastructure/modules/tiktok/tiktok_check_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_outputs.tf
  infrastructure/modules/tiktok/tiktok_process_report_lambda.tf
  infrastructure/modules/tiktok/tiktok_queues.tf
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  pnpm-lock.yaml
Labels: infrastructure, release, automation

#289 introduce TikTok sync lambda
  .github/workflows/deploy-lambdas-local.yml
  .github/workflows/deploy-lambdas-prod.yml
  apps/channel-report/.eslintrc.cjs
  apps/channel-report/.gitignore
  apps/channel-report/package.json
  apps/channel-report/src/index.ts
  apps/channel-report/tsconfig.json
  apps/check-report/package.json
  apps/check-report/src/config.ts
  apps/check-report/src/index.ts
  apps/process-report/.eslintrc.cjs
  apps/process-report/.gitignore
  apps/process-report/tsconfig.json
  apps/server/src/config.ts
  infrastructure/environments/local/local.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment_potentially_local/environment.tf
  infrastructure/modules/environment_potentially_local/environment_outputs.tf
  infrastructure/modules/environment_potentially_local/environment_variables.tf
  infrastructure/modules/environment_potentially_local/reports_queues.tf
  infrastructure/modules/reports/check_report_lambda.tf
  infrastructure/modules/reports/process_report_lambda.tf
  infrastructure/modules/reports/reports.tf
  infrastructure/modules/reports/reports_outputs.tf
  infrastructure/modules/reports/reports_queues.tf
  infrastructure/modules/reports/reports_variables.tf
  packages/channel-linkedin/src/channel-linkedin.ts
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/package.json
  packages/channel-tiktok/src/channel-tiktok.ts
  packages/channel-tiktok/src/config.ts
  packages/channel-utils/package.json
  packages/channel-utils/src/channel-interface.ts
  packages/channel-utils/src/config.ts
  packages/channel-utils/src/index.ts
  packages/channel-utils/src/insights-utils.ts
  packages/channel-utils/src/send-messages.ts
  packages/channel/package.json
  packages/channel/src/config.ts
  packages/channel/src/index.ts
  packages/channel/src/report-process.ts
  packages/lambda-types/package.json
  packages/lambda-types/src/config.ts
  packages/redis/src/ioredis.ts
  packages/utils/src/config.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, release, automation, server

#290 fix @aws-sdk/client-sqs package
  apps/channel-report/package.json
  infrastructure/modules/environment/channel_report.tf
  packages/channel/package.json
  pnpm-lock.yaml
Labels: infrastructure, release

#291 add aws env variables to server
  infrastructure/modules/environment/environment.tf
  packages/utils/src/config.ts
  turbo.json
Labels: infrastructure, release

#293 add mode in channel report lambda
  infrastructure/modules/environment/channel_report.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/service/app_runner.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, release

#294 ad aws account id in channel ingress lambda-utils.ts
  apps/server/src/utils/lambda-utils.ts
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/channel/src/report-process.ts
Labels: infrastructure, release, server

#298 transition meta data ingress to queue
  packages/channel-meta/src/channel-meta.ts
  packages/channel-tiktok/src/channel-tiktok.ts
Labels: release

#299 sqs batch accepts 10 entries max
  packages/channel-utils/package.json
  packages/channel-utils/src/send-messages.ts
  pnpm-lock.yaml
Labels: release

#300 use correct sync flow after integration connect
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/server/package.json
  apps/server/src/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/lambda-utils.ts
  packages/channel/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  packages/lambda-types/src/index.ts
  packages/lambda-utils/.eslintrc.cjs
  packages/lambda-utils/package.json
  packages/lambda-utils/src/config.ts
  packages/lambda-utils/src/index.ts
  packages/lambda-utils/src/lambda-invoke.ts
  packages/lambda-utils/tsconfig.json
  pnpm-lock.yaml
Labels: release, server

#303 invite users only with email
  apps/server/src/contexts/user/user.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/organization/org-types.ts
  apps/server/src/schema/organization/organization-operations.ts
  apps/server/src/schema/user/invite-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web-old/src/graphql/generated/schema-client.ts
  apps/web-old/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/channel-utils/src/iframe-meta-helper.ts
Labels: release, server, web

#301 247 preview card enhancements
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/insight-card.tsx
  apps/web/src/app/(authenticated)/insights/components/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/middleware.ts
Labels: release, web
