Repository adsviewer/turboviewer, pull requests merged in 2024-12, with the labels that each got.

#707 706: spend is divided 2 times by 100
  apps/web/src/components/insights/insight-card.tsx
Labels: release, web

#714 modals provider fix
  apps/web/src/app/layout.tsx
Labels: release, web

#718 717 groupby position yield wrong results
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/chart-filters.tsx
  apps/web/src/util/mantine-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
Labels: release, web

#719 thresholds layout & logic
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/package.json
  apps/web/src/app/(authenticated)/insights/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/(authenticated)/summary/components/top-ads-container.tsx
  apps/web/src/components/search/search.tsx
  apps/web/src/components/thresholds/thresholds.tsx
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
  apps/web/src/util/url-query-utils.ts
  packages/channel/src/insights-query-builder.ts
  packages/channel/test/insights-query-builder.test.ts
  pnpm-lock.yaml
Labels: release, web

#725 724: retry failed reports
  packages/channel-utils/src/report-async-start.ts
  packages/channel/src/report-process.ts
Labels: release

#720 get and update insights per row user preferences
  apps/backoffice/src/graphql/generated/schema-server.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/notification/notification-operations.ts
  apps/server/src/schema/user/preferences/preferences-operations.ts
  apps/server/src/schema/user/preferences/preferences-types.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/messages/nl.json
  apps/web/src/app/(authenticated)/actions.ts
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/app/atoms/user-atoms.ts
  apps/web/src/components/insights/insights-grid.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/notifications.graphql
  apps/web/src/graphql/user.graphql
  packages/database/prisma/migrations/20241208181934_preferences/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#727 default date range in analytical view
  apps/web/src/app/(authenticated)/insights/components/order-filters.tsx
  apps/web/src/middleware.ts
Labels: release, web
