Repository adsviewer/turboviewer, pull requests merged in 2024-04, with the labels that each got.

#8 Better handling of tf secrets, fix memory in app runner
  .github/workflows/auto-update.yml
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, release, automation

#10 Add update script in ui
  .github/workflows/auto-update.yml
  .idea/vcs.xml
  apps/server/.eslintrc.cjs
  apps/server/package.json
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/web/package.json
  packages/config-eslint/library.cjs
  packages/config-eslint/package.json
  packages/config-tailwind/package.json
  packages/config-typescript/package.json
  packages/database/package.json
  packages/logger/package.json
  packages/ui/package.json
  packages/utils/package.json
  packages/utils/src/env-helper.ts
  packages/utils/src/password-helper.ts
  pnpm-lock.yaml
Labels: release, automation, server, web

#11 Enable analytics and speed insights
  .github/commit_guidelines.md
  .github/workflows/auto-update.yml
  .github/workflows/pr-labeler.yml
  apps/server/package.json
  apps/server/src/email.ts
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/app/layout.tsx
Labels: release, automation, server, web

#14 Add email txt entries and fix env var in vercel
  .idea/dataSources.xml
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/route53.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, release, feature

#15 Get ready for general release
  .idea/dataSources.xml
  .lintstagedrc.json
  README.md
  amplify.yml
  apps/server/package.json
  customHttp.yml
  infrastructure/README.md
  infrastructure/environments/local/local.tf
  infrastructure/environments/local/local_variables.tf
  infrastructure/environments/management/groups.tf
  infrastructure/environments/management/management.tf
  infrastructure/environments/management/management_outputs.tf
  infrastructure/environments/management/terraform.tf
  infrastructure/environments/management/users.tf
  infrastructure/environments/prod/prod_outputs.tf
  infrastructure/environments/prod/prod_variables.tf
  packages/database/src/config.ts
Labels: documentation, infrastructure, release, server

#16 Fix polynomial regular expression
  packages/utils/src/password-helper.ts
Labels: release

#17 Verify github domain
  infrastructure/modules/environment/route53.tf
Labels: infrastructure, release

#19 Add menu
  apps/web/public/circles.svg
  apps/web/public/next.svg
  apps/web/public/turborepo.svg
  apps/web/public/vercel.svg
  apps/web/public/wide-logo.svg
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/logo-full.tsx
  apps/web/src/app/(logged-in)/logo.tsx
  apps/web/src/app/(logged-in)/me.tsx
  apps/web/src/app/(logged-in)/placements/page.tsx
  apps/web/src/app/(logged-in)/profile/page.tsx
  apps/web/src/app/(logged-in)/profileServer/page.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/app/api/login/sign-in/route.ts
  apps/web/src/app/api/login/sign-up/route.ts
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/middleware.ts
  packages/config-tailwind/tailwind.config.ts
  packages/database/package.json
  packages/ui/src/globals.css
  packages/ui/src/tailwind-utils.ts
Labels: release, server, web

#18 added fixes while initial setup(Thanks Giorgos)
  README.md
  apps/server/package.json
  pnpm-lock.yaml
Labels: documentation, release, server

#20 Create settings Coming soon
  apps/server/src/google.ts
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/user/google-login-operations.ts
  apps/web/public/integrations/facebook-logo-icon.svg
  apps/web/public/integrations/linkedin-logo-icon.svg
  apps/web/public/integrations/tiktok-logo-icon.svg
  apps/web/src/app/(logged-in)/aside.tsx
  apps/web/src/app/(logged-in)/layout.tsx
  apps/web/src/app/(logged-in)/logo.tsx
  apps/web/src/app/(logged-in)/placements/page.tsx
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/app/(logged-in)/settings/layout.tsx
  apps/web/src/components/home/active-link.tsx
  apps/web/src/components/login/sign-in.tsx
  apps/web/src/components/login/sign-out-btn.tsx
  apps/web/src/components/login/sign-up.tsx
  apps/web/src/components/user-profile.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  package.json
  packages/database/package.json
  packages/database/prisma/migrations/20240407171823_create_integration/migration.sql
  packages/database/prisma/schema.prisma
  packages/ui/package.json
  packages/ui/src/badge.tsx
  packages/ui/src/button.tsx
  packages/utils/src/error-helper.ts
  pnpm-lock.yaml
Labels: release, server, web

#21 Server now serves the correct integration status
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
Labels: release, server, web

#22 Add better fallback in settings cards
  apps/server/package.json
  apps/server/src/config.ts
  apps/server/src/contexts/channels/fb/fb.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/app/(logged-in)/settings/integrations/card.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards-call.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
  apps/web/src/app/(logged-in)/settings/integrations/page.tsx
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  package.json
  patches/graphql@16.8.1.patch
  pnpm-lock.yaml
  turbo.json
Labels: infrastructure, release, server, web

#25 Fix fb key length restriction
  apps/server/src/config.ts
Labels: release, server

#26 Get token expiration date
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
Labels: release, server

#27 Fix Overly permissive regular expression range
  apps/server/src/contexts/channels/integration-helper.ts
Labels: release, server

#30 Remove catalog_management scope
  apps/server/src/contexts/channels/fb/fb-channel.ts
Labels: release, server

#31 Fix codegen
  .husky/pre-commit
  apps/server/package.json
  apps/server/src/schema/codegen.ts
  apps/server/src/schema/generated/schema.graphql
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  pnpm-lock.yaml
Labels: release, server, web

#32 Save Insights
  apps/server/package.json
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/schema/pubsub.ts
  apps/server/src/utils/data-object-utils.ts
  apps/server/src/utils/date-utils.ts
  apps/server/src/utils/express-utils.ts
  apps/server/src/utils/sns-subscription-utils.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/lib/urql/urql-client.ts
  packages/database/prisma/migrations/20240419165057_create_ad_tables/migration.sql
  packages/database/prisma/schema.prisma
  pnpm-lock.yaml
Labels: release, server, web

#33 Fix refresh endpoint
  apps/server/src/index.ts
Labels: release, server

#34 Force sequential execution of data refresh
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/sns.tf
Labels: infrastructure, release, server, web

#35 Don't use transaction in ad data saving
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/app/(logged-in)/initial-setup-subscription.tsx
  apps/web/src/app/(logged-in)/settings/integrations/cards.tsx
Labels: release, server, web

#36 Add delay before the first publish
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/schema/integrations/integration-operations.ts
Labels: release, server

#38 Add Docker turbo cache
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  apps/web/.env.production
Labels: release, automation, web

#39 Add slack webhook url
  infrastructure/modules/environment/frontend.tf
  infrastructure/modules/environment/server_secrets.tf
Labels: infrastructure, release

#40 Honor redirect on sign in/up
  apps/web/src/components/login/login-form.tsx
  package.json
Labels: release, web
