Repository adsviewer/turboviewer, pull requests merged in 2024-05, with the labels that each got.

#43 Install pnpm properly in Dockerfile
  apps/server/Dockerfile
Labels: release, server

#44 Update pnpm action setup
  .github/workflows/auto-update.yml
  .github/workflows/build-deploy-service.yml
  .github/workflows/ci.yml
  .github/workflows/deploy_frontend.yml
Labels: release, automation

#45 Revamp user roles and expose refresh data
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/google.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  packages/database/prisma/migrations/20240508100423_roles_revamp/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#46 Rename refreshChannels to refreshData
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#47 Add initial arg
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#48 Set insights as the default logged in page
  apps/web/src/app/[locale]/(logged-in)/page.tsx
  apps/web/src/i18n.ts
Labels: release, web

#49 Add lefteris to aws
  infrastructure/environments/management/users.tf
Labels: infrastructure, release

#50 Use lodash for groupBy and uniqueBy
  apps/server/src/contexts/channels/data-refresh.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/fb/iframe-fb-helper.ts
  apps/server/src/utils/lodash-utils.ts
Labels: release, server

#51 Disable auto deployments
  .github/workflows/build-deploy-service.yml
  .github/workflows/deploy-production.yml
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, release, automation

#52 unescaped character fix
  .github/workflows/build-deploy-service.yml
Labels: release, automation

#54 Save insights asap
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/fb/fb-channel.ts
  apps/server/src/contexts/channels/integration-helper.ts
  apps/server/src/contexts/channels/integration-util.ts
  packages/database/package.json
  packages/database/prisma/schema.prisma
  packages/database/src/client.ts
  pnpm-lock.yaml
Labels: release, server

#55 don't use neon locally
  packages/database/src/client.ts
Labels: release, server

#53 Initial grouped by filters
  apps/web/src/app/[locale]/(logged-in)/aside.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/query-string-util.ts
  apps/web/src/components/filters/grouped-checkbox.tsx
Labels: release, web

#56 Use meta instead of facebook in settings
  apps/server/src/contexts/channels/channel-helper.ts
  apps/server/src/contexts/channels/channel-interface.ts
  apps/server/src/contexts/channels/meta/iframe-meta-helper.ts
  apps/server/src/contexts/channels/meta/meta-channel.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/public/integrations/meta-logo-icon.svg
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/integration.graphql
  apps/web/src/util/types.ts
  packages/database/prisma/migrations/20240513071712_rename_integration_type_enum/migration.sql
  packages/database/prisma/schema.prisma
Labels: release, server, web

#58 Migrate to paid neon db
  .idea/dataSources.xml
  apps/server/src/contexts/channels/integration-helper.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/components/filters/multi-filter.tsx
  infrastructure/modules/environment/server_secrets.tf
  packages/database/package.json
  packages/database/src/client.ts
  packages/redis/src/cacheable.ts
  pnpm-lock.yaml
Labels: infrastructure, release, server, web

#59 fix database url regex
  packages/database/src/config.ts
Labels: release, server

#60 boost cpu and memory of server
  .idea/dataSources.xml
  infrastructure/modules/service/app_runner.tf
  packages/database/src/client.ts
Labels: infrastructure, release, server

#61 boost cpu and memory of server
  infrastructure/modules/service/app_runner.tf
  packages/redis/src/cacheable.ts
Labels: infrastructure, release

#63 introduce build lambda image action
  .github/workflows/build-deploy-lambda-image.yml
  .github/workflows/deploy-channel-ingress-production.yml
  .github/workflows/deploy-server-production.yml
  Lambda.Dockerfile
  apps/channel-ingress/.eslintrc.cjs
  apps/channel-ingress/package.json
  apps/channel-ingress/src/index.ts
  apps/channel-ingress/tsconfig.json
  apps/server/package.json
  packages/channel/src/data-refresh.ts
  packages/channel/src/integration-helper.ts
  pnpm-lock.yaml
Labels: infrastructure, release, automation, server

#65 inline pinoLambdaDestination
  packages/logger/src/index.ts
Labels: release, server, web

#66 add mode env variable
  infrastructure/modules/service/app_runner.tf
Labels: infrastructure, release, feature

#67 add lambda invoke permission to app runner
  infrastructure/modules/environment/environment.tf
Labels: infrastructure, release, feature

#68 change log format
  infrastructure/modules/environment/channel_ingress_lambda.tf
  packages/logger/src/index.ts
Labels: infrastructure, release, server, web

#69 create cloudwatch errors to slack notifications
  .github/workflows/deploy-channel-ingress-production.yml
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/channel_ingress_lambda.tf
  infrastructure/modules/environment/environment.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/service/app_runner.tf
  infrastructure/modules/service/service_outputs.tf
Labels: infrastructure, release, automation

#70 use redis for forget password functionality
  apps/server/src/email.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/user/user-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  infrastructure/modules/environment/slack.tf
  infrastructure/modules/ses/ses.tf
  package.json
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240519100218_delete_forget_passwords_table/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/package.json
  packages/redis/src/client.ts
  packages/redis/src/index.ts
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: infrastructure, release, server, web

#71 create insights id
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
Labels: release, server, web

#72 fix logger in nextjs
  apps/web/next.config.mjs
  apps/web/package.json
  packages/logger/src/index.ts
  pnpm-lock.yaml
Labels: release, server, web

#73 revoke fb connection when token is expired
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
Labels: release, server, web

#74 create fb call wrapper
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Labels: release

#76 add insightDatapoints
  .github/workflows/ci.yml
  .husky/pre-commit
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  packages/database/src/config.ts
Labels: release, automation, server, web

#79 enforce dateFrom filtering in insights
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  package.json
  packages/database/prisma/migrations/20240528082354_make_columns_mandatory/migration.sql
  packages/database/prisma/schema.prisma
  packages/utils/src/date-utils.ts
Labels: release, server

#80 introduce google login
  apps/server/package.json
  apps/server/src/auth.ts
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
  apps/server/src/contexts/login-provider/login-provider-helper.ts
  apps/server/src/contexts/login-provider/login-provider-types.ts
  apps/server/src/contexts/user.ts
  apps/server/src/google.ts
  apps/server/src/index.ts
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/index.ts
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/user/google-login-operations.ts
  apps/server/src/schema/user/social-login-operations.ts
  apps/server/src/schema/user/user-operations.ts
  apps/server/src/schema/user/user-types.ts
  apps/server/src/utils/rate-limiter.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/layout.tsx
  apps/web/src/app/[locale]/(logged-in)/toaster.tsx
  apps/web/src/app/[locale]/(login)/(normal)/login-providers-links.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-in/page.tsx
  apps/web/src/app/[locale]/(login)/(normal)/sign-up/page.tsx
  apps/web/src/app/[locale]/api/login/sign-in/route.ts
  apps/web/src/app/[locale]/layout.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/login.graphql
  packages/channel-meta/src/channel-meta.ts
  packages/channel-utils/src/channel-interface.ts
  packages/channel/src/integration-helper.ts
  packages/database/prisma/migrations/20240529090528_login_provider/migration.sql
  packages/database/prisma/schema.prisma
  packages/redis/src/ioredis.ts
  pnpm-lock.yaml
Labels: release, server, web

#81 allow channel de authentication on error
  apps/web/src/app/[locale]/(logged-in)/settings/integrations/card.tsx
  infrastructure/environments/prod/prod.tf
  infrastructure/environments/prod/prod_variables.tf
  infrastructure/modules/environment/environment_variables.tf
  infrastructure/modules/environment/server_secrets.tf
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/error-messages.ts
  packages/utils/src/index.ts
  turbo.json
Labels: infrastructure, release, web

#82 fix google env vars
  apps/server/src/config.ts
  apps/server/src/contexts/login-provider/google-login-provider.ts
Labels: release, server, feature

#83 add hasPrevious in insights call
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/schema/integrations/integration-types.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/messages/el.json
  apps/web/messages/en.json
  apps/web/src/app/[locale]/(logged-in)/insights/insights-no-call.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/insights.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/page.tsx
  apps/web/src/components/filters/pagination.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: release, server, web

#84 fix data refresh date range
  packages/channel-meta/src/channel-meta.ts
  packages/utils/src/date-utils.ts
Labels: release

#85 introduce cpm
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/insights-operations.ts
  apps/server/src/utils/insights-query-builder.ts
  apps/server/test/utils/insights-query-builder.test.ts
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/app/[locale]/(logged-in)/insights/spend.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: release, server, web

#86 use insight id
  apps/web/src/app/[locale]/(logged-in)/insights/insight.tsx
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  apps/web/src/graphql/insights.graphql
Labels: release, web

#87 add order by cpm
  apps/server/src/schema/generated/schema.graphql
  apps/server/src/schema/integrations/integration-types.ts
  apps/web/src/graphql/generated/schema-client.ts
  apps/web/src/graphql/generated/schema-server.ts
  package.json
Labels: release, server, web

#78 enhance readme with aws cli configuration
  .idea/aws.xml
  README.md
Labels: documentation, release

#88 verify domain for tiktok
  infrastructure/modules/environment/route53.tf
Labels: infrastructure, release
